﻿@using Kendo.Mvc.UI

@model Orbb.Data.ViewModels.Models.Security.UserMenuVM
@{
    Layout = "/Views/Shared/_LayoutBasic.cshtml";
    ViewBag.Title = "Home";
}

<div id="mainButtonMenu" class="btn-group" role="group">
    @{
        foreach (var menuItem in Model.MainMenuItems)
        {
                @(Html.Kendo().Button()
                    .Name("mainButtonMenuItem" + menuItem.Destination)
                    .HtmlAttributes(new { type = "button", buttonmenu = true, @class = "mainButtonMenuStyle" })
                    .Content(String.Format(@"<hr class='hr'><span class='vertical'>{1}</span>", menuItem.Description, menuItem.Description, menuItem.Destination))
                    .Events(ev => ev.Click(menuItem.Destination + "Overview"))
                    .Deferred())
                }
        }
</div>