﻿/* Detail header */
#detailHeader {
    background-color: $base-color;
}

.detailHeaderBreadcrumbs li:last-child a {
    color: $base-lighter;
}

.detailContainerContent thead .k-filter-row th {
    background-color: $base-color;
}

.detailContainerContent thead tr th {
    background-color: $base-lighter;
}

/* Scrollbar */
::-webkit-scrollbar-thumb {
    background: $base-lighter;
}

::-webkit-scrollbar-thumb:window-inactive {
    background: $base-lighter;
}

/*Grid filter*/
.k-autocomplete.k-state-hover, .k-picker-wrap.k-state-hover, .k-numeric-wrap.k-state-hover, .k-dropdown-wrap.k-state-hover {
    background-color: $base-color;
}

/*Page navigation*/

.k-state-selected {
    background-color: $base-color;
    border-color: $base-color;
}

.k-pager-wrap .k-link:hover {
    border: 1px solid $base-color !important;
}

a:focus {
    outline: 5px auto $base-color;
}

.k-grid a:focus {
    color: $base-color;
}

.k-pager-wrap .k-link:hover {
    color: $base-color;
}

.k-link:link, .k-link:visited, .k-nav-current.k-state-hover .k-link {
    color: $base-color;
}

/* Division background*/
#profileBlock {
    background-color: $base-color;
}

.k-alt, .k-separator, .k-resource.k-alt, .k-pivot-layout > tbody > tr:first-child > td:first-child {
    background-color: $table-lighter;
}

Detail Page algemeen .tabstrip-main li.k-item.k-state-default.k-tab-on-top.k-state-active {
    background-color: $base-color;
}

.detailContainerContentTabBar > ul > li:hover {
    background-color: $base-color !important;
}

.detailContainerContentTabBar ul li.k-state-active {
    border: 1px solid $base-color !important;
}

.TabBarStyle {
    border-bottom: 1px solid $base-color;
}

.form-control:focus {
    border-color: $base-color;
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075), 0 0 8px $base-color;
}

/* Groups table*/

.k-grid-header th {
    background-color: $base-lighter;
}

#pricelistproductgrid .k-grid-header, #permissionsGrid .k-grid-header {
    background-color: $base-lighter;
}

/* Pool Tabbar*/
.detailContainerContentTabBar > ul > li {
    border: 1px solid $base-color;
}


.k-tabstrip-items .k-state-default.k-state-hover {
    border-color: $base-color;
}


.mainButtonMenuStyle:hover, .mainButtonMenuStyle:active, .mainButtonMenuStyle:focus, .mainButtonMenuStyle:active:hover, .subButtonMenuStyle:hover, .subButtonMenuStyle:active, .subButtonMenuStyle:focus, .subButtonMenuStyle:active:hover {
    color: $base-color;
    border-color: $base-color;
}

/* Dropdown menu*/

#topMenuNavigation .k-button:active, #topMenuNavigation .k-button:hover, #topMenuNavigation .k-button:focus, #mainMenuNavigation .k-button:hover, #mainMenuNavigation .k-button:focus {
    background: $base-color;
}

#tma-security:hover {
    border-bottom: 2px solid $base-color;
}

/*Rates detail*/
.k-tabstrip-items .k-item.k-state-active {
    background: $base-color;
}


/*filter remove*/
.k-icon.k-i-close {
    color: $base-lighter;
}


/* fontawesome edit icon*/
.k-grid-Detail {
    color: $base-color;
}



.k-grid-Detail:hover {
    color: $base-lighter !important;
}


#addButton {
    color: $add-button;
    }

.detailContainerContentTabBar > ul > li {
    background-color: $base-color;
}

.k-grid-content td .fa-link{
    color: $base-color;
}

.k-primary{
    background-color: $base-color;

}
.k-primary.k-state-hover, .k-primary:hover{
    background-color: $base-lighter !important;
}


    /* Images Should all be replaced by fontawesome */
    /*.k-grid-Detail:hover, .k-grid-Edit:focus {
    background-image: url(/Images/edit#{$image-color-name}.png) !important;
}*/
    /*#addButton:hover {
    background-image: url(/Images/add#{$image-color-name}.png);
}*/
    /*#logoutIcon:hover {
    background-image: url(/Images/logout#{$image-color-name}.png) !important;
}*/
    /* This png should be renamed to buttonmenugreen*/
    /*#mainMenuIcon:hover {
    background-image: url(/images/buttonmenu#{$image-color-name}.png) !important;
}*/
    /* This png should be renamed to dropdownmenugreen*/
    /*#openMenuIcon:hover {
    background-image: url(/images/dropdownmenu#{$image-color-name}.png) !important;
}*/
