﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
    font-family: 'Open Sans';
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

hr {
    border-width: 3px;
    margin: 20px;
}


/*LOGIN*/
.loginscreen {
    margin-top: 10%;
    height: 500px;
    background-color: #0c53a2;
    -moz-box-shadow: inherit;
    -webkit-box-shadow: inherit;
    box-shadow: 5px 5px 5px #888888;
}

.loginheader {
    text-align: center;
    font-size: 28px;
    color: white;
    margin-top: 15px;
}

.buffer {
    margin-top: 25px;
}

.form-control {
    text-align: center;
    font-size: 20px;
    text-transform: uppercase;
    width: 80%;
    height: 60px;
    display: block;
    border: none;
    background-size: contain;
    background-position: center;
    margin: auto;
}

.loginScreenButton {
    color: #0c53a2;
    text-align: center;
    font-size: 20px;
    text-transform: uppercase;
    width: 80%;
    height: 60px;
    display: block;
    border: none;
    background-color: #5587be;
    background-size: contain;
    background-position: center;
    margin: auto;
}

    .loginScreenButton:hover {
        color: #0c53a2;
        background-color: #ffffff;
    }

.loginfooter {
    margin-top: 50px;
    text-align: center;
}
.form-control{
text-transform:none!important;
}
/*MAINMENU*/
#mainButtonMenu {
    /*line-height: 4em;
    background: none;*/
    margin-left:25%;
    margin-right:10%;
    width: 80%;
    height: 80%;
    /*position: fixed;
    top: 50%;
    left: 50%;*/
    /*transform: translate(-50%,-50%);*/
}

#subButtonMenu {
    line-height: 4em;
    background: none;
    width: 80%;
    height: 80%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.mainButtonMenuStyle {
    height: 350px;
    width: 350px;
    /*width: 14%;*/
    max-width: 400px;
    font-size: 15px;
    color: #9a9e99;
    box-shadow: 2px 2px 8px black;
    margin-right: 3%;
    margin-top: 3%;
    border-radius: 0;
    float:left;
}

    .mainButtonMenuStyle:nth-child(4n+4) { 
        clear:left;
        display: block;
    }

.subButtonMenuStyle {
    height: 220px;
    width: 220px;
    /*width: 14%;*/
    max-width: 220px;
    font-size: 15px;
    color: #9a9e99;
    box-shadow: 3px 3px 10px black;
    margin-right: 2%;
    margin-top: 2%;
    border-radius: 0;
}

.mainButtonMenuStyle:hover, .mainButtonMenuStyle:active, .mainButtonMenuStyle:focus, .mainButtonMenuStyle:active:hover, .subButtonMenuStyle:hover, .subButtonMenuStyle:active, .subButtonMenuStyle:focus, .subButtonMenuStyle:active:hover {
        color: #0c53a2;
        background-color: #fff;
        border-color: #0c53a2;
    }

#mainButtonMenuItemresidents {
    background-image: url('/Images/Menu/icon_bewoners.png');
    background-position: 50% 20%;
    background-color: white;
    background-size: 60%;
    background-repeat: no-repeat;
}

#mainButtonMenuItemorders {
    background-image: url('/Images/Menu/icon_bestellingen.png');
    background-position: 50% 20%;
    background-color: white;
    background-size: 60%;
    background-repeat: no-repeat;
}

#mainButtonMenuItemproducts {
    background-image: url('/Images/Menu/icon_producten.png');
    background-position: 50% 20%;
    background-color: white;
    background-size: 60%;
    background-repeat: no-repeat;
}

#mainButtonMenuItemstatistics {
    background-image: url('/Images/Menu/icon_statistieken.png');
    background-position: 50% 20%;
    background-color: white;
    background-size: 60%;
    background-repeat: no-repeat;
}

#mainButtonMenuItemsettings {
    background-image: url('/Images/Menu/icon_beheer.png');
    background-position: 50% 20%;
    background-color: white;
    background-size: 60%;
    background-repeat: no-repeat;
}

#mainButtonMenuItemprint {
    background-image: url('/Images/Menu/icon_print.png');
    background-position: 50% 20%;
    background-color: white;
    background-size: 60%;
    background-repeat: no-repeat;
}

.menuText {
    font-size: 1.2em;
    text-align:center;
}
.menuTitle {
    font-size: 3em;
    text-align:center;

}
.hr {
    width: 80%;
    height: 70%;
    margin: auto;
    border-bottom: 2px solid #9a9e99;
    border-top: 0;
}
/*SETTINGSMENU*/
#settingsButtonMenuItemuserprofiles {
    background-image: url('/Images/Menu/icon_profielen.png');
    background-position: 50% 20%;
    background-color: white;
    background-size: 60%;
    background-repeat: no-repeat;
}
#settingsButtonMenuItemstructure {
    background-image: url('/Images/Menu/icon_structuur.png');
    background-position: 50% 20%;
    background-color: white;
    background-size: 60%;
    background-repeat: no-repeat;
}
#settingsButtonMenuItemhelp {
    background-image: url('/Images/Menu/icon_help.png');
    background-position: 50% 20%;
    background-color: white;
    background-size: 60%;
    background-repeat: no-repeat;
}