﻿/*Kendo reset*/
.k-grid table {
    border: 1px solid #CCCCCC;
}

.k-grid td {
    /*border:none!important;*/
    border-color: #DDDDDD !important;
    border-width: 1px 0 0 0 !important;
}

.k-filter-row th, .k-grid-header th.k-header {
    border-width: 0 0 1px 0 !important;
}

.k-grid-toolbar {
    background-color: green;
    max-height: 50px;
}

.k-widget .k-grid {
    margin-top: 25px;
}

.k-widget.k-tabstrip {
    padding-bottom: 20px;
}

.k-button {
    background: none;
    width: 50px;
    height: 40px;
    border-radius: 0px;
    min-width: 0 !important;
}

    .k-button:hover {
        background: none;
        width: 50px;
        height: 40px;
    }

.k-block, .k-draghandle, .k-inline-block, .k-widget {
    border: none !important;
}
/* Scale on hover */
.grow {
    transition: all .2s ease-in-out;
}

    .grow:hover {
        transform: scale(1.1);
    }

.k-grid-add, .k-grid-add:hover, .addRow, .k-grid-add:active {
    background: url('../images/LayOut/addwhite.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 25px;
    min-width: 25px !important;
    max-width: 25px !important;
    height: 25px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: none;
}


    .k-grid-add:hover {
        background-color: none !important;
    }

.k-grid-new, .k-grid-new:hover, .k-grid-new:active {
    background: url('../images/LayOut/addwhite.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 25px;
    min-width: 25px !important;
    max-width: 25px !important;
    height: 25px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: none;
}

    .k-grid-new:hover {
        background-color: none !important;
    }

#timepicker_timeview {
    background-color: white !important;
    height: 100% !important;
}

.k-animation-container .k-reset {
    background-color: white !important;
    /*height:100% !important;*/
}
/*Custom buttons*/
.k-grid-ViewDetails {
    background: url('../Images/LayOut/icon_edit.png') no-repeat;
    text-indent: -9999px;
    display: inline-block;
    width: 30px;
    height: 25px;
    background-size: 25px;
    background-position: center center;
    vertical-align: middle;
    line-height: 32px;
    /*margin-left: 5px;*/
    border: none;
}

    .k-grid-ViewDetails:hover, .k-grid-ViewDetails:active {
        background: url('../Images/LayOut/icon_edit.png') no-repeat;
        text-indent: -9999px;
        display: inline-block;
        width: 30px;
        height: 25px;
        background-size: 25px;
        background-position: center center;
        vertical-align: middle;
        line-height: 32px;
        /*margin-left: 5px;*/
    }

.k-grid-edit {
    background: url('../Images/LayOut/icon_edit.png') no-repeat;
    text-indent: -9999px;
    display: inline-block;
    width: 30px;
    height: 25px;
    background-size: 25px;
    background-position: center center;
    vertical-align: middle;
    line-height: 32px;
    /*margin-left: 5px;*/
    border: none;
}

    .k-grid-edit:hover, .k-grid-edit:active {
        background: url('../Images/LayOut/icon_edit.png') no-repeat;
        text-indent: -9999px;
        display: inline-block;
        width: 30px;
        height: 25px;
        background-size: 25px;
        background-position: center center;
        vertical-align: middle;
        line-height: 32px;
        /*margin-left: 5px;*/
    }

.k-grid-Delete, .k-delete {
    background: url('../Images/LayOut/icon_delete.png') no-repeat;
    text-indent: -9999px;
    display: inline-block;
    width: 30px;
    height: 25px;
    background-size: 25px;
    background-position: center center;
    vertical-align: middle;
    line-height: 32px;
    /*margin-left: 5px;*/
    border: none;
}

    .k-grid-Delete:hover, .k-delete:hover, .k-grid-Delete:active, .k-delete:active {
        background: url('../Images/LayOut/icon_delete.png') no-repeat;
        text-indent: -9999px;
        display: inline-block;
        width: 30px;
        height: 25px;
        background-size: 25px;
        background-position: center center;
        vertical-align: middle;
        line-height: 32px;
        /*margin-left: 5px;*/
    }

#UserOverviewStrip-1 {
    display: none !important;
}

#UserOverviewGrid {
    padding: 20px;
}

/*PopUp*/
.ChooseProductsPopUp {
    margin-left: 30px;
    margin-right: 30px;
    height: auto;
}
/*productallocation grid*/
.productAllocation ul, ol {
    margin-left: -20px !important;
}
/*productlinegrid*/
.productLineHeader {
    color: white;
}

.k-grid-add .k-icon {
    background: none;
}

.productAllocation .k-grid-new {
    margin-right: 14px;
}

.k-grid .k-button {
    border: 0 !important;
}

.edit_product_line .k-grid-toolbar {
    background-color: lightgrey !important;
    min-height: 15px !important;
    max-height: 15px !important;
    padding: 5px !important;
    padding-bottom: 10px !important;
}

.edit_product_line .k-grid-add {
    -ms-transform: scale(0.5, 0.5); /* IE 9 */
    -webkit-transform: scale(0.5, 0.5); /* Safari */
    transform: scale(0.5, 0.5);
}

.edit_product_line .k-grid {
    margin-top: 10px !important;
}

.header_product_line tbody {
    display: none;
}

.edit_product_line .k-grid-header {
    display: none;
}

.colorbox {
    height: 20px;
    width: 20px;
}

.colorboxSmall {
    height: 15px;
    width: 15px;
    /*vertical-align: text-bottom;*/
}

.circleBox {
    padding-top: 3px;
    padding-right: 10px;
}

.productPropertyBox {
    padding-right: 10px;
    color: lightgrey;
}

.circleBase {
    border-radius: 50%;
    behavior: url(PIE.htc); /* remove if you don't care about IE8 */
}

.productsView {
    vertical-align: top !important;
}

    .productsView table, .productsView tr, .productsView td {
        border: none !important;
    }

    .productsView td {
        padding-right: 20px;
        height: 15px;
    }

.check-img {
    display: inline-block;
    width: 30px;
    height: 25px;
    background-position: center center;
    vertical-align: middle;
    line-height: 32px;
    margin-left: 5px;
}
