﻿.contentwrapper {
    width: 100%;
    min-height: 100%;
    display: block;
    background: url('/Images/LayOut/background_2400x1600.png') center no-repeat;
    background-size: cover;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
/*HEADER*/
header {

    /*margin-top: -35px;*/
    height:6%;
    background-color:#0c53a2;
    /*opacity: 0.85;*/
    width: 100%;
    padding-left: 50px;
    padding-right: 50px;

    }
.leftMenu {
    padding-top:10px;
    display:block;
    float:left;
    height:100%;

}
.leftMenu a{
    color:white;
    font-size:30px;
}
.leftMenu a:hover{

    text-decoration:none;
}
.rightMenu {
    padding-top:10px;
    float:right;
    height:100%;
    color:white;
    font-size:28px;
    /*margin-top:20px;*/
}
.rightMenu a{
    color:white;
    font-size:30px;
}
.rightMenu a:hover{

    text-decoration:none;
}

.headertext{
    font-size: 28px;
    color:white;
}
.languageBlock{
    float:right;
    margin-left:25px;
}
.profileBlock{
float:right;
margin-left:25px;
}
.logOutBlock{
    float:right;
    margin-left:25px;
}
/*Subheader*/
.subheader{
    height:4%;
    background-color:whitesmoke;
    opacity: 0.85;
    width: 100%;
    padding-left: 50px;
    padding-right: 50px;
}
.subLeftMenu {

    display:block;
    float:left;
    height:100%;
    margin-top:10px;
}
.subRightMenu {

    display:block;
    float:right;
    height:100%;
    margin-top:10px;
  
}
/*Content*/
.activeLanguage {
    color: #3dae4a !important;
}
.language {
    float: left;
    margin-left:10px;

}
