﻿@using Kendo.Mvc.UI
@using Microsoft.Extensions.Localization
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    @inject IStringLocalizer LocString
    Layout = "/Views/Shared/_Layout.cshtml";
    ViewBag.Title = LocString["M_LENSSETS"];
}

<div id="detailHeader">
    <div id="detailHeaderTitle">
        <ul class="detailHeaderBreadcrumbs">
            <li id="detailHeaderIconBreadcrumb-Rates"><a href="/"><i class="fas fa-th-large"></i>&nbsp;/</a></li>
            <li><a href="#">@ViewBag.Title</a></li>
        </ul>
    </div>
</div>
<div id="detailContainer">
    <div class="detailContainerContent">
        @(Html.Kendo().Grid<Orbb.Data.Models.Models.Views.LensView>()
            .Name("grid").HtmlAttributes(new { @class = ViewBag.Readonly != "true" ? "overviewGrid has-add-button ondblclick-opendetail" : "overviewGrid", data_url_add = "/LensSets/detail/index/0" })
            .Columns(columns =>
            {
                columns.Bound(c => c.SupplierName).Title(LocString["G_SUPPLIERNAME"]).Filterable(ftb => ftb.Cell(cell => cell.Operator("contains")));
                columns.Bound(c => c.Name).Title(LocString["G_NAME"]).Filterable(ftb => ftb.Cell(cell => cell.Operator("contains")));
                columns.Bound(c => c.ComputedLensCount).Title(LocString["G_DIAMETER"]).Filterable(ftb => ftb.Cell(cell => cell.Operator("contains")));
                columns.Bound(c => c.TypeName).Title(LocString["G_TYPE"]).Filterable(ftb => ftb.Cell(cell => cell.Operator("contains")));
                columns.Bound(c => c.LandingZoneBaseName).Title(LocString["G_LANDINGZONEBASE"]).Filterable(ftb => ftb.Cell(cell => cell.Operator("contains")));

                columns.Command(command =>
                {
                    command.Custom("Detail").Text(" ").Click("showDetails").IconClass("fas fa-pencil-alt");
                    if (ViewBag.Readonly != "true")
                    {
                        command.Custom("Export").Text(" ").Click("Export_handler").IconClass("fas fa-download");
                        command.Custom("Delete").Text(" ").Click("delete_handler").IconClass("far fa-trash-alt");
                    }
                }).Width(100);
            })
            .Editable(edit => edit.DisplayDeleteConfirmation(false))
            .Pageable()
            .Sortable()
            .Selectable()
            .Scrollable(s => s.Height("100%"))
            .Filterable(ftb => ftb.Mode(GridFilterMode.Row))
            .DataSource(dataSource => dataSource
                .Ajax()
                .PageSize(20)
                .Read(read => read.Action("LensDatasets_Overview", "Overview"))
                .Destroy(delete => delete.Action("DeleteItem", "Overview"))
                .Events(events => events.Error("error_handler"))
                .Model(model => model.Id(m => m.Id))
            )
            .Deferred()
        )

    </div>
</div>

@section Scripts {
    <environment names="Development">
        <script src="~/js/kendoGridSizing.js"></script>
        <script src="~/js/Lenssets/Lenssets.overview.js"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="~/js/kendoGridSizing.js" asp-append-version="true"></script>
        <script src="~/js/Lenssets/Lenssets.overview.min.js" asp-append-version="true"></script>
    </environment>
    <script>
        var noHint = $.noop;

        function placeholder(element) {
            return element.clone().addClass("k-state-hover").css("opacity", 0.65);
        }

        function onChange(e) {
            const grid = $("#grid").data("kendoGrid");
            const skip = grid.dataSource.skip();
            const newIndex = e.newIndex + skip;
            const data = grid.dataSource.data();
            const dataItem = grid.dataSource.getByUid(e.item.data("uid"));

            grid.dataSource.remove(dataItem);
            grid.dataSource.insert(newIndex, dataItem);

            
            const jsonBuilder = [];
            for (let i = 0; i < data.length; i++) {
                jsonBuilder.push({ Id: data[i].id, DisplayOrder: i + 1 });
            }
            const toReturn = JSON.stringify(jsonBuilder);

            $.ajax({
                type: 'POST',
                url: '/LensDataSets/Overview/UpdateDisplayOrder/',
                contentType: "application/json; charset=utf-8",
                data: toReturn,
                dataType: 'json',
                success: function (msg) {
                    alert(msg);
                }
            });

        }

    </script>
}