﻿@using Kendo.Mvc.UI
@using Microsoft.Extensions.Localization
@using Orbb.Data.ViewModels.Models.Security
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    @inject IStringLocalizer LocString;

    Layout = "/Views/Shared/_Layout.cshtml";
    ViewBag.Title = LocString["M_USERGROUPS"];
    ViewBag.Title2 = LocString["M_SECURITY"];
    ViewBag.Title3 = LocString["M_USERGROUPS"];
}

<script type="text/javascript">

    function showUserGroupDetail(e) {
        e.preventDefault();

        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
        document.location.href = "/Security/UserGroupDetail/index/" + dataItem.Id;
    }
</script>

<div id="detailHeader">
    <div id="detailHeaderTitle">
        <ul class="detailHeaderBreadcrumbs">
            <li id="detailHeaderIconBreadcrumb-Home"><a href="/"><i class="fas fa-th-large"></i>&nbsp;/</a></li>
            <li id="detailHeaderIconBreadcrumb-Security"><a href="/security/menu/">@ViewBag.Title2 /</a></li>
            <li><a href="#">@ViewBag.Title3</a></li>
        </ul>
    </div>
</div>
<div id="detailContainer">
    <div class="detailContainerContent">
        @(Html.Kendo().Grid<UserGroupDetailVM>
    ()
    .Name("usergroupsgrid")
    .HtmlAttributes(new { @class = ViewBag.Readonly != "true" ? "overviewGrid has-add-button ondblclick-opendetail" : "overviewGrid", data_url_add = "/security/UserGroupDetail/index/0" })
    .Columns(columns =>
    {
        columns.Bound(u => u.Id).Hidden();
        columns.Bound(u => u.Description).Title(LocString["G_DESCRIPTION"]);
        if (ViewBag.Readonly != "true")
        { columns.Command(command => command.Custom("Detail").Text(" ").Click("showUserGroupDetail").IconClass("fas fa-pencil-alt")).Width(90); }
    })
    .Sortable()
    .Selectable()
    .Filterable(ftb => ftb.Mode(GridFilterMode.Row))
    .DataSource(dataSource => dataSource
    .Ajax()
    .PageSize(16)
    .Read(read => read.Action("UserGroups_Read", "UserGroups"))
    )
    .Deferred()
    )

</div>
</div>

@section Scripts {
    <script src="~/js/kendoGridSizing.js" asp-append-version="true"></script>
}