﻿@using Kendo.Mvc.UI
@using Microsoft.Extensions.Localization
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    @inject IStringLocalizer LocString
    Layout = "/Views/Shared/_Layout.cshtml";
    ViewBag.Title = LocString["M_CUSTOMERS"];
}

<div id="detailHeader">
    <div id="detailHeaderTitle">
        <ul class="detailHeaderBreadcrumbs">
            <li id="detailHeaderIconBreadcrumb-Rates"><a href="/"><i class="fas fa-th-large"></i>&nbsp;/</a></li>
            <li><a href="#">@ViewBag.Title</a></li>
        </ul>
    </div>
</div>
<div id="detailContainer">
    <div class="detailContainerContent">
        @(Html.Kendo().Grid<Orbb.Data.Models.Models.Views.CustomerView>()
            .Name("grid").HtmlAttributes(new { @class = ViewBag.Readonly != "true" ? "overviewGrid has-add-button ondblclick-opendetail" : "overviewGrid", data_url_add = "/Customers/detail/index/0" })
            .Columns(columns =>
            {
                columns.Bound(c => c.Name).Title(LocString["G_NAME"]).Filterable(ftb => ftb.Cell(cell => cell.Operator("contains")));
                columns.Bound(c => c.Email).Title(LocString["G_EMAIL"]).Filterable(ftb => ftb.Cell(cell => cell.Operator("contains")));
                columns.Bound(c => c.UsedLenssetCount).Title(LocString["G_LENSCOUNT"]).Filterable(ftb => ftb.Cell(cell => cell.Operator("eq")));


                columns.Command(command =>
                {
                    command.Custom("Detail").Text(" ").Click("showDetails").IconClass("fas fa-pencil-alt");
                    if (ViewBag.Readonly != "true")
                    {
                        command.Custom("Delete").Text(" ").Click("delete_handler").IconClass("far fa-trash-alt");
                    }
                }).Width(90);
            })
            .Editable(edit => edit.DisplayDeleteConfirmation(false))
            .Pageable()
            .Sortable()
            .Selectable()
            .Scrollable(s => s.Height("100%"))
            .Filterable(ftb => ftb.Mode(GridFilterMode.Row))
            .DataSource(dataSource => dataSource
                .Ajax()
                .PageSize(15)
                .Read(read => read.Action("Customers_Overview", "Overview"))
                .Destroy(delete => delete.Action("DeleteItem", "Overview"))
                .Events(events => events.Error("error_handler"))
                .Model(model => model.Id(m => m.Id))
            )
            .Deferred()
        )
    </div>
</div>

@section Scripts {
    <environment names="Development">
        <script src="~/js/kendoGridSizing.js"></script>
        <script src="~/js/Customers/customers.overview.js"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="~/js/kendoGridSizing.js" asp-append-version="true"></script>
        <script src="~/js/Customers/customers.overview.min.js" asp-append-version="true"></script>
    </environment>
}