﻿@using Kendo.Mvc.UI
@using Microsoft.Extensions.Localization
@using Orbb.Data.Models.Models.Views
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    @inject IStringLocalizer LocString
    Layout = "/Views/Shared/_Layout.cshtml";
    ViewBag.Title = LocString["M_USERS"];
    ViewBag.Title2 = LocString["M_SECURITY"];
    ViewBag.Title3 = LocString["M_USERS"];
}

<script type="text/javascript">
    function showUserDetail(e) {
        e.preventDefault();

        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
        document.location.href = "/Security/UserDetail/index/" + dataItem.Id;
    }
</script>

<div id="detailHeader">
    <div id="detailHeaderTitle">
        <ul class="detailHeaderBreadcrumbs">
            <li id="detailHeaderIconBreadcrumb-Home"><a href="/"><i class="fas fa-th-large"></i>&nbsp;/</a></li>
            <li id="detailHeaderIconBreadcrumb-Security"><a href="/security/menu/"> @ViewBag.Title2 /</a></li>
            <li><a href="#">@ViewBag.Title3</a></li>
        </ul>
    </div>
</div>
<div id="detailContainer">
    <div class="detailContainerContent">
        @(Html.Kendo().Grid<UserView>()
                .Name("usergrid")
                .HtmlAttributes(new { @class = ViewBag.Readonly != "true"? "overviewGrid has-add-button ondblclick-opendetail" : "overviewGrid", data_url_add = "/security/userdetail/index/0" })
                .Columns(columns =>
                {
                    columns.Bound(u => u.FirstName).Title(LocString["G_FIRSTNAME"]).Filterable(ftb => ftb.Cell(cell => cell.Operator("contains")));
                    columns.Bound(u => u.LastName).Title(LocString["G_LASTNAME"]).Filterable(ftb => ftb.Cell(cell => cell.Operator("contains")));
                    columns.Bound(u => u.EmailAddress).Title(LocString["CUSU_EMAIL"]).Filterable(false);
                    columns.Bound(u => u.UserName).Title(LocString["G_USERNAME"]).Filterable(false);
                    if (ViewBag.Readonly != "true")
                    { columns.Command(command => command.Custom("Detail").Text(" ").Click("showUserDetail").IconClass("fas fa-pencil-alt")).Width(90);
                    } })
            .Pageable()
            .Sortable()
            .Selectable()
            .Scrollable(s => s.Height("100%"))
            .Filterable(ftb => ftb.Mode(GridFilterMode.Row))
            .DataSource(dataSource => dataSource
            .Ajax()
            .PageSize(15)
            .Read(read => read.Action("Users_Read", "Users"))
            )
            .Deferred()
        )
    </div>
</div>

@section Scripts {
    <script src="~/js/kendoGridSizing.js" asp-append-version="true"></script>
}