﻿@using Kendo.Mvc.UI
@using Orbb.Data.Common
@using Microsoft.Extensions.Localization
@using Orbb.Admin.ViewModels
@using Orbb.Data.ViewModels.Models.Globalization
@using System.Net
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model Orbb.Data.ViewModels.Models.LensSuppliers.LensSupplierVM
@{

    @inject IStringLocalizer LocString;
    @inject ICurrent<LanguageModel> currentLanguageVM;
    ViewBag.Title = @LocString["G_DETAIL_LENSSUPPLIER"];
    ViewBag.Title2 = LocString["M_LENSSUPPLIERS"];
    var currentLanguage = currentLanguageVM?.GetCurrent()?.ShortCode;

    Layout = "/Views/Shared/_Layout.cshtml";
}

@section css {
    @{ await Html.RenderPartialAsync("_UploadPluginCss", false); }
}

<div id="detailHeader">
    <div id="detailHeaderTitle">
        <ul class="detailHeaderBreadcrumbs">
            <li id="detailHeaderIconBreadcrumb-Home"><a href="/"><i class="fas fa-th-large"></i>&nbsp;/</a></li>
            <li id="detailHeaderIconBreadcrumb-Overview"><a href="@Url.Action("Index", "Overview")">@ViewBag.Title2 /</a></li>
            <li><a href="#">@LocString["G_DETAIL"]</a></li>
        </ul>
    </div>
</div>

<div id="detailContainer">
    <div id="commandButtons"></div>

    <form asp-controller="detail" asp-route-area="LensSuppliers" asp-action="update" method="post" class="form-horizontal" role="form">
        <div class="detailContainerContentTabBar">

            <ul class="TabBarStyle tabstrip-main">
                <li class="k-state-active" id="tabBarGeneral">
                    @LocString["G_GENERAL"]
                </li>
            </ul>

            <div class="detailContainerContentDetails scrollableContent">
                @if (ViewBag.Readonly != "true")
                {
                    <div class="form-group hidden">
                        <input asp-for="@Model.Id" />
                    </div>
                }
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label class="col-sm-12 control-label changeRequest">@LocString["G_NAME"]</label>
                            <div class="col-sm-9">
                                <input asp-for="@Model.Name" class="form-control" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label class="col-sm-12 control-label changeRequest">@LocString["G_EMAIL"]</label>
                            <div class="col-sm-9">
                                <input asp-for="@Model.EmailAdress" class="form-control" />
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </form>
</div>

@await Html.PartialAsync("_ImageGallery", "")

@section Scripts {
    @{ await Html.RenderPartialAsync("_UploadPluginScripts", false);}

    <environment names="Development">
        <script src="~/js/LensSuppliers/lensSuppliers.detail.js"></script>
        @if (ViewBag.Readonly != "true")
        {
            <script src="~/js/core/custom.form.change.js"></script>
        }
    </environment>
    <environment names="Staging,Production">
        <script src="~/js/LensSuppliers/lensSuppliers.detail.min.js" asp-append-version="true"></script>
        @if (ViewBag.Readonly != "true")
        {
            <script src="~/js/core/custom.form.change.min.js" asp-append-version="true"></script>
        }
    </environment>
}