﻿@using Kendo.Mvc.UI
@using Orbb.Data.Common
@using Microsoft.Extensions.Localization
@using Orbb.Admin.ViewModels
@using Orbb.Data.ViewModels.Models.Globalization
@using System.Net
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model Orbb.Data.ViewModels.Models.Base.CountryVM;
@{

    @inject IStringLocalizer LocString;
    @inject ICurrent<LanguageModel> currentLanguageVM;
    ViewBag.Title = @LocString["G_DETAIL_COUNTRIES"];
    ViewBag.Title2 = LocString["M_COUNTRIES"];
    var currentLanguage = currentLanguageVM?.GetCurrent()?.ShortCode;
    Layout = "/Views/Shared/_Layout.cshtml";
}

@section css {
    @{ await Html.RenderPartialAsync("_UploadPluginCss", false); }
}

<div id="detailHeader">
    <div id="detailHeaderTitle">
        <ul class="detailHeaderBreadcrumbs">
            <li id="detailHeaderIconBreadcrumb-Home"><a href="/"><i class="fas fa-th-large"></i>&nbsp;/</a></li>
            <li id="detailHeaderIconBreadcrumb-Overview"><a href="@Url.Action("Index", "Overview")">@ViewBag.Title2 /</a></li>
            <li><a href="#">@LocString["G_DETAIL"]</a></li>
        </ul>
    </div>
</div>

<div id="detailContainer">
    <div id="commandButtons"></div>

    <form asp-controller="detail" asp-route-area="Countries" asp-action="update" method="post" class="form-horizontal" role="form">
        <div class="detailContainerContentTabBar">

            <ul class="TabBarStyle tabstrip-main">
                <li class="k-state-active" id="tabBarGeneral">
                    @LocString["G_GENERAL"]
                </li>
                <li class="k-state-default" id="tabBarLenssets">
                    @LocString["G_LENSSETS"]
                </li>
            </ul>


            @* Customer details *@
            <div class="detailContainerContentDetails scrollableContent">
                @if (ViewBag.Readonly != "true")
                {
                    <div class="form-group hidden">
                        <input asp-for="@Model.Id" />
                    </div>
                }
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="col-sm-12 control-label changeRequest">@LocString["G_NAME"]</label>
                            <div class="col-sm-9">
                                <input asp-for="@Model.Description" class="form-control" />
                                <span asp-validation-for="@Model.Description"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            @* Lens sets*@
            <div class="detailContainerContent scrollableContent">
                <div class="form-group hidden" id="UsedLenssets">
                    @if (Model.AvailableLenssets != null)
                    {
                        foreach (var lensset in Model.AvailableLenssets)
                        {
                            <input class="initialLensset" value="@lensset.Id" />
                        }
                    }
                </div>
                
                @(Html.Kendo().Grid<Orbb.Data.ViewModels.Models.Customers.LenssetVM>()
                    .Name("grid").HtmlAttributes(new { @class = "overviewGrid" })
                    .Columns(columns =>
                    {
                        columns.Select().Width(20);
                        columns.Bound(p => p.Name).Title(@LocString["G_NAME"]).Width(200).Filterable(ftb => ftb.Cell(cell => cell.Operator("contains")));
                        columns.Bound(p => p.TypeName).Title(@LocString["G_TYPE"]).Width(200).Filterable(ftb => ftb.Cell(cell => cell.Operator("contains")));
                        columns.Bound(p => p.LensDiameter).Title(@LocString["G_DIAMETER"]).Width(200).Filterable(ftb => ftb.Cell(cell => cell.Operator("eq")));
                        columns.Bound(p => p.Supplier).Title(@LocString["G_SUPPLIER"]).Width(200).Filterable(ftb => ftb.Cell(cell => cell.Operator("contains")));
                    })
                    .Pageable()
                    .PersistSelection()
                    .Sortable()
                    .Events(events => events
                        .DataBound("onDataBound")
                        .Change("onChange")
                    )
                    .Filterable(ftb => ftb.Mode(GridFilterMode.Row))
                    .DataSource(datasource => datasource
                        .Ajax()
                        .Batch(true)
                        .PageSize(15)
                        .ServerOperation(false)
                        .Events(events => events.Error("error_handler"))
                        .Model(model =>
                        {
                            model.Id(p => p.Id);
                            model.Field(p => p.Name);
                            model.Field(p => p.Type);
                            model.Field(p => p.TypeName);
                            model.Field(p => p.LensDiameter);
                            model.Field(p => p.Supplier);
                        })
                        .Read(read => read.Action("GetLensesForCountry", "Data", new { Area = "", countryId = Model.Id }))
                        .Sort(sort => sort.Add("Name").Ascending())
                    )
                    .Deferred()
                )
            </div>
        </div>
    </form>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_UploadPluginScripts", false); }

    <environment names="Development">
        <script src="~/js/kendoGridSizing.js"></script>
        <script src="~/js/Countries/countries.detail.js"></script>
        @if (ViewBag.Readonly != "true")
        {
            <script src="~/js/core/custom.form.change.js"></script>
        }
    </environment>
    <environment names="Staging,Production">
        <script src="~/js/kendoGridSizing.js" asp-append-version="true"></script>
        <script src="~/js/Countries/countries.detail.min.js" asp-append-version="true"></script>
        @if (ViewBag.Readonly != "true")
        {
            <script src="~/js/core/custom.form.change.min.js" asp-append-version="true"></script>
        }
    </environment>
}