/** 
 * Kendo UI v2017.3.913 (http://www.telerik.com/kendo-ui)                                                                                                                                               
 * Copyright 2017 Telerik AD. All rights reserved.                                                                                                                                                      
 *                                                                                                                                                                                                      
 * Kendo UI commercial licenses may be obtained at                                                                                                                                                      
 * http://www.telerik.com/purchase/license-agreement/kendo-ui-complete                                                                                                                                  
 * If you do not own a commercial license, this file shall be governed by the trial license terms.                                                                                                      
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       

*/
@accent: #7ea700;
@base: #fff;
@background: #fff;

@border-radius: 0;

@normal-background: #fff;
@normal-text-color: #787878;
@normal-gradient: none;
@hover-background: #8ebc00;
@hover-text-color: #fff;
@hover-gradient: "#8ebc00 0%, #8ebc00 100%";
@selected-background: #7ea700;
@selected-text-color: #fff;
@selected-gradient: none;

@error: #ffded7;
@warning: #ffe44d;
@success: #ddffd0;
@info: #d0f8ff;

@series-a: #8ebc00;
@series-b: #309b46;
@series-c: #25a0da;
@series-d: #ff6900;
@series-e: #e61e26;
@series-f: #d8e404;

// graphics
@image-folder: "Metro";
@texture: none;
@fallback-texture: url('textures/highlight.png');

@import "type-metro.less";
