/** 
 * Kendo UI v2017.3.913 (http://www.telerik.com/kendo-ui)                                                                                                                                               
 * Copyright 2017 Telerik AD. All rights reserved.                                                                                                                                                      
 *                                                                                                                                                                                                      
 * Kendo UI commercial licenses may be obtained at                                                                                                                                                      
 * http://www.telerik.com/purchase/license-agreement/kendo-ui-complete                                                                                                                                  
 * If you do not own a commercial license, this file shall be governed by the trial license terms.                                                                                                      
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       

*/
/* Kendo skin */
.k-theme-test-class,
.ktb-theme-id-fiori {
  opacity: 0;
}
.ktb-var-accent {
  color: #007cc0;
}
.ktb-var-base {
  color: #f2f2f2;
}
.ktb-var-background {
  color: #fff;
}
.ktb-var-border-radius {
  border-radius: 0;
}
.ktb-var-normal-background {
  color: #fff;
}
.ktb-var-normal-gradient {
  background-image: none;
}
.ktb-var-normal-text-color {
  color: #333;
}
.ktb-var-hover-background {
  color: #eaeaea;
}
.ktb-var-hover-gradient {
  background-image: none;
}
.ktb-var-hover-text-color {
  color: #333;
}
.ktb-var-selected-background {
  color: #007cc0;
}
.ktb-var-selected-gradient {
  background-image: none;
}
.ktb-var-selected-text-color {
  color: #fff;
}
.ktb-var-error {
  color: #ffd7d7;
}
.ktb-var-warning {
  color: #fef1d0;
}
.ktb-var-success {
  color: #cce8d8;
}
.ktb-var-info {
  color: #d1eaff;
}
.ktb-var-series-a {
  color: #008fd3;
}
.ktb-var-series-b {
  color: #99d101;
}
.ktb-var-series-c {
  color: #f39b02;
}
.ktb-var-series-d {
  color: #f05662;
}
.ktb-var-series-e {
  color: #c03c53;
}
.ktb-var-series-f {
  color: #acacac;
}
.k-grid-norecords-template {
  background-color: #fff;
  border: 1px solid #bfbfbf;
}
.k-button {
  border-radius: 0;
  border-color: #bfbfbf;
  color: #333;
  background-color: #f2f2f2;
  background-position: 50% 50%;
  background-image: none;
  background-image: none, -webkit-gradient(linear, left top, left bottom, from(false));
  background-image: none, -webkit-linear-gradient(top, false);
  background-image: none, linear-gradient(to bottom, false);
}
.k-button:hover,
.k-button.k-state-hover {
  color: #333;
  border-color: #bfbfbf;
  background-color: #eaeaea;
  background-image: none;
  background-image: none, -webkit-gradient(linear, left top, left bottom, from(false));
  background-image: none, -webkit-linear-gradient(top, false);
  background-image: none, linear-gradient(to bottom, false);
}
.k-button:focus,
.k-button.k-state-focused {
  border-color: #007cc0;
}
.k-button:active,
.k-button.k-state-active {
  color: #fff;
  background-color: #007cc0;
  border-color: #005483;
  background-image: none;
  background-image: none, -webkit-gradient(linear, left top, left bottom, from(false));
  background-image: none, -webkit-linear-gradient(top, false);
  background-image: none, linear-gradient(to bottom, false);
}
.k-button.k-state-active:hover {
  color: #fff;
  border-color: #0089d4;
  background-color: #0089d4;
}
.k-button[disabled],
.k-button[disabled]:hover,
.k-button[disabled]:focus,
.k-button[disabled]:active,
.k-button[disabled]:hover:active,
.k-state-disabled .k-button,
.k-state-disabled .k-button:hover,
.k-state-disabled .k-button:focus,
.k-state-disabled .k-button:active,
.k-state-disabled .k-button:active:active,
.k-button.k-state-disabled,
.k-button.k-state-disabled:hover,
.k-button.k-state-disabled:focus,
.k-button.k-state-disabled:active,
.k-button.k-state-disabled:hover:active {
  color: #7d7d7d;
  border-color: #f2f2f2;
  background-color: #bfbfbf;
  background-image: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}
.k-primary {
  color: #fff;
  border-color: #0089d4;
  background-color: #009aee;
  background-image: none;
  background-image: none, -webkit-gradient(linear, left top, left bottom, from(false));
  background-image: none, -webkit-linear-gradient(top, false);
  background-image: none, linear-gradient(to bottom, false);
}
.k-primary:hover,
.k-primary.k-state-hover {
  color: #fff;
  border-color: #0089d4;
  background-color: #0089d4;
  background-image: none;
  background-image: none, -webkit-gradient(linear, left top, left bottom, from(false));
  background-image: none, -webkit-linear-gradient(top, false);
  background-image: none, linear-gradient(to bottom, false);
}
.k-primary:focus,
.k-primary.k-state-focused {
  border-color: #005483;
}
.k-primary:active,
.k-primary.k-state-active {
  color: #fff;
  border-color: #0075b6;
  background-color: #0075b6;
  background-image: none;
  background-image: none, -webkit-gradient(linear, left top, left bottom, from(false));
  background-image: none, -webkit-linear-gradient(top, false);
  background-image: none, linear-gradient(to bottom, false);
}
.k-primary[disabled],
.k-primary[disabled]:hover,
.k-primary[disabled]:focus,
.k-primary[disabled]:active,
.k-primary[disabled]:hover:active,
.k-state-disabled .k-primary,
.k-state-disabled .k-primary:hover,
.k-state-disabled .k-primary:focus,
.k-state-disabled .k-primary:active,
.k-state-disabled .k-primary:hover:active,
.k-primary.k-state-disabled,
.k-primary.k-state-disabled:hover,
.k-primary.k-state-disabled:focus,
.k-primary.k-state-disabled:active,
.k-primary.k-state-disabled:hover:active {
  color: #fff;
  border-color: #7ac2ff;
  background-color: #84c7ff;
  background-image: none;
  background-image: none, -webkit-gradient(linear, left top, left bottom, from(false));
  background-image: none, -webkit-linear-gradient(top, false);
  background-image: none, linear-gradient(to bottom, false);
  -webkit-box-shadow: none;
          box-shadow: none;
}
.k-button-group .k-button {
  -webkit-box-shadow: none;
          box-shadow: none;
}
.k-button-group .k-button:active,
.k-button-group .k-button.k-state-active,
.k-button-group > input[type="radio"]:checked + .k-button,
.k-button-group > input[type="checkbox"]:checked + .k-button {
  color: #fff;
  background-color: #007cc0;
  border-color: #005483;
  background-image: none;
}
.k-button-group .k-button:active:hover,
.k-button-group .k-button.k-state-active:hover,
.k-button-group > input[type="radio"]:checked + .k-button:hover,
.k-button-group > input[type="checkbox"]:checked + .k-button:hover {
  color: #fff;
  border-color: #0089d4;
  background-color: #0089d4;
}
.k-button-group .k-button {
  border-radius: 0;
}
.k-button-group .k-group-start,
.k-button-group .k-button:first-child {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.k-button-group .k-group-end,
.k-button-group .k-button:last-child {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.k-button-group .k-group-start.k-group-end,
.k-button-group .k-button:first-child:last-child {
  border-radius: 0;
}
.k-in,
.k-item,
.k-window-action {
  border-color: transparent;
}
/* main colors */
.k-splitbar .k-resize-handle {
  background-color: #333;
}
.k-block,
.k-widget {
  background-color: #fff;
}
.k-block,
.k-widget,
.k-input,
.k-textbox,
.k-group,
.k-content,
.k-header,
.k-filter-row > th,
.k-editable-area,
.k-separator,
.k-textbox > input,
.k-autocomplete,
.k-dropdown-wrap,
.k-toolbar,
.k-group-footer td,
.k-grid-footer,
.k-footer-template td,
.k-state-default,
.k-state-default .k-select,
.k-state-disabled,
.k-grid-header,
.k-grid-header-wrap,
.k-grid-header-locked,
.k-grid-footer-locked,
.k-grid-content-locked,
.k-grid td,
.k-grid td.k-state-selected,
.k-grid-footer-wrap,
.k-pager-wrap,
.k-pager-wrap .k-link,
.k-pager-refresh,
.k-grouping-header,
.k-grouping-header .k-group-indicator,
.k-panelbar > .k-item > .k-link,
.k-panel > .k-item > .k-link,
.k-panelbar .k-panel,
.k-panelbar .k-content,
.k-treemap-tile,
.k-calendar th,
.k-slider-track,
.k-splitbar,
.k-dropzone-active,
.k-tiles,
.k-toolbar,
.k-tooltip,
.k-button-group .k-tool,
.k-upload-files,
.k-popup.k-align .k-list .k-item:last-child,
.k-editor-dialog .k-tabstrip-items,
.k-maskedtextbox.k-state-disabled > .k-textbox:hover,
.k-dateinput.k-state-disabled > .k-textbox:hover {
  border-color: #bfbfbf;
}
.k-group,
.k-toolbar,
.k-grouping-header,
.k-pager-wrap,
.k-group-footer td,
.k-grid-footer,
.k-footer-template td,
.k-widget .k-status,
.k-calendar th,
.k-dropzone-hovered,
.k-popup {
  background-color: #fff;
}
.k-grouping-row td,
td.k-group-cell,
.k-resize-handle-inner {
  background-color: #f2f2f2;
}
.k-list-container {
  border-color: rgba(0, 0, 0, 0.2);
  background-color: #fff;
}
.k-content,
.k-editable-area,
.k-panelbar > li.k-item,
.k-panel > li.k-item,
.k-tiles {
  background-color: #fff;
}
.k-alt,
.k-separator,
.k-resource.k-alt,
.k-pivot-layout > tbody > tr:first-child > td:first-child {
  background-color: transparent;
}
.k-pivot-rowheaders .k-alt .k-alt,
.k-header.k-alt {
  background-color: rgba(0, 0, 0, 0);
}
.k-textbox,
.k-autocomplete.k-header,
.k-dropdown-wrap.k-state-active,
.k-picker-wrap.k-state-active,
.k-numeric-wrap.k-state-active {
  border-color: #bfbfbf;
  background-color: #007cc0;
}
.k-textbox > input,
.k-autocomplete .k-input,
.k-dropdown-wrap .k-input,
.k-autocomplete.k-state-focused .k-input,
.k-dropdown-wrap.k-state-focused .k-input,
.k-picker-wrap.k-state-focused .k-input,
.k-numeric-wrap.k-state-focused .k-input {
  border-color: #bfbfbf;
}
input.k-textbox,
textarea.k-textbox,
input.k-textbox:hover,
textarea.k-textbox:hover,
.k-textbox > input {
  background: none;
}
.k-input,
input.k-textbox,
textarea.k-textbox,
input.k-textbox:hover,
textarea.k-textbox:hover,
.k-textbox > input,
.k-multiselect-wrap {
  background-color: #fff;
  color: #333;
}
.k-input[readonly] {
  background-color: #fff;
  color: #333;
}
.k-block,
.k-widget,
.k-popup,
.k-content,
.k-toolbar,
.k-dropdown .k-input {
  color: #333;
}
.k-inverse {
  color: #fff;
}
.k-block {
  color: #333;
}
.k-link:link,
.k-link:visited,
.k-nav-current.k-state-hover .k-link {
  color: #007cc0;
}
.k-tabstrip-items .k-link,
.k-panelbar > li > .k-link {
  color: #333;
}
.k-header,
.k-treemap-title,
.k-grid-header .k-header > .k-link {
  color: #333;
}
.k-header,
.k-grid-header,
.k-toolbar,
.k-dropdown-wrap,
.k-picker-wrap,
.k-numeric-wrap,
.k-grouping-header,
.k-pager-wrap,
.k-textbox,
.k-progressbar,
.k-draghandle,
.k-autocomplete,
.k-state-highlight,
.k-tabstrip-items .k-item,
.k-panelbar .k-tabstrip-items .k-item,
.km-pane-wrapper > .km-pane > .km-view > .km-content {
  background-image: none;
  background-position: 50% 50%;
  background-color: #f2f2f2;
}
.k-widget.k-tooltip {
  background-image: none;
}
.k-block,
.k-header,
.k-grid-header,
.k-toolbar,
.k-grouping-header,
.k-pager-wrap,
.k-draghandle,
.k-treemap-tile,
html .km-pane-wrapper .k-header {
  background-color: #f2f2f2;
}
.k-mediaplayer-toolbar {
  background-color: rgba(242, 242, 242, 0.85);
}
.k-hr {
  border-color: #bfbfbf;
}
/* icons */
.k-icon:hover,
.k-state-hover .k-icon,
.k-state-selected .k-icon,
.k-state-focused .k-icon,
.k-column-menu .k-state-hover .k-sprite,
.k-column-menu .k-state-active .k-sprite,
.k-pager-numbers .k-current-page .k-link:hover:after,
.k-scheduler-toolbar > ul.k-scheduler-views > li.k-current-view.k-state-hover > .k-link:after {
  opacity: 1;
}
.k-state-disabled .k-icon,
.k-column-menu .k-sprite,
.k-pager-numbers .k-current-page .k-link:after,
.k-scheduler-toolbar > ul.k-scheduler-views > li.k-current-view > .k-link:after {
  opacity: 0.6;
}
.k-mobile-list .k-check:checked,
.k-mobile-list .k-edit-field [type=checkbox]:checked,
.k-mobile-list .k-edit-field [type=radio]:checked {
  opacity: 0.6;
}
.k-tool {
  border-color: transparent;
}
/* IE will ignore the above selectors if these are added too */
.k-mobile-list .k-check:checked,
.k-mobile-list .k-edit-field [type=checkbox]:checked,
.k-mobile-list .k-edit-field [type=radio]:checked {
  background-image: url('Fiori/sprite.png');
  border-color: transparent;
}
.k-i-loading {
  background-image: url('Fiori/loading.gif');
}
.k-loading-image {
  background-image: url('Fiori/loading-image.gif');
}
.k-loading-color {
  background-color: #fff;
}
.k-draghandle {
  border-color: #707070;
  background-color: #f2f2f2;
  -webkit-box-shadow: none;
          box-shadow: none;
}
.k-draghandle:hover {
  border-color: #707070;
  background-color: #787878;
  -webkit-box-shadow: none;
          box-shadow: none;
}
/* Scheduler */
.k-scheduler {
  color: #fff;
  background-color: #f2f2f2;
}
.k-scheduler-layout {
  color: #333;
}
.k-scheduler-datecolumn,
.k-scheduler-groupcolumn {
  background-color: #f2f2f2;
  color: #333;
}
.k-scheduler-times tr,
.k-scheduler-times th,
.k-scheduler-table td,
.k-scheduler-header th,
.k-scheduler-header-wrap,
.k-scheduler-times {
  border-color: #c9c9c9;
}
.k-nonwork-hour {
  background-color: #e5e5e5;
}
.k-gantt .k-nonwork-hour {
  background-color: rgba(0, 0, 0, 0.02);
}
.k-gantt .k-header.k-nonwork-hour {
  background-color: rgba(0, 0, 0, 0.2);
}
.k-scheduler-table .k-today,
.k-today > .k-scheduler-datecolumn,
.k-today > .k-scheduler-groupcolumn {
  background-color: #e5e5e5;
}
.k-scheduler-now-arrow {
  border-left-color: #666666;
}
.k-scheduler-now-line {
  background-color: #666666;
}
.k-event,
.k-task-complete {
  border-color: #007cc0;
  background: #007cc0 0 -257px none repeat-x;
  color: #fff;
}
.k-event-inverse {
  color: #333;
}
.k-event.k-state-selected {
  background-position: 0 0;
  -webkit-box-shadow: 0 0 0 2px #333;
          box-shadow: 0 0 0 2px #333;
}
.k-event .k-resize-handle:after,
.k-task-single .k-resize-handle:after {
  background-color: #fff;
}
.k-scheduler-marquee:before,
.k-scheduler-marquee:after {
  border-color: #007cc0;
}
.k-panelbar .k-content,
.k-panelbar .k-panel,
.k-panelbar .k-item {
  background-color: #fff;
  color: #333;
  border-color: #c9c9c9;
}
.k-panelbar > li > .k-link {
  color: #333;
}
.k-panelbar > .k-item > .k-link {
  border-color: #c9c9c9;
}
.k-panel > li.k-item {
  background-color: #fff;
}
/* states */
.k-state-active,
.k-state-active:hover,
.k-active-filter {
  background-color: #fff;
  border-color: #c9c9c9;
  color: #333;
}
.k-fieldselector .k-list-container {
  background-color: #fff;
}
.k-button.k-bare {
  position: relative;
}
.k-button.k-bare:before {
  content: "";
  background-color: currentcolor;
  opacity: 0.12;
  border-radius: inherit;
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  display: none;
}
.k-button.k-bare.k-state-focused:before,
.k-button.k-bare:focus:before {
  display: block;
}
.k-mediaplayer-toolbar .k-button.k-bare:active,
.k-mediaplayer-toolbar .k-button.k-bare.k-state-active,
.k-mediaplayer-toolbar .k-button.k-bare.k-state-active:hover {
  color: #007cc0;
}
.k-mediaplayer-toolbar .k-button.k-bare:active:before,
.k-mediaplayer-toolbar .k-button.k-bare.k-state-active:before,
.k-mediaplayer-toolbar .k-button.k-bare.k-state-active:hover:before {
  opacity: 0.24;
}
.k-slider.k-mediaplayer-seekbar {
  top: -14px;
}
.k-quality-list {
  margin-left: -23px !important;
}
.k-menu .k-state-hover > .k-state-active {
  background-color: transparent;
}
.k-menu .k-state-selected > .k-link {
  color: #333;
  background-color: #e5f3ff;
}
.k-menu .k-link.k-state-active {
  background-color: #007cc0;
  color: #fff;
}
.k-menu .k-state-hover > .k-link,
.k-menu .k-menu-scroll-button:hover {
  color: #333;
  background-color: #eaeaea;
  border-color: #eaeaea;
  background-image: none;
}
.k-state-highlight {
  background: #fff;
  color: #333;
}
.k-state-focused,
.k-grouping-row .k-state-focused {
  border-color: #eaeaea;
}
.k-calendar .k-link {
  color: #333;
}
.k-calendar .k-footer {
  padding: 0;
}
.k-calendar .k-footer .k-nav-today {
  color: #333;
  text-decoration: none;
  background-color: #fff;
}
.k-calendar .k-footer .k-nav-today:hover,
.k-calendar .k-footer .k-nav-today.k-state-hover {
  background-color: #fff;
  text-decoration: underline;
}
.k-calendar .k-footer .k-nav-today:active {
  background-color: #fff;
}
.k-calendar .k-link.k-nav-fast {
  color: #333;
}
.k-calendar .k-nav-fast.k-state-hover {
  text-decoration: none;
  background-color: #eaeaea;
  color: #333;
}
.k-calendar .k-link.k-state-hover,
.k-window-titlebar .k-link {
  border-radius: 0;
}
.k-calendar .k-footer .k-link {
  border-radius: 0;
}
.k-calendar th {
  background-color: #fff;
}
.k-calendar-container.k-group {
  border-color: rgba(0, 0, 0, 0.2);
}
.k-state-selected,
.k-state-selected:link,
.k-state-selected:visited,
.k-tool.k-state-selected,
.k-list > .k-state-selected,
.k-list > .k-state-highlight,
.k-panel > .k-state-selected,
.k-ghost-splitbar-vertical,
.k-ghost-splitbar-horizontal,
.k-draghandle.k-state-selected:hover,
.k-scheduler .k-scheduler-toolbar .k-state-selected,
.k-scheduler .k-today.k-state-selected,
.k-marquee-color {
  color: #fff;
  background-color: #007cc0;
  border-color: #007cc0;
}
.k-virtual-item.k-first,
.k-group-header + .k-list > .k-item.k-first,
.k-static-header + .k-list > .k-item.k-first {
  border-top-color: #eaeaea;
}
.k-group-header + div > .k-list > .k-item.k-first:before {
  border-top-color: #eaeaea;
}
.k-popup > .k-group-header,
.k-popup > .k-virtual-wrap > .k-group-header {
  background: #eaeaea;
  color: #fff;
}
.k-popup .k-list .k-item > .k-group {
  background: #eaeaea;
  color: #fff;
  border-bottom-left-radius: 0;
}
.k-marquee-text {
  color: #fff;
}
.k-state-focused,
.k-list > .k-state-focused,
.k-grid-header th.k-state-focused,
td.k-state-focused {
  -webkit-box-shadow: none;
          box-shadow: none;
}
.k-listview > .k-state-focused,
.k-listview > .k-state-focused.k-state-selected {
  -webkit-box-shadow: inset 0 0 0 1px #007cc0;
          box-shadow: inset 0 0 0 1px #007cc0;
}
.k-listview > .k-state-selected {
  color: #333;
  background-color: #e6f3fe;
}
.k-state-focused.k-state-selected,
.k-list > .k-state-focused.k-state-selected,
td.k-state-focused.k-state-selected {
  -webkit-box-shadow: none;
          box-shadow: none;
}
.k-list-optionlabel.k-state-selected.k-state-focused {
  -webkit-box-shadow: none;
          box-shadow: none;
}
.k-state-selected > .k-link,
.k-panelbar > li > .k-state-selected,
.k-panelbar > li.k-state-default > .k-link.k-state-selected {
  color: #fff;
}
.k-state-hover,
.k-state-hover:hover,
.k-splitbar-horizontal-hover:hover,
.k-splitbar-vertical-hover:hover,
.k-list > .k-state-hover,
.k-scheduler .k-scheduler-toolbar ul li.k-state-hover,
.k-pager-wrap .k-link:hover,
.k-dropdown .k-state-focused,
.k-filebrowser-dropzone,
.k-mobile-list .k-item > .k-link:active,
.k-mobile-list .k-item > .k-label:active,
.k-mobile-list .k-edit-label.k-check:active,
.k-mobile-list .k-recur-view .k-check:active,
.k-listbox .k-item:hover:not(.k-state-disabled) {
  color: #333;
  background-color: #eaeaea;
  border-color: #eaeaea;
}
/* this selector should be used separately, otherwise old IEs ignore the whole rule */
.k-mobile-list .k-scheduler-timezones .k-edit-field:nth-child(2):active {
  color: #333;
  background-color: #eaeaea;
  border-color: #eaeaea;
}
.k-state-hover > .k-select,
.k-state-focused > .k-select {
  border-color: #eaeaea;
}
.k-textbox:hover,
.k-state-hover,
.k-state-hover:hover,
.k-pager-wrap .k-link:hover,
.k-other-month.k-state-hover .k-link,
div.k-filebrowser-dropzone em,
.k-draghandle:hover,
.k-listbox .k-item:hover {
  background-image: none;
}
.k-pager-wrap {
  background-color: #f2f2f2;
  color: #333;
}
.k-autocomplete.k-state-active,
.k-picker-wrap.k-state-active,
.k-numeric-wrap.k-state-active,
.k-dropdown-wrap.k-state-active,
.k-state-active,
.k-state-active:hover,
.k-state-active > .k-link,
.k-panelbar > .k-item > .k-state-focused {
  background-image: none;
}
.k-state-selected,
.k-draghandle.k-state-selected:hover {
  background-image: none;
}
.k-draghandle.k-state-selected:hover {
  background-position: 50% 50%;
}
.k-state-hover > .k-link,
.k-other-month.k-state-hover .k-link,
div.k-filebrowser-dropzone em {
  color: #333;
}
.k-autocomplete.k-state-hover,
.k-autocomplete.k-state-focused,
.k-picker-wrap.k-state-hover,
.k-picker-wrap.k-state-focused,
.k-numeric-wrap.k-state-hover,
.k-numeric-wrap.k-state-focused,
.k-dropdown-wrap.k-state-hover,
.k-dropdown-wrap.k-state-focused {
  background-color: #fff;
  background-image: none;
  background-position: 50% 50%;
  border-color: #007cc0;
}
.km-pane-wrapper .k-mobile-list input:not([type="checkbox"]):not([type="radio"]),
.km-pane-wrapper .km-pane .k-mobile-list select:not([multiple]),
.km-pane-wrapper .k-mobile-list textarea,
.k-dropdown .k-state-focused .k-input {
  color: #333;
}
.km-pane-wrapper .km-pane .k-mobile-list.k-filter-menu .k-space-right {
  background: #fff;
  border-color: #bfbfbf;
}
.km-pane-wrapper .km-pane .k-mobile-list.k-filter-menu .k-space-right > input {
  background-color: #fff;
  border-color: #bfbfbf;
}
.km-pane-wrapper .km-pane .k-mobile-list.k-filter-menu .k-space-right > input:focus {
  border-color: #007cc0;
}
.k-dropdown .k-state-hover .k-input {
  color: #333;
}
.k-state-error {
  border-color: #666666;
  background-color: #ffd7d7;
  color: #666666;
}
.k-state-disabled {
  opacity: .7;
}
.k-tile-empty.k-state-selected,
.k-loading-mask.k-state-selected {
  border-width: 0;
  background-image: none;
  background-color: transparent;
}
.k-state-disabled,
.k-state-disabled .k-link,
.k-other-month,
.k-other-month .k-link,
.k-dropzone em,
.k-dropzone .k-upload-status,
.k-tile-empty strong,
.k-slider .k-draghandle {
  color: #7d7d7d;
}
.k-file .k-upload-status {
  color: #333;
}
/* Progressbar */
.k-progressbar-indeterminate {
  background: url('Fiori/indeterminate.gif');
}
.k-progressbar-indeterminate .k-progress-status-wrap,
.k-progressbar-indeterminate .k-state-selected {
  display: none;
}
/* Slider */
.k-slider-track {
  background-color: #bfbfbf;
}
.k-slider-selection {
  background-color: #007cc0;
}
.k-slider-horizontal .k-tick {
  background-image: url('Fiori/slider-h.gif');
}
.k-slider-vertical .k-tick {
  background-image: url('Fiori/slider-v.gif');
}
/* Tooltip */
.k-widget.k-tooltip,
.k-chart-crosshair-tooltip,
.k-chart-shared-tooltip {
  border-color: #bfbfbf;
  background-color: #fff;
  color: #333;
}
.k-widget.k-tooltip-validation {
  border-color: #fef1d0;
  background-color: #fef1d0;
  color: #996e03;
}
/* Bootstrap theme fix */
.input-prepend .k-tooltip-validation,
.input-append .k-tooltip-validation {
  font-size: 12px;
  position: relative;
  top: 3px;
}
.k-callout-n {
  border-bottom-color: #bfbfbf;
}
.k-callout-w {
  border-right-color: #bfbfbf;
}
.k-callout-s {
  border-top-color: #bfbfbf;
}
.k-callout-e {
  border-left-color: #bfbfbf;
}
.k-tooltip-validation .k-callout-n {
  border-bottom-color: #fef1d0;
}
.k-tooltip-validation .k-callout-w {
  border-right-color: #fef1d0;
}
.k-tooltip-validation .k-callout-s {
  border-top-color: #fef1d0;
}
.k-tooltip-validation .k-callout-e {
  border-left-color: #fef1d0;
}
/* Splitter */
.k-splitbar {
  background-color: #f2f2f2;
}
.k-restricted-size-vertical,
.k-restricted-size-horizontal {
  background-color: #666666;
}
/* Upload */
.k-file {
  background-color: #fff;
  border-color: #c9c9c9;
}
.k-file-progress {
  color: #0072d1;
}
.k-file-progress .k-progress {
  background-color: #0072d1;
}
.k-file-success .k-file-name,
.k-file-success .k-upload-pct {
  color: #48a06e;
}
.k-file-success .k-progress {
  background-color: #48a06e;
}
.k-file-error {
  color: #d70000;
}
.k-file-error .k-file-extension-wrapper,
.k-file-error .k-multiple-files-extension-wrapper {
  color: #d70000;
  border-color: #d70000;
}
.k-file-error .k-file-extension-wrapper:before,
.k-file-error .k-multiple-files-extension-wrapper:before {
  border-color: transparent transparent #d70000 #d70000;
}
.k-file-error .k-progress {
  background-color: #ffd7d7;
}
.k-file-extension-wrapper,
.k-multiple-files-extension-wrapper {
  color: #bfbfbf;
  border-color: #bfbfbf;
}
.k-file-invalid .k-file-name-invalid {
  color: #d70000;
}
.k-file-invalid-extension-wrapper,
.k-multiple-files-invalid-extension-wrapper {
  color: #d70000;
  border-color: #d70000;
}
.k-file-extension-wrapper:before,
.k-multiple-files-extension-wrapper:before {
  background-color: #fff;
  border-color: transparent transparent #bfbfbf #bfbfbf;
}
.k-file-invalid-extension-wrapper:before,
.k-multiple-files-invalid-extension-wrapper:before {
  background-color: #fff;
  border-color: transparent transparent #d70000 #d70000;
}
.k-multiple-files-extension-wrapper:after {
  border-top-color: #bfbfbf;
  border-left-color: #bfbfbf;
}
.k-multiple-files-invalid-extension-wrapper:after {
  border-top-color: #d70000;
  border-left-color: #d70000;
}
.k-file-size,
.k-file-information,
.k-file-validation-message {
  color: #7d7d7d;
}
.k-upload .k-upload-selected {
  color: #007cc0;
  border-color: #bfbfbf;
}
/* ImageBrowser */
.k-tile {
  border-color: #fff;
}
.k-textbox:hover,
.k-tiles li.k-state-hover {
  border-color: #eaeaea;
}
.k-tiles li.k-state-selected {
  border-color: #007cc0;
}
/* TreeMap */
.k-leaf,
.k-leaf.k-state-hover:hover {
  color: #fff;
}
.k-leaf.k-inverse,
.k-leaf.k-inverse.k-state-hover:hover {
  color: #000;
}
/* Shadows */
.k-widget {
  -webkit-box-shadow: none;
          box-shadow: none;
}
.k-slider,
.k-treeview,
.k-upload {
  -webkit-box-shadow: none;
          box-shadow: none;
}
.k-state-hover {
  -webkit-box-shadow: none;
          box-shadow: none;
}
.k-textbox:focus,
.k-autocomplete.k-state-focused,
.k-dropdown-wrap.k-state-focused,
.k-picker-wrap.k-state-focused,
.k-numeric-wrap.k-state-focused {
  -webkit-box-shadow: none;
          box-shadow: none;
}
.k-state-selected {
  -webkit-box-shadow: none;
          box-shadow: none;
}
.k-state-active {
  -webkit-box-shadow: none;
          box-shadow: none;
}
.k-popup,
.k-menu .k-menu-group,
.k-grid .k-filter-options,
.k-time-popup,
.k-datepicker-calendar,
.k-autocomplete.k-state-border-down,
.k-autocomplete.k-state-border-up,
.k-dropdown-wrap.k-state-active,
.k-picker-wrap.k-state-active,
.k-multiselect.k-state-focused,
.k-filebrowser .k-image,
.k-tooltip {
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.k-treemap-tile.k-state-hover {
  -webkit-box-shadow: inset 0 0 0 3px #bfbfbf;
          box-shadow: inset 0 0 0 3px #bfbfbf;
}
/* Window */
.k-window {
  border-color: rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 1px 1px 13px 1px rgba(128, 128, 128, 0.2);
          box-shadow: 1px 1px 13px 1px rgba(128, 128, 128, 0.2);
  background-color: #fff;
}
.k-window.k-state-focused {
  border-color: rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 1px 1px 13px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 1px 1px 13px 1px rgba(0, 0, 0, 0.2);
}
.k-window.k-window-maximized,
.k-window-maximized .k-window-titlebar,
.k-window-maximized .k-window-content {
  border-radius: 0;
}
.k-shadow {
  -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
}
.k-inset {
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.2);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.2);
}
/* Selection */
.k-editor-inline ::-moz-selection {
  background-color: #007cc0;
  text-shadow: none;
  color: #fff;
}
.k-editor-inline ::selection {
  background-color: #007cc0;
  text-shadow: none;
  color: #fff;
}
.k-editor-inline ::-moz-selection {
  background-color: #007cc0;
  text-shadow: none;
  color: #fff;
}
.k-notification-info {
  background-color: #d1eaff;
  color: #333;
  border-color: #007cc0;
}
.k-notification-success {
  background-color: #cce8d8;
  color: #333;
  border-color: #48a06e;
}
.k-notification-warning {
  background-color: #fef1d0;
  color: #333;
  border-color: #fabd21;
}
.k-notification-error {
  background-color: #ffd7d7;
  color: #333;
  border-color: #ff7171;
}
/* Gantt */
.k-gantt .k-treelist {
  background: transparent;
}
.k-gantt .k-treelist .k-alt {
  background-color: rgba(0, 0, 0, 0);
}
.k-gantt .k-treelist .k-state-selected,
.k-gantt .k-treelist .k-state-selected td,
.k-gantt .k-treelist .k-alt.k-state-selected,
.k-gantt .k-treelist .k-alt.k-state-selected > td {
  background-color: #007cc0;
}
.k-task-dot:after {
  background-color: #333;
  border-color: #333;
}
.k-task-dot:hover:after {
  background-color: #fff;
}
.k-task-summary {
  border-color: #cccccc;
  background: #cccccc;
}
.k-task-milestone,
.k-task-summary-complete {
  border-color: #333;
  background: #333;
}
.k-state-selected.k-task-summary {
  border-color: #e5f3ff;
  background: #e5f3ff;
}
.k-state-selected.k-task-milestone,
.k-state-selected .k-task-summary-complete {
  border-color: #007cc0;
  background: #007cc0;
}
.k-task-single {
  background-color: #0093e4;
  border-color: #007cc0;
  color: #fff;
}
.k-state-selected.k-task-single {
  border-color: #007cc0;
}
.k-line {
  background-color: #333;
  color: #333;
}
.k-state-selected.k-line {
  background-color: #007cc0;
  color: #007cc0;
}
.k-resource {
  background-color: #fff;
}
/* Border radius */
.k-block,
.k-textbox,
.k-drag-clue,
.k-touch-scrollbar,
.k-window,
.k-window-titleless .k-window-content,
.k-window-action,
.k-inline-block,
.k-grid .k-filter-options,
.k-grouping-header .k-group-indicator,
.k-autocomplete,
.k-multiselect,
.k-combobox,
.k-dropdown,
.k-dropdown-wrap,
.k-datepicker,
.k-timepicker,
.k-colorpicker,
.k-datetimepicker,
.k-notification,
.k-numerictextbox,
.k-picker-wrap,
.k-numeric-wrap,
.k-list-container,
.k-calendar-container,
.k-calendar td,
.k-calendar .k-link,
.k-treeview .k-in,
.k-editor-inline,
.k-tooltip,
.k-tile,
.k-slider-track,
.k-slider-selection,
.k-upload {
  border-radius: 0;
}
.k-tool {
  text-align: center;
  vertical-align: middle;
}
.k-tool.k-group-start,
.k-toolbar .k-button-group .k-group-start {
  border-radius: 0 0 0 0;
}
.k-rtl .k-tool.k-group-start,
.k-rtl .k-toolbar .k-split-button .k-button,
.k-rtl .k-toolbar .k-button-group .k-group-start {
  border-radius: 0 0 0 0;
}
.k-tool.k-group-end,
.k-toolbar .k-button-group .k-group-end,
.k-toolbar .k-split-button .k-split-button-arrow {
  border-radius: 0 0 0 0;
}
.k-rtl .k-tool.k-group-end,
.k-rtl .k-toolbar .k-button-group .k-group-end,
.k-rtl .k-toolbar .k-split-button .k-split-button-arrow {
  border-radius: 0 0 0 0;
}
.k-group-start.k-group-end.k-tool {
  border-radius: 0;
}
.k-calendar-container.k-state-border-up,
.k-list-container.k-state-border-up,
.k-autocomplete.k-state-border-up,
.k-multiselect.k-state-border-up,
.k-dropdown-wrap.k-state-border-up,
.k-picker-wrap.k-state-border-up,
.k-numeric-wrap.k-state-border-up,
.k-window-content,
.k-filter-menu {
  border-radius: 0 0 0 0;
}
.k-autocomplete.k-state-border-up .k-input,
.k-dropdown-wrap.k-state-border-up .k-input,
.k-picker-wrap.k-state-border-up .k-input,
.k-picker-wrap.k-state-border-up .k-selected-color,
.k-numeric-wrap.k-state-border-up .k-input {
  border-radius: 0 0 0 0;
}
.k-multiselect.k-state-border-up .k-multiselect-wrap {
  border-radius: 0 0 0 0;
}
.k-window-titlebar,
.k-block > .k-header,
.k-tabstrip-items .k-item,
.k-panelbar .k-tabstrip-items .k-item,
.k-tabstrip-items .k-link,
.k-calendar-container.k-state-border-down,
.k-list-container.k-state-border-down,
.k-autocomplete.k-state-border-down,
.k-multiselect.k-state-border-down,
.k-dropdown-wrap.k-state-border-down,
.k-picker-wrap.k-state-border-down,
.k-numeric-wrap.k-state-border-down {
  border-radius: 0 0 0 0;
}
.k-split-button.k-state-border-down > .k-button {
  border-radius: 0 0 0 0;
}
.k-split-button.k-state-border-up > .k-button {
  border-radius: 0 0 0 0;
}
.k-split-button.k-state-border-down > .k-split-button-arrow {
  border-radius: 0 0 0 0;
}
.k-split-button.k-state-border-up > .k-split-button-arrow {
  border-radius: 0 0 0 0;
}
.k-dropdown-wrap .k-input,
.k-picker-wrap .k-input,
.k-numeric-wrap .k-input {
  border-radius: 0 0 0 0;
}
.k-rtl .k-dropdown-wrap .k-input,
.k-rtl .k-picker-wrap .k-input,
.k-rtl .k-numeric-wrap .k-input {
  border-radius: 0 0 0 0;
}
.k-numeric-wrap .k-link {
  border-radius: 0 0 0 0;
}
.k-numeric-wrap .k-link + .k-link {
  border-radius: 0 0 0 0;
}
.k-colorpicker .k-selected-color {
  border-radius: 0 0 0 0;
}
.k-rtl .k-colorpicker .k-selected-color {
  border-radius: 0 0 0 0;
}
.k-autocomplete.k-state-border-down .k-input {
  border-radius: 0 0 0 0;
}
.k-dropdown-wrap.k-state-border-down .k-input,
.k-picker-wrap.k-state-border-down .k-input,
.k-picker-wrap.k-state-border-down .k-selected-color,
.k-numeric-wrap.k-state-border-down .k-input {
  border-radius: 0 0 0 0;
}
.k-numeric-wrap .k-link.k-state-selected {
  background-color: #eaeaea;
}
.k-multiselect.k-state-border-down .k-multiselect-wrap {
  border-radius: 0 0 0 0;
}
.k-dropdown-wrap .k-select,
.k-picker-wrap .k-select,
.k-numeric-wrap .k-select,
.k-datetimepicker .k-select + .k-select,
.k-list-container.k-state-border-right {
  border-radius: 0 0 0 0;
}
.k-rtl .k-dropdown-wrap .k-select,
.k-rtl .k-picker-wrap .k-select,
.k-rtl .k-numeric-wrap .k-select,
.k-rtl .k-datetimepicker .k-select + .k-select,
.k-rtl .k-list-container.k-state-border-right {
  border-radius: 0 0 0 0;
}
.k-numeric-wrap.k-expand-padding .k-input {
  border-radius: 0;
}
.k-textbox > input,
.k-autocomplete .k-input,
.k-multiselect-wrap {
  border-radius: 0;
}
.k-list .k-state-hover,
.k-list .k-state-focused,
.k-list .k-state-highlight,
.k-list .k-state-selected,
.k-fieldselector .k-list .k-item,
.k-list-optionlabel,
.k-dropzone,
.k-listbox .k-item {
  border-radius: 0;
}
.k-slider .k-button,
.k-grid .k-slider .k-button {
  border-radius: 0;
}
.k-draghandle {
  border-radius: 0;
}
.k-gantt-toolbar li:first-child + li,
.k-scheduler-toolbar > ul li:first-child,
.k-scheduler-toolbar > ul li:first-child .k-link,
.k-scheduler-toolbar > ul.k-scheduler-views li:first-child + li,
.k-scheduler-toolbar > ul.k-scheduler-views li:first-child + li .k-link {
  border-radius: 0 0 0 0;
}
.k-rtl .k-scheduler-toolbar > ul li:first-child,
.k-rtl .k-scheduler-toolbar > ul li:first-child .k-link,
.k-rtl .k-scheduler-toolbar > ul.k-scheduler-views li:first-child + li,
.k-rtl .k-scheduler-toolbar > ul.k-scheduler-views li:first-child + li .k-link,
.km-view.k-popup-edit-form .k-scheduler-toolbar > ul li:last-child,
.km-view.k-popup-edit-form .k-scheduler-toolbar > ul li:last-child .k-link {
  border-radius: 0 0 0 0;
}
.k-scheduler-phone .k-scheduler-toolbar > ul li.k-nav-today,
.k-scheduler-phone .k-scheduler-toolbar > ul li.k-nav-today .k-link,
.k-edit-field > .k-scheduler-navigation {
  border-radius: 0;
}
.k-scheduler-toolbar .k-nav-next,
.k-scheduler-toolbar ul + ul li:last-child,
.k-scheduler-toolbar .k-nav-next .k-link,
.k-scheduler-toolbar ul + ul li:last-child .k-link {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.k-rtl .k-gantt-toolbar li:last-child,
.k-rtl .k-scheduler-toolbar .k-nav-next,
.k-rtl .k-scheduler-toolbar ul + ul li:last-child,
.k-rtl .k-scheduler-toolbar .k-nav-next .k-link,
.k-rtl .k-scheduler-toolbar ul + ul li:last-child .k-link {
  border-radius: 0 0 0 0;
}
.k-scheduler div.k-scheduler-footer ul li,
.k-scheduler div.k-scheduler-footer .k-link {
  border-radius: 0;
}
.k-more-events,
.k-event,
.k-task-single,
.k-task-complete,
.k-event .k-link {
  border-radius: 0;
}
.k-scheduler-mobile .k-event {
  border-radius: -1;
}
/* RTL Scheduler & Gantt */
.k-rtl .k-scheduler-toolbar > ul.k-scheduler-navigation > li {
  border-width: 0;
}
.k-rtl .k-scheduler-toolbar > ul > li:first-child {
  border-right-width: 0;
}
.k-rtl .k-gantt-toolbar > ul.k-gantt-views > li,
.k-rtl .k-scheduler-toolbar > ul.k-scheduler-views > li {
  border-width: 0 0 3px 0;
  border-color: transparent;
}
/* Adaptive Grid */
.k-grid-mobile .k-column-active + th.k-header {
  border-left-color: #333;
}
html .km-pane-wrapper .km-widget,
.k-ie .km-pane-wrapper .k-widget,
.k-ie .km-pane-wrapper .k-group,
.k-ie .km-pane-wrapper .k-content,
.k-ie .km-pane-wrapper .k-header,
.k-ie .km-pane-wrapper .k-popup-edit-form .k-edit-field .k-button,
.km-pane-wrapper .k-mobile-list .k-item,
.km-pane-wrapper .k-mobile-list .k-edit-label,
.km-pane-wrapper .k-mobile-list .k-edit-field {
  color: #333;
}
@media screen and (-ms-high-contrast: active) and (-ms-high-contrast: none) {
  div.km-pane-wrapper a {
    color: #333;
  }
}
.km-pane-wrapper .k-mobile-list .k-item,
.km-pane-wrapper .k-mobile-list .k-edit-field,
.km-pane-wrapper .k-mobile-list .k-recur-view > .k-edit-field .k-check {
  background-color: #fff;
  border-top: 1px solid #c9c9c9;
}
.km-pane-wrapper .k-mobile-list .k-edit-field textarea {
  outline-width: 0;
}
.km-pane-wrapper .k-mobile-list .k-item.k-state-selected {
  background-color: #007cc0;
  border-top-color: #007cc0;
}
.km-pane-wrapper .k-mobile-list .k-recur-view > .k-edit-field .k-check:first-child {
  border-top-color: transparent;
}
.km-pane-wrapper .k-mobile-list .k-item:last-child {
  -webkit-box-shadow: inset 0 -1px 0 #c9c9c9;
          box-shadow: inset 0 -1px 0 #c9c9c9;
}
.km-pane-wrapper .k-mobile-list > ul > li > .k-link,
.km-pane-wrapper .k-mobile-list .k-recur-view > .k-edit-label:nth-child(3),
.km-pane-wrapper #recurrence .km-scroll-container > .k-edit-label:first-child {
  color: #7d7d7d;
}
.km-pane-wrapper .k-mobile-list > ul > li > .k-link {
  border-bottom: 1px solid #c9c9c9;
}
.km-pane-wrapper .k-mobile-list .k-edit-field {
  -webkit-box-shadow: 0 1px 1px #c9c9c9;
          box-shadow: 0 1px 1px #c9c9c9;
}
.km-actionsheet .k-grid-delete,
.km-actionsheet .k-scheduler-delete,
.km-pane-wrapper .k-scheduler-delete,
.km-pane-wrapper .k-filter-menu .k-button[type=reset] {
  color: #fff;
  border-color: #666666;
  background-color: red;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.3)), to(rgba(255, 255, 255, 0.15)));
  background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.15));
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.15));
}
.km-actionsheet .k-grid-delete:active,
.km-actionsheet .k-scheduler-delete:active,
.km-pane-wrapper .k-scheduler-delete:active,
.km-pane-wrapper .k-filter-menu .k-button[type=reset]:active {
  background-color: #990000;
}
/* /Column Menu */
.k-autocomplete.k-state-default,
.k-picker-wrap.k-state-default,
.k-numeric-wrap.k-state-default,
.k-dropdown-wrap.k-state-default {
  background-image: none;
  background-position: 50% 50%;
  background-color: #fff;
  border-color: #bfbfbf;
}
.k-autocomplete.k-state-hover,
.k-picker-wrap.k-state-hover,
.k-numeric-wrap.k-state-hover,
.k-dropdown-wrap.k-state-hover {
  background-color: #fff;
  background-image: none;
  background-position: 50% 50%;
  border-color: #007cc0;
}
.k-multiselect.k-header {
  border-color: #bfbfbf;
}
.k-multiselect.k-header.k-state-hover {
  border-color: #007cc0;
}
.k-autocomplete.k-state-focused,
.k-picker-wrap.k-state-focused,
.k-numeric-wrap.k-state-focused,
.k-dropdown-wrap.k-state-focused,
.k-multiselect.k-header.k-state-focused {
  background-color: #fff;
  background-image: none;
  background-position: 50% 50%;
  border-color: #007cc0;
  -webkit-box-shadow: none;
          box-shadow: none;
}
.k-list-container {
  color: #333;
}
.k-nodata {
  color: #7d7d7d;
}
.k-dropdown .k-input,
.k-dropdown .k-state-focused .k-input,
.k-menu .k-popup {
  color: #333;
}
.k-state-default > .k-select {
  border-color: #bfbfbf;
}
.k-state-hover > .k-select {
  border-color: #007cc0;
}
.k-state-focused > .k-select {
  border-color: #007cc0;
}
.k-tabstrip:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}
.k-tabstrip-items .k-state-default .k-link,
.k-panelbar > li.k-state-default > .k-link {
  color: #333;
}
.k-tabstrip-items .k-state-hover .k-link,
.k-panelbar > li.k-state-hover > .k-link,
.k-panelbar > li.k-state-default > .k-link.k-state-hover {
  color: #333;
}
.k-panelbar > .k-state-focused.k-state-hover {
  background: #eaeaea;
  -webkit-box-shadow: none;
          box-shadow: none;
}
.k-tabstrip-items .k-state-default {
  border-color: transparent;
}
.k-tabstrip-items .k-state-hover {
  border-color: #eaeaea;
}
.k-tabstrip-items .k-state-active,
.k-panelbar .k-tabstrip-items .k-state-active {
  background-color: #fff;
  background-image: none;
  border-color: #c9c9c9;
}
.k-tabstrip .k-content.k-state-active {
  background-color: #fff;
  color: #333;
}
.k-menu.k-header,
.k-menu .k-item {
  border-color: transparent;
}
.k-column-menu,
.k-column-menu .k-item,
.k-overflow-container .k-overflow-group {
  border-color: #c9c9c9;
}
.k-overflow-container .k-overflow-group {
  -webkit-box-shadow: inset 0 1px 0 #ffffff, 0 1px 0 #ffffff;
          box-shadow: inset 0 1px 0 #ffffff, 0 1px 0 #ffffff;
}
.k-toolbar-first-visible.k-overflow-group,
.k-overflow-container .k-overflow-group + .k-overflow-group {
  -webkit-box-shadow: 0 1px 0 #ffffff;
          box-shadow: 0 1px 0 #ffffff;
}
.k-toolbar-last-visible.k-overflow-group {
  -webkit-box-shadow: inset 0 1px 0 #ffffff;
          box-shadow: inset 0 1px 0 #ffffff;
}
.k-column-menu .k-separator {
  border-color: #c9c9c9;
  background-color: transparent;
}
.k-menu .k-group {
  border-color: rgba(0, 0, 0, 0.2);
}
.k-grid-filter.k-state-active {
  background-color: #fff;
}
.k-grouping-row td,
.k-group-footer td,
.k-grid-footer td {
  color: #333;
  border-color: #c9c9c9;
  font-weight: bold;
}
.k-grouping-header {
  color: #333;
}
.k-grid td.k-state-focused {
  -webkit-box-shadow: inset 0 0 0 1px none;
          box-shadow: inset 0 0 0 1px none;
}
.k-header,
.k-grid-header-wrap,
.k-grid .k-grouping-header,
.k-grid-header,
.k-pager-wrap,
.k-pager-wrap .k-textbox,
.k-pager-wrap .k-link,
.k-grouping-header .k-group-indicator,
.k-gantt-toolbar .k-state-default {
  border-color: #c9c9c9;
}
.k-button,
.k-split-button {
  border-radius: 2px;
}
.k-pager-numbers .k-link,
.k-treeview .k-in {
  border-color: transparent;
}
.k-treeview .k-icon,
.k-scheduler-table .k-icon,
.k-grid .k-hierarchy-cell .k-icon {
  background-color: transparent;
  border-radius: 0;
}
.k-scheduler-table .k-state-hover .k-icon {
  background-color: transparent;
}
.k-split-button:focus {
  outline: none;
}
.k-split-button:focus {
  -webkit-box-shadow: 0 0 0px 1px #007cc0;
          box-shadow: 0 0 0px 1px #007cc0;
}
.k-split-button:focus > .k-button {
  background: transparent;
  border-color: transparent;
}
.k-split-button:focus > .k-button.k-split-button-arrow {
  border-left-color: #007cc0;
}
.k-editor .k-tool:focus {
  outline: 0;
  border-color: #007cc0;
}
.k-checkbox-label:before {
  border-color: #bfbfbf;
  background: #fff;
  border-radius: 1px;
}
.k-checkbox:hover + .k-checkbox-label:before,
.k-checkbox:checked:hover + .k-checkbox-label:before,
.k-checkbox-label:hover:before,
.k-checkbox:checked + .k-checkbox-label:hover:before {
  border-color: #007cc0;
  -webkit-box-shadow: none;
          box-shadow: none;
}
.k-checkbox:checked + .k-checkbox-label:before {
  background-color: #fff;
  border-color: #bfbfbf;
  color: #007cc0;
}
.k-checkbox:active + .k-checkbox-label:before,
.k-checkbox-label:active:before {
  -webkit-box-shadow: none;
          box-shadow: none;
  border-color: #007cc0;
}
.k-checkbox:checked:active + .k-checkbox-label:before,
.k-checkbox:checked + .k-checkbox-label:active:before {
  -webkit-box-shadow: none;
          box-shadow: none;
  border-color: #007cc0;
}
.k-checkbox:disabled + .k-checkbox-label {
  color: #bababa;
}
.k-checkbox:disabled + .k-checkbox-label:hover:before {
  -webkit-box-shadow: none;
          box-shadow: none;
}
.k-checkbox:disabled + .k-checkbox-label:before,
.k-checkbox:checked:disabled + .k-checkbox-label:before,
.k-checkbox:checked:disabled + .k-checkbox-label:active:before,
.k-checkbox:checked:disabled + .k-checkbox-label:hover:before {
  color: #bababa;
  background: #f4f4f4;
  border-color: #bfbfbf;
  border-radius: 1px;
}
.k-checkbox:focus + .k-checkbox-label:before,
.k-checkbox:focus + .k-checkbox-label:hover:before {
  border-color: #007cc0;
  -webkit-box-shadow: none;
          box-shadow: none;
}
.k-checkbox:indeterminate + .k-checkbox-label:after {
  background-color: #007cc0;
  background-image: none;
  border-color: #007cc0;
  border-radius: 0px;
}
.k-checkbox:indeterminate:hover + .k-checkbox-label:after {
  border-color: #007cc0;
  background-color: #007cc0;
}
.k-radio-label:before {
  border-color: #bfbfbf;
  border-radius: 50%;
  background-color: #fff;
  border-width: 2px;
}
.k-radio-label:hover:before,
.k-radio:checked + .k-radio-label:hover:before {
  border-color: #007cc0;
  -webkit-box-shadow: none;
          box-shadow: none;
}
.k-radio:checked + .k-radio-label:after {
  background-color: #007cc0;
  border-radius: 50%;
}
.k-radio-label:active:before {
  border-color: #bfbfbf;
  -webkit-box-shadow: none;
          box-shadow: none;
}
.k-radio:checked + .k-radio-label:active:before {
  -webkit-box-shadow: none;
          box-shadow: none;
  border-color: #bfbfbf;
}
.k-radio:disabled + .k-radio-label {
  color: #bfbfbf;
}
.k-radio:disabled + .k-radio-label:before,
.k-radio:disabled + .k-radio-label:active:before,
.k-radio:disabled + .k-radio-label:hover:after,
.k-radio:disabled + .k-radio-label:hover:before {
  background: #fff;
  border-color: #bfbfbf;
  -webkit-box-shadow: none;
          box-shadow: none;
}
.k-radio:disabled:checked + .k-radio-label:after {
  background-color: #007cc0;
  opacity: .5;
}
.k-radio:focus + .k-radio-label:before {
  border-color: #bfbfbf;
  -webkit-box-shadow: none;
          box-shadow: none;
}
.k-radio:checked + .k-radio-label:active:before {
  border-color: #007cc0;
}
.k-radio:disabled:checked + .k-radio-label:active:before {
  border-color: #bfbfbf;
}
@media screen and (-ms-high-contrast: active) {
  .k-editor-toolbar-wrap .k-dropdown-wrap.k-state-focused,
  .k-editor-toolbar-wrap .k-button-group .k-tool:focus {
    border-color: #fff;
  }
}
/* Responsive styles */
@media only screen and (max-width: 1024px) {
  .k-webkit .k-scheduler-toolbar > ul.k-scheduler-views > li.k-current-view,
  .k-ff .k-scheduler-toolbar > ul.k-scheduler-views > li.k-current-view,
  .k-ie11 .k-scheduler-toolbar > ul.k-scheduler-views > li.k-current-view,
  .k-edge .k-scheduler-toolbar > ul.k-scheduler-views > li.k-current-view,
  .k-safari .k-scheduler-toolbar > ul.k-scheduler-views > li.k-current-view,
  .k-webkit .k-pager-numbers .k-current-page .k-link,
  .k-ff .k-pager-numbers .k-current-page .k-link,
  .k-ie11 .k-pager-numbers .k-current-page .k-link,
  .k-edge .k-pager-numbers .k-current-page .k-link,
  .k-safari .k-pager-numbers .k-current-page .k-link {
    background-image: none;
    background-position: 50% 50%;
    background-color: #fff;
    border-color: #bfbfbf;
  }
  .k-webkit .k-pager-numbers .k-current-page .k-link,
  .k-ff .k-pager-numbers .k-current-page .k-link,
  .k-ie11 .k-pager-numbers .k-current-page .k-link,
  .k-edge .k-pager-numbers .k-current-page .k-link,
  .k-safari .k-pager-numbers .k-current-page .k-link {
    border-color: #c9c9c9;
  }
  .k-webkit .k-scheduler-toolbar > ul.k-scheduler-views > li.k-current-view,
  .k-ff .k-scheduler-toolbar > ul.k-scheduler-views > li.k-current-view,
  .k-ie11 .k-scheduler-toolbar > ul.k-scheduler-views > li.k-current-view,
  .k-edge .k-scheduler-toolbar > ul.k-scheduler-views > li.k-current-view,
  .k-safari .k-scheduler-toolbar > ul.k-scheduler-views > li.k-current-view {
    border-radius: 0;
  }
  .k-webkit .k-scheduler-toolbar > ul.k-scheduler-views.k-state-expanded > li,
  .k-ff .k-scheduler-toolbar > ul.k-scheduler-views.k-state-expanded > li,
  .k-ie11 .k-scheduler-toolbar > ul.k-scheduler-views.k-state-expanded > li,
  .k-edge .k-scheduler-toolbar > ul.k-scheduler-views.k-state-expanded > li,
  .k-safari .k-scheduler-toolbar > ul.k-scheduler-views.k-state-expanded > li {
    border-radius: 0;
  }
  .k-webkit .k-scheduler-toolbar > ul.k-scheduler-views.k-state-expanded > li.k-current-view,
  .k-ff .k-scheduler-toolbar > ul.k-scheduler-views.k-state-expanded > li.k-current-view,
  .k-ie11 .k-scheduler-toolbar > ul.k-scheduler-views.k-state-expanded > li.k-current-view,
  .k-edge .k-scheduler-toolbar > ul.k-scheduler-views.k-state-expanded > li.k-current-view,
  .k-safari .k-scheduler-toolbar > ul.k-scheduler-views.k-state-expanded > li.k-current-view {
    border-radius: 0 0 0 0;
  }
  .k-webkit .k-scheduler-toolbar > ul li:first-child,
  .k-ff .k-scheduler-toolbar > ul li:first-child,
  .k-ie11 .k-scheduler-toolbar > ul li:first-child,
  .k-edge .k-scheduler-toolbar > ul li:first-child,
  .k-safari .k-scheduler-toolbar > ul li:first-child,
  .k-webkit .k-scheduler-toolbar > ul li:first-child .k-link,
  .k-ff .k-scheduler-toolbar > ul li:first-child .k-link,
  .k-ie11 .k-scheduler-toolbar > ul li:first-child .k-link,
  .k-edge .k-scheduler-toolbar > ul li:first-child .k-link,
  .k-safari .k-scheduler-toolbar > ul li:first-child .k-link,
  .k-webkit .k-scheduler-toolbar > ul.k-scheduler-views li,
  .k-ff .k-scheduler-toolbar > ul.k-scheduler-views li,
  .k-ie11 .k-scheduler-toolbar > ul.k-scheduler-views li,
  .k-edge .k-scheduler-toolbar > ul.k-scheduler-views li,
  .k-safari .k-scheduler-toolbar > ul.k-scheduler-views li,
  .k-webkit .k-scheduler-toolbar > ul.k-scheduler-views li .k-link,
  .k-ff .k-scheduler-toolbar > ul.k-scheduler-views li .k-link,
  .k-ie11 .k-scheduler-toolbar > ul.k-scheduler-views li .k-link,
  .k-edge .k-scheduler-toolbar > ul.k-scheduler-views li .k-link,
  .k-safari .k-scheduler-toolbar > ul.k-scheduler-views li .k-link {
    border-radius: 0;
  }
  .k-webkit .k-scheduler-toolbar > ul.k-scheduler-views li:last-child,
  .k-ff .k-scheduler-toolbar > ul.k-scheduler-views li:last-child,
  .k-ie11 .k-scheduler-toolbar > ul.k-scheduler-views li:last-child,
  .k-edge .k-scheduler-toolbar > ul.k-scheduler-views li:last-child,
  .k-safari .k-scheduler-toolbar > ul.k-scheduler-views li:last-child,
  .k-webkit .k-scheduler-toolbar > ul.k-scheduler-views li:last-child .k-link,
  .k-ff .k-scheduler-toolbar > ul.k-scheduler-views li:last-child .k-link,
  .k-ie11 .k-scheduler-toolbar > ul.k-scheduler-views li:last-child .k-link,
  .k-edge .k-scheduler-toolbar > ul.k-scheduler-views li:last-child .k-link,
  .k-safari .k-scheduler-toolbar > ul.k-scheduler-views li:last-child .k-link {
    border-radius: 0 0 0 0;
  }
  .k-webkit .k-pager-numbers .k-current-page .k-link:hover,
  .k-ff .k-pager-numbers .k-current-page .k-link:hover,
  .k-ie11 .k-pager-numbers .k-current-page .k-link:hover,
  .k-edge .k-pager-numbers .k-current-page .k-link:hover,
  .k-safari .k-pager-numbers .k-current-page .k-link:hover,
  .k-webkit .k-scheduler-toolbar > ul.k-scheduler-views > li.k-current-view:hover,
  .k-ff .k-scheduler-toolbar > ul.k-scheduler-views > li.k-current-view:hover,
  .k-ie11 .k-scheduler-toolbar > ul.k-scheduler-views > li.k-current-view:hover,
  .k-edge .k-scheduler-toolbar > ul.k-scheduler-views > li.k-current-view:hover,
  .k-safari .k-scheduler-toolbar > ul.k-scheduler-views > li.k-current-view:hover {
    border-color: #eaeaea;
    background-image: none;
    background-color: #eaeaea;
  }
  .k-webkit .k-scheduler-toolbar > ul.k-scheduler-views > li.k-current-view > .k-link,
  .k-ff .k-scheduler-toolbar > ul.k-scheduler-views > li.k-current-view > .k-link,
  .k-ie11 .k-scheduler-toolbar > ul.k-scheduler-views > li.k-current-view > .k-link,
  .k-edge .k-scheduler-toolbar > ul.k-scheduler-views > li.k-current-view > .k-link,
  .k-safari .k-scheduler-toolbar > ul.k-scheduler-views > li.k-current-view > .k-link {
    color: #333;
    min-width: 75px;
  }
  .k-webkit .k-scheduler-toolbar > ul.k-scheduler-views > li.k-current-view:hover > .k-link,
  .k-ff .k-scheduler-toolbar > ul.k-scheduler-views > li.k-current-view:hover > .k-link,
  .k-ie11 .k-scheduler-toolbar > ul.k-scheduler-views > li.k-current-view:hover > .k-link,
  .k-edge .k-scheduler-toolbar > ul.k-scheduler-views > li.k-current-view:hover > .k-link,
  .k-safari .k-scheduler-toolbar > ul.k-scheduler-views > li.k-current-view:hover > .k-link {
    color: #333;
  }
  .k-webkit .k-pager-numbers .k-current-page .k-link:after,
  .k-ff .k-pager-numbers .k-current-page .k-link:after,
  .k-ie11 .k-pager-numbers .k-current-page .k-link:after,
  .k-edge .k-pager-numbers .k-current-page .k-link:after,
  .k-safari .k-pager-numbers .k-current-page .k-link:after,
  .k-webkit .k-scheduler-views > li.k-state-selected > .k-link:after,
  .k-ff .k-scheduler-views > li.k-state-selected > .k-link:after,
  .k-ie11 .k-scheduler-views > li.k-state-selected > .k-link:after,
  .k-edge .k-scheduler-views > li.k-state-selected > .k-link:after,
  .k-safari .k-scheduler-views > li.k-state-selected > .k-link:after {
    display: block;
    content: "";
    position: absolute;
    top: 50%;
    margin-top: -0.5em;
    right: 0.333em;
    width: 1.333em;
    height: 1.333em;
  }
  .k-webkit .k-pager-numbers.k-state-expanded,
  .k-ff .k-pager-numbers.k-state-expanded,
  .k-ie11 .k-pager-numbers.k-state-expanded,
  .k-edge .k-pager-numbers.k-state-expanded,
  .k-safari .k-pager-numbers.k-state-expanded,
  .k-webkit .k-scheduler-toolbar > ul.k-scheduler-views.k-state-expanded,
  .k-ff .k-scheduler-toolbar > ul.k-scheduler-views.k-state-expanded,
  .k-ie11 .k-scheduler-toolbar > ul.k-scheduler-views.k-state-expanded,
  .k-edge .k-scheduler-toolbar > ul.k-scheduler-views.k-state-expanded,
  .k-safari .k-scheduler-toolbar > ul.k-scheduler-views.k-state-expanded {
    border-width: 1px 1px 0 1px;
    border-style: solid;
    border-color: #c9c9c9;
    background-color: #f2f2f2;
    border-radius: 0 0 0 0;
    -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
            box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
  }
  .k-webkit .k-scheduler-toolbar > ul.k-scheduler-views.k-state-expanded,
  .k-ff .k-scheduler-toolbar > ul.k-scheduler-views.k-state-expanded,
  .k-ie11 .k-scheduler-toolbar > ul.k-scheduler-views.k-state-expanded,
  .k-edge .k-scheduler-toolbar > ul.k-scheduler-views.k-state-expanded,
  .k-safari .k-scheduler-toolbar > ul.k-scheduler-views.k-state-expanded {
    border-width: 1px;
    background-image: none;
    border-radius: 0;
  }
  .k-webkit .k-pager-numbers .k-state-selected,
  .k-ff .k-pager-numbers .k-state-selected,
  .k-ie11 .k-pager-numbers .k-state-selected,
  .k-edge .k-pager-numbers .k-state-selected,
  .k-safari .k-pager-numbers .k-state-selected,
  .k-webkit .k-pager-numbers .k-link,
  .k-ff .k-pager-numbers .k-link,
  .k-ie11 .k-pager-numbers .k-link,
  .k-edge .k-pager-numbers .k-link,
  .k-safari .k-pager-numbers .k-link {
    border-radius: 0;
  }
  .k-webkit .k-widget.k-grid .k-pager-nav + .k-pager-numbers,
  .k-ff .k-widget.k-grid .k-pager-nav + .k-pager-numbers,
  .k-ie11 .k-widget.k-grid .k-pager-nav + .k-pager-numbers,
  .k-edge .k-widget.k-grid .k-pager-nav + .k-pager-numbers,
  .k-safari .k-widget.k-grid .k-pager-nav + .k-pager-numbers {
    position: absolute;
  }
}
.k-split-button {
  border-radius: 2px;
}
.k-toolbar .k-split-button .k-button {
  border-radius: 2px 0 0 2px;
}
.k-list > .k-item.k-state-focused,
.k-treeview .k-in.k-state-focused {
  border-color: #007cc0;
}
.k-menu > .k-state-focused,
.k-menu-group > .k-state-focused {
  background-color: #eaeaea;
}
.k-textbox:hover,
.k-textbox:focus {
  border-color: #007cc0;
}
.k-splitbar {
  border-color: transparent;
}
.k-flatcolorpicker .k-hue-slider .k-draghandle:hover,
.k-flatcolorpicker .k-transparency-slider .k-draghandle:hover,
.k-flatcolorpicker .k-hue-slider .k-draghandle:focus,
.k-flatcolorpicker .k-transparency-slider .k-draghandle:focus {
  border-color: #eaeaea;
}
.k-calendar .k-header,
.k-menu.k-header,
.k-tabstrip.k-header,
.k-tabstrip .k-tabstrip-items .k-item,
.k-header.k-scheduler-toolbar,
.k-scheduler-footer > .k-header {
  background-color: #fff;
}
.k-header.k-scheduler-views,
.k-header.k-datepicker,
.k-header.k-datetimepicker,
.k-header.k-timepicker,
.k-header.k-dropdown,
.k-scheduler-navigation > .k-header,
.k-header.k-gantt-views,
.k-gantt-navigation > .k-header {
  background-color: transparent;
}
.k-scheduler-header th,
.k-scheduler-times th,
.k-calendar th {
  color: #666;
  font-weight: normal;
  font-size: .8em;
  text-transform: uppercase;
}
.k-tabstrip .k-tabstrip-items .k-state-hover {
  border-color: transparent;
}
.k-tabstrip .k-tabstrip-items .k-state-hover .k-link {
  color: #007cc0;
}
.k-tabstrip .k-tabstrip-items .k-state-active {
  border-color: #007cc0;
}
.k-tabstrip .k-tabstrip-items .k-state-active .k-link {
  color: #007cc0;
  border-color: #007cc0;
}
div.k-window,
div.k-window.k-state-focused {
  border-color: #666;
}
.k-window-titlebar.k-header {
  background: none;
  color: #666;
}
.k-list > .k-state-selected,
.k-drag-clue.k-state-selected,
.k-group > .k-item > .k-state-selected,
.k-gantt .k-treelist .k-state-selected,
.k-gantt .k-treelist .k-state-selected td,
.k-gantt .k-treelist .k-alt.k-state-selected,
.k-gantt .k-treelist .k-alt.k-state-selected > td {
  background-color: #e5f3ff;
  color: #333;
}
.k-grid tr:hover {
  background-color: #eaeaea;
}
.k-grid .k-filter-row:hover,
.k-pivot-rowheaders .k-grid tr:hover {
  background: none;
}
.k-grid-header th.k-state-focused,
.k-grid td.k-state-focused {
  -webkit-box-shadow: inset 0 0 0 1px #007cc0;
          box-shadow: inset 0 0 0 1px #007cc0;
}
.k-grid tr.k-state-selected,
.k-grid td.k-state-selected,
.k-grid td.k-state-selected.k-state-focused {
  color: #333;
  background-color: #e6f3fe;
}
.k-grid td.k-state-selected:hover,
.k-grid tr.k-state-selected:hover td {
  background-color: #d6ecff;
}
.k-gantt-treelist {
  background: #f2f2f2;
}
.k-grid tr td,
.k-grid tr th {
  border-left-color: transparent;
}
.k-pager-wrap > .k-link,
.k-pager-numbers .k-link,
.k-pager-numbers .k-link:hover,
.k-pager-numbers .k-state-selected {
  background: none;
  border-radius: 0;
}
.k-pager-wrap > .k-link,
.k-pager-wrap > .k-link.k-state-disabled:hover,
.k-pager-wrap > .k-link:hover,
.k-pager-numbers .k-link:hover {
  border-radius: 0;
  border-color: transparent;
}
.k-pager-wrap > .k-link:hover {
  border-color: #bfbfbf;
}
.k-pager-numbers .k-link {
  border-color: transparent;
}
.k-grouping-header,
.k-grid-toolbar {
  padding: 0.714em;
}
.k-window .k-edit-buttons {
  background: #000;
}
.k-scheduler .k-scheduler-views .k-state-selected,
.k-gantt .k-gantt-views .k-state-selected {
  background: none;
}
.k-gantt .k-gantt-views > li {
  border-radius: 0;
}
.k-gantt .k-gantt-views .k-state-selected {
  border-color: #007cc0;
}
.k-task-summary-complete {
  border-color: #007cc0;
  background: #007cc0;
}
.k-state-selected .k-task-summary-complete {
  border-color: #0075b6;
  background: #0075b6;
}
.k-task-milestone {
  border-color: #99d101;
  background: #99d101;
}
.k-task-dot:after {
  background-color: #7d7d7d;
  border-color: #7d7d7d;
}
.k-task-dot:hover:after {
  background-color: #444;
}
.k-scheduler-views .k-link:link,
.k-scheduler-views .k-link:visited,
.k-gantt-views .k-link:link,
.k-gantt-views .k-link:visited,
.k-scheduler-navigation .k-nav-today .k-link,
.k-group-indicator .k-link,
.k-pager-numbers .k-link {
  color: #333;
}
.k-calendar .k-footer .k-nav-today,
.k-calendar .k-link.k-nav-fast,
.k-scheduler .k-scheduler-views > .k-state-selected > .k-link,
.k-gantt .k-gantt-views > .k-state-selected > .k-link,
.k-pager-numbers .k-state-selected {
  color: #007cc0;
}
.k-scheduler .k-scheduler-toolbar ul li.k-state-hover,
.k-gantt .k-gantt-toolbar ul li.k-state-hover {
  background: none;
  border-color: transparent;
}
.k-scheduler .k-scheduler-toolbar ul li.k-state-selected,
.k-gantt .k-gantt-toolbar ul li.k-state-selected {
  border-color: #007cc0;
}
.k-scheduler .k-scheduler-toolbar .k-state-hover .k-link,
.k-gantt .k-gantt-toolbar .k-state-hover .k-link {
  color: #007cc0;
}
.k-calendar td {
  background: #f2f2f2;
  border-color: #fff;
}
.k-calendar .k-alt,
.k-calendar .k-alt:active {
  color: #666;
  background-color: #fff;
}
.k-calendar td.k-state-focused {
  -webkit-box-shadow: inset 0 0 0px 1px #007cc0;
          box-shadow: inset 0 0 0px 1px #007cc0;
}
.k-calendar td.k-weekend {
  background: #e5e5e5;
}
.k-calendar td.k-today {
  background: #007cc0;
}
.k-calendar .k-today .k-link {
  color: #fff;
}
.k-calendar .k-today.k-state-hover {
  background-color: #0086c0;
}
.k-calendar .k-today.k-state-focused,
.k-calendar .k-today:active,
.k-calendar .k-today.k-state-selected:active {
  -webkit-box-shadow: inset 0 0 0px 1px #005483;
          box-shadow: inset 0 0 0px 1px #005483;
}
.k-calendar td.k-other-month {
  background: transparent;
}
.k-calendar td.k-state-selected {
  background: #e9f7ff;
}
.k-calendar td.k-state-selected .k-link {
  color: #333;
}
.k-calendar td.k-state-hover {
  background: #eaeaea;
  border-color: #fff;
}
.k-calendar td:active,
.k-calendar td.k-state-selected.k-state-hover {
  background-color: #cfe6f3;
}
.k-scheduler-table .k-other-month,
.k-scheduler-header th {
  background: #fff;
}
.k-scheduler-times tr,
.k-scheduler-times th,
.k-scheduler-table td,
.k-scheduler-header th,
.k-scheduler-header-wrap,
.k-scheduler-times {
  border-color: #fff;
}
.k-scheduler-header tr + tr > th {
  border-top-color: #c9c9c9;
}
.k-scheduler-header th {
  height: 2.714em;
}
.k-scheduler .k-scheduler-datecolumn,
.k-scheduler .k-scheduler-timecolumn {
  width: 150px;
  padding-left: 7px;
  padding-right: 7px;
}
.k-state-disabled {
  filter: alpha(opacity=50);
  opacity: .5;
}
.k-dropdown .k-dropdown-wrap {
  background-color: #fff;
}
.k-popup > .k-group-header,
.k-popup > .k-virtual-wrap > .k-group-header {
  color: #333;
}
.k-popup .k-item > .k-group {
  color: #333;
}
/* Responsive styles */
@media only screen and (max-width: 1024px) {
  .k-webkit,
  .k-ff,
  .k-ie11,
  .k-edge,
  .k-safari {
    /* Responsive Scheduler */
    /* Responsive Pager */
  }
  .k-webkit .k-scheduler-toolbar > ul.k-scheduler-views,
  .k-ff .k-scheduler-toolbar > ul.k-scheduler-views,
  .k-ie11 .k-scheduler-toolbar > ul.k-scheduler-views,
  .k-edge .k-scheduler-toolbar > ul.k-scheduler-views,
  .k-safari .k-scheduler-toolbar > ul.k-scheduler-views {
    right: 0;
    top: 0;
  }
  .k-webkit .k-rtl .k-scheduler-toolbar > ul.k-scheduler-views,
  .k-ff .k-rtl .k-scheduler-toolbar > ul.k-scheduler-views,
  .k-ie11 .k-rtl .k-scheduler-toolbar > ul.k-scheduler-views,
  .k-edge .k-rtl .k-scheduler-toolbar > ul.k-scheduler-views,
  .k-safari .k-rtl .k-scheduler-toolbar > ul.k-scheduler-views {
    right: auto;
    left: 0;
  }
  .k-webkit .k-scheduler-toolbar > ul.k-scheduler-views > li.k-current-view,
  .k-ff .k-scheduler-toolbar > ul.k-scheduler-views > li.k-current-view,
  .k-ie11 .k-scheduler-toolbar > ul.k-scheduler-views > li.k-current-view,
  .k-edge .k-scheduler-toolbar > ul.k-scheduler-views > li.k-current-view,
  .k-safari .k-scheduler-toolbar > ul.k-scheduler-views > li.k-current-view,
  .k-webkit .k-scheduler-toolbar > ul.k-scheduler-views > li.k-current-view:hover,
  .k-ff .k-scheduler-toolbar > ul.k-scheduler-views > li.k-current-view:hover,
  .k-ie11 .k-scheduler-toolbar > ul.k-scheduler-views > li.k-current-view:hover,
  .k-edge .k-scheduler-toolbar > ul.k-scheduler-views > li.k-current-view:hover,
  .k-safari .k-scheduler-toolbar > ul.k-scheduler-views > li.k-current-view:hover {
    background-image: none;
    background-position: 50% 50%;
    background-color: transparent;
    border-color: transparent;
    border-radius: 0;
    text-align: right;
  }
  .k-webkit .k-rtl .k-scheduler-toolbar > ul.k-scheduler-views > li.k-current-view,
  .k-ff .k-rtl .k-scheduler-toolbar > ul.k-scheduler-views > li.k-current-view,
  .k-ie11 .k-rtl .k-scheduler-toolbar > ul.k-scheduler-views > li.k-current-view,
  .k-edge .k-rtl .k-scheduler-toolbar > ul.k-scheduler-views > li.k-current-view,
  .k-safari .k-rtl .k-scheduler-toolbar > ul.k-scheduler-views > li.k-current-view {
    text-align: left;
    padding-left: 0;
  }
  .k-webkit .k-scheduler-toolbar > ul.k-scheduler-views.k-state-expanded > li,
  .k-ff .k-scheduler-toolbar > ul.k-scheduler-views.k-state-expanded > li,
  .k-ie11 .k-scheduler-toolbar > ul.k-scheduler-views.k-state-expanded > li,
  .k-edge .k-scheduler-toolbar > ul.k-scheduler-views.k-state-expanded > li,
  .k-safari .k-scheduler-toolbar > ul.k-scheduler-views.k-state-expanded > li {
    border-radius: 0;
  }
  .k-webkit .k-scheduler-toolbar > ul.k-scheduler-views.k-state-expanded > li.k-current-view,
  .k-ff .k-scheduler-toolbar > ul.k-scheduler-views.k-state-expanded > li.k-current-view,
  .k-ie11 .k-scheduler-toolbar > ul.k-scheduler-views.k-state-expanded > li.k-current-view,
  .k-edge .k-scheduler-toolbar > ul.k-scheduler-views.k-state-expanded > li.k-current-view,
  .k-safari .k-scheduler-toolbar > ul.k-scheduler-views.k-state-expanded > li.k-current-view {
    border-radius: 0 0 0 0;
  }
  .k-webkit .k-scheduler-toolbar > ul li:first-child,
  .k-ff .k-scheduler-toolbar > ul li:first-child,
  .k-ie11 .k-scheduler-toolbar > ul li:first-child,
  .k-edge .k-scheduler-toolbar > ul li:first-child,
  .k-safari .k-scheduler-toolbar > ul li:first-child,
  .k-webkit .k-scheduler-toolbar > ul li:first-child .k-link,
  .k-ff .k-scheduler-toolbar > ul li:first-child .k-link,
  .k-ie11 .k-scheduler-toolbar > ul li:first-child .k-link,
  .k-edge .k-scheduler-toolbar > ul li:first-child .k-link,
  .k-safari .k-scheduler-toolbar > ul li:first-child .k-link,
  .k-webkit .k-scheduler-toolbar > ul.k-scheduler-views li,
  .k-ff .k-scheduler-toolbar > ul.k-scheduler-views li,
  .k-ie11 .k-scheduler-toolbar > ul.k-scheduler-views li,
  .k-edge .k-scheduler-toolbar > ul.k-scheduler-views li,
  .k-safari .k-scheduler-toolbar > ul.k-scheduler-views li,
  .k-webkit .k-scheduler-toolbar > ul.k-scheduler-views li .k-link,
  .k-ff .k-scheduler-toolbar > ul.k-scheduler-views li .k-link,
  .k-ie11 .k-scheduler-toolbar > ul.k-scheduler-views li .k-link,
  .k-edge .k-scheduler-toolbar > ul.k-scheduler-views li .k-link,
  .k-safari .k-scheduler-toolbar > ul.k-scheduler-views li .k-link {
    border-radius: 0;
    padding-top: 0;
  }
  .k-webkit .k-scheduler-toolbar > ul.k-scheduler-views li:last-child,
  .k-ff .k-scheduler-toolbar > ul.k-scheduler-views li:last-child,
  .k-ie11 .k-scheduler-toolbar > ul.k-scheduler-views li:last-child,
  .k-edge .k-scheduler-toolbar > ul.k-scheduler-views li:last-child,
  .k-safari .k-scheduler-toolbar > ul.k-scheduler-views li:last-child,
  .k-webkit .k-scheduler-toolbar > ul.k-scheduler-views li:last-child .k-link,
  .k-ff .k-scheduler-toolbar > ul.k-scheduler-views li:last-child .k-link,
  .k-ie11 .k-scheduler-toolbar > ul.k-scheduler-views li:last-child .k-link,
  .k-edge .k-scheduler-toolbar > ul.k-scheduler-views li:last-child .k-link,
  .k-safari .k-scheduler-toolbar > ul.k-scheduler-views li:last-child .k-link {
    border-radius: 0 0 0 0;
  }
  .k-webkit .k-scheduler-toolbar > ul.k-scheduler-views > li.k-current-view:hover,
  .k-ff .k-scheduler-toolbar > ul.k-scheduler-views > li.k-current-view:hover,
  .k-ie11 .k-scheduler-toolbar > ul.k-scheduler-views > li.k-current-view:hover,
  .k-edge .k-scheduler-toolbar > ul.k-scheduler-views > li.k-current-view:hover,
  .k-safari .k-scheduler-toolbar > ul.k-scheduler-views > li.k-current-view:hover {
    border-color: transparent;
    background-image: none;
    background-color: transparent;
  }
  .k-webkit .k-scheduler-toolbar > ul.k-scheduler-views > li.k-current-view > .k-link,
  .k-ff .k-scheduler-toolbar > ul.k-scheduler-views > li.k-current-view > .k-link,
  .k-ie11 .k-scheduler-toolbar > ul.k-scheduler-views > li.k-current-view > .k-link,
  .k-edge .k-scheduler-toolbar > ul.k-scheduler-views > li.k-current-view > .k-link,
  .k-safari .k-scheduler-toolbar > ul.k-scheduler-views > li.k-current-view > .k-link,
  .k-webkit .k-scheduler-toolbar > ul.k-scheduler-views > li.k-current-view:hover > .k-link,
  .k-ff .k-scheduler-toolbar > ul.k-scheduler-views > li.k-current-view:hover > .k-link,
  .k-ie11 .k-scheduler-toolbar > ul.k-scheduler-views > li.k-current-view:hover > .k-link,
  .k-edge .k-scheduler-toolbar > ul.k-scheduler-views > li.k-current-view:hover > .k-link,
  .k-safari .k-scheduler-toolbar > ul.k-scheduler-views > li.k-current-view:hover > .k-link {
    color: #333;
    min-width: 20px;
  }
  .k-webkit .k-scheduler-views > li.k-state-selected > .k-link:after,
  .k-ff .k-scheduler-views > li.k-state-selected > .k-link:after,
  .k-ie11 .k-scheduler-views > li.k-state-selected > .k-link:after,
  .k-edge .k-scheduler-views > li.k-state-selected > .k-link:after,
  .k-safari .k-scheduler-views > li.k-state-selected > .k-link:after {
    display: block;
    content: "";
    position: absolute;
    top: 50%;
    margin-top: -0.5em;
    right: 0.333em;
    width: 16px;
    height: 16px;
  }
  .k-webkit .k-scheduler-toolbar > ul.k-scheduler-views.k-state-expanded,
  .k-ff .k-scheduler-toolbar > ul.k-scheduler-views.k-state-expanded,
  .k-ie11 .k-scheduler-toolbar > ul.k-scheduler-views.k-state-expanded,
  .k-edge .k-scheduler-toolbar > ul.k-scheduler-views.k-state-expanded,
  .k-safari .k-scheduler-toolbar > ul.k-scheduler-views.k-state-expanded {
    border-width: 1px 1px 0 1px;
    border-style: solid;
    border-color: transparent;
    /*@secondary-border-color*/
    background-color: #f2f2f2;
    border-radius: 0;
    border-width: 1px;
    background-image: none;
    -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
            box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
  }
  .k-webkit .k-rtl .k-scheduler-toolbar > ul.k-scheduler-views.k-state-expanded,
  .k-ff .k-rtl .k-scheduler-toolbar > ul.k-scheduler-views.k-state-expanded,
  .k-ie11 .k-rtl .k-scheduler-toolbar > ul.k-scheduler-views.k-state-expanded,
  .k-edge .k-rtl .k-scheduler-toolbar > ul.k-scheduler-views.k-state-expanded,
  .k-safari .k-rtl .k-scheduler-toolbar > ul.k-scheduler-views.k-state-expanded {
    text-align: left;
  }
  .k-webkit .k-pager-wrap,
  .k-ff .k-pager-wrap,
  .k-ie11 .k-pager-wrap,
  .k-edge .k-pager-wrap,
  .k-safari .k-pager-wrap {
    min-height: 3.8em;
  }
  .k-webkit .k-pager-wrap .k-pager-nav,
  .k-ff .k-pager-wrap .k-pager-nav,
  .k-ie11 .k-pager-wrap .k-pager-nav,
  .k-edge .k-pager-wrap .k-pager-nav,
  .k-safari .k-pager-wrap .k-pager-nav,
  .k-webkit .k-pager-input,
  .k-ff .k-pager-input,
  .k-ie11 .k-pager-input,
  .k-edge .k-pager-input,
  .k-safari .k-pager-input {
    display: inline-block;
    vertical-align: top;
  }
  .k-webkit .k-pager-numbers,
  .k-ff .k-pager-numbers,
  .k-ie11 .k-pager-numbers,
  .k-edge .k-pager-numbers,
  .k-safari .k-pager-numbers,
  .k-webkit .k-grid .k-pager-numbers,
  .k-ff .k-grid .k-pager-numbers,
  .k-ie11 .k-grid .k-pager-numbers,
  .k-edge .k-grid .k-pager-numbers,
  .k-safari .k-grid .k-pager-numbers {
    position: absolute;
    left: 5em;
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    margin-top: 6px;
    overflow: visible;
    height: auto;
    -webkit-transform: translatey(-100%);
        -ms-transform: translatey(-100%);
            transform: translatey(-100%);
  }
  .k-webkit .k-pager-numbers:first-child,
  .k-ff .k-pager-numbers:first-child,
  .k-ie11 .k-pager-numbers:first-child,
  .k-edge .k-pager-numbers:first-child,
  .k-safari .k-pager-numbers:first-child,
  .k-webkit .k-grid .k-pager-numbers:first-child,
  .k-ff .k-grid .k-pager-numbers:first-child,
  .k-ie11 .k-grid .k-pager-numbers:first-child,
  .k-edge .k-grid .k-pager-numbers:first-child,
  .k-safari .k-grid .k-pager-numbers:first-child {
    left: .3em;
  }
  .k-webkit .km-pane-wrapper .k-pager-numbers .k-link,
  .k-ff .km-pane-wrapper .k-pager-numbers .k-link,
  .k-ie11 .km-pane-wrapper .k-pager-numbers .k-link,
  .k-edge .km-pane-wrapper .k-pager-numbers .k-link,
  .k-safari .km-pane-wrapper .k-pager-numbers .k-link,
  .k-webkit .km-pane-wrapper .k-pager-numbers .k-state-selected,
  .k-ff .km-pane-wrapper .k-pager-numbers .k-state-selected,
  .k-ie11 .km-pane-wrapper .k-pager-numbers .k-state-selected,
  .k-edge .km-pane-wrapper .k-pager-numbers .k-state-selected,
  .k-safari .km-pane-wrapper .k-pager-numbers .k-state-selected,
  .k-webkit .km-pane-wrapper .k-pager-wrap > .k-link,
  .k-ff .km-pane-wrapper .k-pager-wrap > .k-link,
  .k-ie11 .km-pane-wrapper .k-pager-wrap > .k-link,
  .k-edge .km-pane-wrapper .k-pager-wrap > .k-link,
  .k-safari .km-pane-wrapper .k-pager-wrap > .k-link,
  .k-webkit .km-pane-wrapper .k-pager-wrap > .k-pager-info,
  .k-ff .km-pane-wrapper .k-pager-wrap > .k-pager-info,
  .k-ie11 .km-pane-wrapper .k-pager-wrap > .k-pager-info,
  .k-edge .km-pane-wrapper .k-pager-wrap > .k-pager-info,
  .k-safari .km-pane-wrapper .k-pager-wrap > .k-pager-info {
    padding-top: 0;
    padding-bottom: 0;
  }
  .k-webkit .k-rtl .k-pager-numbers,
  .k-ff .k-rtl .k-pager-numbers,
  .k-ie11 .k-rtl .k-pager-numbers,
  .k-edge .k-rtl .k-pager-numbers,
  .k-safari .k-rtl .k-pager-numbers,
  .k-webkit .k-rtl .k-grid .k-pager-numbers,
  .k-ff .k-rtl .k-grid .k-pager-numbers,
  .k-ie11 .k-rtl .k-grid .k-pager-numbers,
  .k-edge .k-rtl .k-grid .k-pager-numbers,
  .k-safari .k-rtl .k-grid .k-pager-numbers {
    right: 5em;
    width: 5.15em;
  }
  .k-webkit .k-rtl .k-pager-numbers:first-child,
  .k-ff .k-rtl .k-pager-numbers:first-child,
  .k-ie11 .k-rtl .k-pager-numbers:first-child,
  .k-edge .k-rtl .k-pager-numbers:first-child,
  .k-safari .k-rtl .k-pager-numbers:first-child,
  .k-webkit .k-rtl .k-grid .k-pager-numbers:first-child,
  .k-ff .k-rtl .k-grid .k-pager-numbers:first-child,
  .k-ie11 .k-rtl .k-grid .k-pager-numbers:first-child,
  .k-edge .k-rtl .k-grid .k-pager-numbers:first-child,
  .k-safari .k-rtl .k-grid .k-pager-numbers:first-child {
    right: .3em;
  }
  .k-webkit .k-pager-numbers .k-current-page,
  .k-ff .k-pager-numbers .k-current-page,
  .k-ie11 .k-pager-numbers .k-current-page,
  .k-edge .k-pager-numbers .k-current-page,
  .k-safari .k-pager-numbers .k-current-page,
  .k-webkit .k-grid .k-pager-numbers .k-current-page,
  .k-ff .k-grid .k-pager-numbers .k-current-page,
  .k-ie11 .k-grid .k-pager-numbers .k-current-page,
  .k-edge .k-grid .k-pager-numbers .k-current-page,
  .k-safari .k-grid .k-pager-numbers .k-current-page {
    display: block;
    border-left: 0;
    -webkit-transform: translatey(100%);
        -ms-transform: translatey(100%);
            transform: translatey(100%);
  }
  .k-webkit .k-pager-numbers li:not(.k-current-page),
  .k-ff .k-pager-numbers li:not(.k-current-page),
  .k-ie11 .k-pager-numbers li:not(.k-current-page),
  .k-edge .k-pager-numbers li:not(.k-current-page),
  .k-safari .k-pager-numbers li:not(.k-current-page) {
    display: none;
  }
  .k-webkit .k-pager-wrap .k-pager-numbers .k-current-page .k-link,
  .k-ff .k-pager-wrap .k-pager-numbers .k-current-page .k-link,
  .k-ie11 .k-pager-wrap .k-pager-numbers .k-current-page .k-link,
  .k-edge .k-pager-wrap .k-pager-numbers .k-current-page .k-link,
  .k-safari .k-pager-wrap .k-pager-numbers .k-current-page .k-link {
    width: 3.8em;
    line-height: 1.429em;
    padding: 0.643em .429em 0.643em 0.8em;
    border-radius: 0;
    background-image: none;
    background-position: 50% 50%;
    background-color: #fff;
    border: 1px solid #bfbfbf;
  }
  .k-webkit .k-pager-numbers .k-current-page:hover .k-link,
  .k-ff .k-pager-numbers .k-current-page:hover .k-link,
  .k-ie11 .k-pager-numbers .k-current-page:hover .k-link,
  .k-edge .k-pager-numbers .k-current-page:hover .k-link,
  .k-safari .k-pager-numbers .k-current-page:hover .k-link {
    border-radius: 0;
    background-color: #fff;
    border: 1px solid #007cc0;
  }
  .k-webkit .k-pager-numbers .k-current-page .k-link:after,
  .k-ff .k-pager-numbers .k-current-page .k-link:after,
  .k-ie11 .k-pager-numbers .k-current-page .k-link:after,
  .k-edge .k-pager-numbers .k-current-page .k-link:after,
  .k-safari .k-pager-numbers .k-current-page .k-link:after {
    display: block;
    content: "";
    position: absolute;
    top: 50%;
    margin-top: -0.6em;
    right: 0.8em;
    width: 16px;
    height: 16px;
  }
  .k-webkit .k-pager-numbers + .k-link,
  .k-ff .k-pager-numbers + .k-link,
  .k-ie11 .k-pager-numbers + .k-link,
  .k-edge .k-pager-numbers + .k-link,
  .k-safari .k-pager-numbers + .k-link {
    margin-left: 5.4em;
  }
  .k-webkit .k-rtl .k-pager-numbers + .k-link,
  .k-ff .k-rtl .k-pager-numbers + .k-link,
  .k-ie11 .k-rtl .k-pager-numbers + .k-link,
  .k-edge .k-rtl .k-pager-numbers + .k-link,
  .k-safari .k-rtl .k-pager-numbers + .k-link {
    margin-right: 5.2em;
    margin-left: 0;
  }
  .k-webkit .k-pager-wrap .k-pager-numbers .k-state-selected,
  .k-ff .k-pager-wrap .k-pager-numbers .k-state-selected,
  .k-ie11 .k-pager-wrap .k-pager-numbers .k-state-selected,
  .k-edge .k-pager-wrap .k-pager-numbers .k-state-selected,
  .k-safari .k-pager-wrap .k-pager-numbers .k-state-selected,
  .k-webkit .k-pager-wrap .k-pager-numbers .k-link,
  .k-ff .k-pager-wrap .k-pager-numbers .k-link,
  .k-ie11 .k-pager-wrap .k-pager-numbers .k-link,
  .k-edge .k-pager-wrap .k-pager-numbers .k-link,
  .k-safari .k-pager-wrap .k-pager-numbers .k-link {
    display: block;
    margin-top: 0;
    margin-right: 0;
    padding: 1px 5px 1px .8em;
    text-align: left;
    border-width: 1px;
  }
  .k-webkit .k-pager-wrap .k-pager-numbers .k-state-selected,
  .k-ff .k-pager-wrap .k-pager-numbers .k-state-selected,
  .k-ie11 .k-pager-wrap .k-pager-numbers .k-state-selected,
  .k-edge .k-pager-wrap .k-pager-numbers .k-state-selected,
  .k-safari .k-pager-wrap .k-pager-numbers .k-state-selected {
    background-color: #e5f3ff;
  }
  .k-webkit .k-pager-wrap .k-pager-numbers li:not(.k-current-page) .k-link:hover,
  .k-ff .k-pager-wrap .k-pager-numbers li:not(.k-current-page) .k-link:hover,
  .k-ie11 .k-pager-wrap .k-pager-numbers li:not(.k-current-page) .k-link:hover,
  .k-edge .k-pager-wrap .k-pager-numbers li:not(.k-current-page) .k-link:hover,
  .k-safari .k-pager-wrap .k-pager-numbers li:not(.k-current-page) .k-link:hover {
    background-color: #eaeaea;
  }
  .k-webkit .k-pager-numbers.k-state-expanded,
  .k-ff .k-pager-numbers.k-state-expanded,
  .k-ie11 .k-pager-numbers.k-state-expanded,
  .k-edge .k-pager-numbers.k-state-expanded,
  .k-safari .k-pager-numbers.k-state-expanded {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 5px 0 0;
    border-style: solid;
    border-color: #bfbfbf;
    background-color: #fff;
    border-radius: 0 0 0 0;
    -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
            box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
  }
  .k-webkit .k-pager-numbers.k-state-expanded .k-current-page,
  .k-ff .k-pager-numbers.k-state-expanded .k-current-page,
  .k-ie11 .k-pager-numbers.k-state-expanded .k-current-page,
  .k-edge .k-pager-numbers.k-state-expanded .k-current-page,
  .k-safari .k-pager-numbers.k-state-expanded .k-current-page {
    margin: -2.5em -1px 0;
    padding: 0;
  }
  .k-webkit .k-pager-numbers.k-state-expanded .k-current-page .k-link,
  .k-ff .k-pager-numbers.k-state-expanded .k-current-page .k-link,
  .k-ie11 .k-pager-numbers.k-state-expanded .k-current-page .k-link,
  .k-edge .k-pager-numbers.k-state-expanded .k-current-page .k-link,
  .k-safari .k-pager-numbers.k-state-expanded .k-current-page .k-link {
    border-radius: 0 0 0 0;
    background-color: #fff;
    border: 1px solid #007cc0;
    border-top-color: #bfbfbf;
  }
  .k-webkit .k-pager-numbers.k-state-expanded .k-current-page .k-link:after,
  .k-ff .k-pager-numbers.k-state-expanded .k-current-page .k-link:after,
  .k-ie11 .k-pager-numbers.k-state-expanded .k-current-page .k-link:after,
  .k-edge .k-pager-numbers.k-state-expanded .k-current-page .k-link:after,
  .k-safari .k-pager-numbers.k-state-expanded .k-current-page .k-link:after {
    background-position: 0 0;
    opacity: 1;
  }
  .k-webkit .k-pager-numbers.k-state-expanded li,
  .k-ff .k-pager-numbers.k-state-expanded li,
  .k-ie11 .k-pager-numbers.k-state-expanded li,
  .k-edge .k-pager-numbers.k-state-expanded li,
  .k-safari .k-pager-numbers.k-state-expanded li {
    display: inline-block;
  }
}
@media only screen and (max-width: 640px) {
  .k-webkit .k-pager-info,
  .k-ff .k-pager-info,
  .k-ie11 .k-pager-info,
  .k-edge .k-pager-info,
  .k-safari .k-pager-info {
    display: none;
  }
}
@media only screen and (max-width: 480px) {
  .k-webkit .k-pager-sizes,
  .k-ff .k-pager-sizes,
  .k-ie11 .k-pager-sizes,
  .k-edge .k-pager-sizes,
  .k-safari .k-pager-sizes {
    display: none;
  }
}
.k-chart .k-mask {
  background-color: #fff;
  filter: alpha(opacity=68);
  -moz-opacity: 0.68;
  opacity: 0.68;
}
.k-chart .k-selection {
  border-color: #e5e5e5;
}
.k-chart .k-handle {
  width: 15px;
  height: 15px;
  background-color: #00b0ff;
  border-radius: 10px;
}
.k-chart .k-left-handle {
  left: -8px;
}
.k-chart .k-right-handle {
  right: -8px;
}
.k-chart .k-handle:hover {
  background-color: #00b0ff;
  border-color: #00b0ff;
}
.k-chart .k-navigator-hint .k-tooltip {
  border: 3px solid #ffffff;
  -webkit-box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.2);
  background: #ffffff;
  color: #242424;
}
.k-chart .k-navigator-hint .k-scroll {
  background: #3f51b5;
  height: 4px;
}
.k-chart-tooltip {
  background-image: none;
}
/* Map */
.k-map .k-marker {
  font-size: 28px;
  color: #007cc0;
}
.k-map .k-attribution {
  color: #666666;
}
.k-spreadsheet-row-header,
.k-spreadsheet-column-header {
  background-color: #fff;
}
.k-spreadsheet-top-corner,
.k-spreadsheet-row-header,
.k-spreadsheet-column-header {
  background-color: #f2f2f2;
  background-image: none;
  color: #000000;
  border-color: #bfbfbf;
}
.k-spreadsheet-top-corner {
  border-color: #bfbfbf;
}
.k-spreadsheet-top-corner:after {
  border-color: transparent #bfbfbf #bfbfbf transparent;
}
.k-spreadsheet-pane {
  border-color: #bfbfbf;
}
.k-spreadsheet-pane .k-spreadsheet-vaxis,
.k-spreadsheet-pane .k-spreadsheet-haxis {
  border-color: #dedede;
}
.k-spreadsheet-pane .k-spreadsheet-column-header,
.k-spreadsheet-pane .k-spreadsheet-row-header {
  border-color: #bfbfbf;
}
.k-spreadsheet-pane .k-spreadsheet-merged-cell {
  background-color: #fff;
}
.k-spreadsheet-pane .k-selection-partial,
.k-spreadsheet-pane .k-selection-full {
  border-color: rgba(0, 124, 192, 0.2);
  background-color: rgba(0, 124, 192, 0.2);
}
.k-spreadsheet-pane .k-filter-range {
  border-color: #007cc0;
}
.k-spreadsheet-pane .k-spreadsheet-column-header .k-selection-partial,
.k-spreadsheet-pane .k-spreadsheet-column-header .k-selection-full {
  border-bottom-color: #007cc0;
}
.k-spreadsheet-pane .k-spreadsheet-row-header .k-selection-partial,
.k-spreadsheet-pane .k-spreadsheet-row-header .k-selection-full {
  border-right-color: #007cc0;
}
.k-auto-fill,
.k-spreadsheet-selection {
  border-color: #007cc0;
  -webkit-box-shadow: inset 0 0 0 1px #fff, 0 0 0 1px #007cc0;
          box-shadow: inset 0 0 0 1px #fff, 0 0 0 1px #007cc0;
}
.k-spreadsheet-selection {
  background-color: rgba(0, 124, 192, 0.2);
}
.k-spreadsheet-active-cell {
  border-color: #007cc0 !important;
  background-color: #fff;
}
.k-spreadsheet-active-cell.k-single {
  color: #333;
  background-color: #fff;
}
.k-spreadsheet .k-spreadsheet-action-bar {
  background-color: #fff;
  border-color: #bfbfbf;
}
.k-spreadsheet .k-spreadsheet-action-bar .k-spreadsheet-name-editor {
  border-color: #bfbfbf;
}
.k-spreadsheet .k-spreadsheet-action-bar .k-spreadsheet-formula-bar::before {
  border-color: #bfbfbf;
}
.k-spreadsheet .k-spreadsheet-formula-input {
  background-color: #fff;
  color: #333;
}
.k-spreadsheet .k-resize-handle,
.k-spreadsheet .k-resize-hint-handle,
.k-spreadsheet .k-resize-hint-marker {
  background-color: #007cc0;
}
.k-spreadsheet .k-resize-hint-vertical .k-resize-hint-handle,
.k-spreadsheet .k-resize-hint-vertical .k-resize-hint-marker {
  background-color: #007cc0;
}
.k-spreadsheet .k-single-selection::after {
  background-color: #007cc0;
  border-color: #fff;
}
.k-spreadsheet .k-auto-fill-punch {
  background-color: rgba(255, 255, 255, 0.5);
}
.k-spreadsheet .k-single-selection.k-dim-auto-fill-handle::after {
  background-color: rgba(0, 124, 192, 0.5);
}
.k-spreadsheet-format-cells .k-spreadsheet-preview {
  border-color: #bfbfbf;
}
.k-spreadsheet-filter {
  border-radius: 0;
  background-color: #fff;
  -webkit-box-shadow: inset 0 0 0 1px #dedede;
          box-shadow: inset 0 0 0 1px #dedede;
}
.k-spreadsheet-filter.k-state-active {
  color: #fff;
  background-color: #007cc0;
}
.k-spreadsheet-filter:hover {
  color: #333;
  background: #eaeaea;
  border-color: #d6d6d6;
}
.k-action-window .k-action-buttons {
  border-color: #bfbfbf;
}
.k-spreadsheet-sample {
  color: #808080;
}
.k-state-selected .k-spreadsheet-sample {
  color: inherit;
}
.k-spreadsheet-window .k-list-wrapper,
.k-spreadsheet-window .k-list {
  border-color: #bfbfbf;
  border-radius: 0;
}
.k-spreadsheet-toolbar.k-toolbar .k-button-group .k-button:not(.k-toggle-button) {
  border-radius: 0;
}
.k-spreadsheet-toolbar > .k-widget,
.k-spreadsheet-toolbar > .k-button,
.k-spreadsheet-toolbar > .k-button-group {
  border-radius: 0;
}
.k-spreadsheet-toolbar > .k-separator {
  border-color: #bfbfbf;
}
.k-spreadsheet-toolbar .k-overflow-anchor {
  border-radius: 0;
}
.k-spreadsheet-popup {
  border-radius: 0;
}
.k-spreadsheet-popup .k-separator {
  background-color: #bfbfbf;
}
.k-spreadsheet-popup .k-button {
  background-color: transparent;
}
.k-spreadsheet-popup .k-button:hover {
  background-color: #eaeaea;
}
.k-spreadsheet-popup .k-state-active {
  background-color: #007cc0;
  color: #000000;
}
.k-spreadsheet-popup .k-state-active:hover {
  background-color: #005b8d;
}
.k-spreadsheet-filter-menu .k-details {
  border-color: #bfbfbf;
}
.k-spreadsheet-filter-menu .k-details-content .k-space-right {
  background-color: #fff;
}
.k-spreadsheet-filter-menu .k-spreadsheet-value-treeview-wrapper {
  background-color: #fff;
  border-color: #bfbfbf;
  border-radius: 0 0 0 0;
}
.k-syntax-ref {
  color: #ff8822;
}
.k-syntax-num {
  color: #0099ff;
}
.k-syntax-func {
  font-weight: bold;
}
.k-syntax-str {
  color: #38b714;
}
.k-syntax-error {
  color: red;
}
.k-syntax-bool {
  color: #a9169c;
}
.k-syntax-startexp {
  font-weight: bold;
}
.k-syntax-paren-match {
  background-color: #caf200;
}
.k-series-a {
  border-color: #008fd3;
  background-color: rgba(0, 143, 211, 0.15);
}
.k-series-b {
  border-color: #99d101;
  background-color: rgba(153, 209, 1, 0.15);
}
.k-series-c {
  border-color: #f39b02;
  background-color: rgba(243, 155, 2, 0.15);
}
.k-series-d {
  border-color: #f05662;
  background-color: rgba(240, 86, 98, 0.15);
}
.k-series-e {
  border-color: #c03c53;
  background-color: rgba(192, 60, 83, 0.15);
}
.k-series-f {
  border-color: #acacac;
  background-color: rgba(172, 172, 172, 0.15);
}
.k-spreadsheet-sheets-remove:hover .k-icon {
  color: #cc2222;
}
.k-spreadsheet-formula-list .k-state-focused {
  background-color: #007cc0;
  color: #fff;
}
.k-grid input.k-checkbox {
  width: 18px;
  height: 19px;
}
.k-window .k-popup-edit-form .k-edit-field input.k-checkbox {
  width: 17px;
  height: 18px;
  margin-top: 1.1em;
}
.k-window .k-popup-edit-form .k-edit-field label.k-checkbox-label {
  margin-top: 0.8em;
}
/* Dialog */
.k-dialog {
  border-color: #bfbfbf;
}
.k-dialog .k-window-titlebar {
  font-size: 1em;
  line-height: unset;
  padding: 0.6em 1em 1em 1em;
}
.k-dialog .k-window-titlebar .k-dialog-title {
  font-size: 1.2em;
  line-height: unset;
}
.k-dialog a.k-dialog-action.k-dialog-close.k-button.k-bare:before {
  content: normal;
}
.k-dialog .k-dialog-buttongroup .k-button {
  border-top: 0;
}
.k-dialog .k-dialog-buttongroup .k-button:not(.k-primary) {
  background-color: #333;
  color: #fff;
  text-shadow: 0 1px 0 #131313;
}
.k-dialog .k-dialog-buttongroup .k-button:not(.k-primary):hover {
  background-color: #464646;
}
.k-dialog .k-dialog-buttongroup .k-button:not(.k-primary):focus {
  border-color: #007cc0;
}
.k-dialog .k-dialog-buttongroup.k-dialog-button-layout-stretched {
  width: 100%;
}
.k-dialog .k-dialog-buttongroup.k-dialog-button-layout-stretched .k-button {
  display: inline-block;
  padding: 0.9em 0 0.9em 0;
  border-radius: 0;
  border-bottom: 0;
  border-width: 1px 0 0 1px;
}
.k-dialog .k-dialog-buttongroup.k-dialog-button-layout-stretched .k-button:first-child {
  border-bottom-left-radius: 0;
  border-left: 0;
}
.k-dialog .k-dialog-buttongroup.k-dialog-button-layout-stretched .k-button:last-child {
  border-bottom-right-radius: 0;
  border-right: 0;
}
.k-dialog .k-dialog-buttongroup.k-dialog-button-layout-normal {
  width: auto;
  margin: 0;
  padding: 1em;
  text-align: right;
}
.k-dialog .k-dialog-buttongroup.k-dialog-button-layout-normal .k-button {
  padding-left: 1.7em;
  padding-right: 1.7em;
  margin-left: 0.5em;
}
.k-dialog .k-dialog-buttongroup.k-dialog-button-layout-normal .k-button:first-child {
  margin-left: 0;
}
.k-rtl .k-dialog .k-window-titlebar .k-dialog-title {
  padding-right: 0;
  padding-left: 2em;
}
.k-rtl .k-dialog a.k-dialog-action.k-dialog-close {
  left: 0;
}
.k-rtl .k-dialog .k-dialog-buttongroup.k-dialog-button-layout-stretched .k-button:first-child {
  border-bottom-right-radius: 0;
}
.k-rtl .k-dialog .k-dialog-buttongroup.k-dialog-button-layout-stretched .k-button:last-child {
  border-bottom-left-radius: 0;
}
.k-rtl .k-dialog .k-dialog-buttongroup.k-dialog-button-layout-normal {
  text-align: left;
}
.k-rtl .k-dialog .k-dialog-buttongroup.k-dialog-button-layout-normal .k-button {
  margin-left: 0;
  margin-right: 0.5em;
}
.k-rtl .k-dialog .k-dialog-buttongroup.k-dialog-button-layout-normal .k-button:first-child {
  margin-right: 0;
}
.k-numeric-wrap .k-i-warning {
  color: #ff7171;
  position: absolute;
  top: 0;
  right: 2.2em;
  width: 2.2em;
}
.k-numeric-wrap.k-state-invalid {
  border-color: #ff7171;
}
.k-numeric-wrap.k-state-invalid .k-select {
  border-color: #ff7171;
}
.k-numeric-wrap.k-state-invalid input {
  color: #ff7171;
}
.k-rtl .k-numeric-wrap.k-state-invalid .k-i-warning {
  right: auto;
  left: 2.2em;
}
.k-maskedtextbox.k-state-invalid .k-textbox {
  border-color: #ff7171;
  color: #ff7171;
}
.k-maskedtextbox.k-state-invalid .k-i-warning {
  color: #ff7171;
  opacity: 1;
}
.k-dateinput.k-state-invalid .k-textbox {
  color: #ff7171;
  border-color: #ff7171;
}
.k-dateinput.k-state-invalid .k-i-warning {
  opacity: 1;
  margin-left: 0;
  margin-right: 0.8em;
  color: #ff7171;
}
.k-rtl .k-dateinput .k-i-warning {
  margin-right: 0;
  margin-left: 0.8em;
}
.k-datepicker .k-picker-wrap.k-state-invalid,
.k-timepicker .k-picker-wrap.k-state-invalid {
  border-color: #ff7171;
}
.k-datepicker .k-picker-wrap.k-state-invalid .k-input,
.k-timepicker .k-picker-wrap.k-state-invalid .k-input {
  color: #ff7171;
}
.k-datepicker .k-picker-wrap .k-i-warning,
.k-timepicker .k-picker-wrap .k-i-warning {
  color: #ff7171;
  margin-left: 0;
  margin-right: 2.8em;
}
.k-rtl .k-datepicker .k-picker-wrap .k-i-warning,
.k-rtl .k-timepicker .k-picker-wrap .k-i-warning {
  margin-right: 0;
  margin-left: 2.8em;
}
.k-datetimepicker .k-picker-wrap.k-state-invalid {
  border-color: #ff7171;
}
.k-datetimepicker .k-picker-wrap.k-state-invalid .k-input {
  color: #ff7171;
}
.k-datetimepicker .k-picker-wrap .k-i-warning {
  color: #ff7171;
  margin-left: 0;
  margin-right: 5.6em;
}
.k-rtl .k-datetimepicker .k-picker-wrap .k-icon.k-i-warning {
  margin-right: 0;
  margin-left: 5.6em;
}
.k-listbox .k-list-scroller {
  border-color: #bfbfbf;
  background-color: #fff;
}
.k-listbox .k-state-selected {
  border-color: transparent;
}
.k-listbox .k-drop-hint {
  height: 0;
  border-top: 1px solid #007cc0;
}
.k-state-selected.k-drag-clue {
  border-width: 0;
}
.k-grid-header .k-i-sort-asc-sm,
.k-grid-header .k-i-sort-desc-sm,
.k-grid-header .k-sort-order {
  color: #007cc0;
  opacity: 1;
  margin-bottom: -1px;
}
.k-menu-scroll-button {
  border-width: 0;
  border-color: #bfbfbf;
  color: #333;
  background-color: #fff;
}
.k-menu-scroll-wrapper.horizontal .k-scroll-left {
  border-right-width: 1px;
}
.k-menu-scroll-wrapper.horizontal .k-scroll-right {
  border-left-width: 1px;
}
.k-menu-scroll-wrapper.vertical .k-scroll-up {
  border-bottom-width: 1px;
}
.k-menu-scroll-wrapper.vertical .k-scroll-down {
  border-top-width: 1px;
}
