/** 
 * Kendo UI v2017.3.913 (http://www.telerik.com/kendo-ui)                                                                                                                                               
 * Copyright 2017 Telerik AD. All rights reserved.                                                                                                                                                      
 *                                                                                                                                                                                                      
 * Kendo UI commercial licenses may be obtained at                                                                                                                                                      
 * http://www.telerik.com/purchase/license-agreement/kendo-ui-complete                                                                                                                                  
 * If you do not own a commercial license, this file shall be governed by the trial license terms.                                                                                                      
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       

*/
@accent: #cde6f7;
@base: #0072c6;
@background: #fff;

@border-radius: 0;

@normal-background: #fff;
@normal-text-color: #333333;
@normal-gradient: none;
@hover-background: #f4f4f4;
@hover-text-color: #000;
@hover-gradient: none;
@selected-background: #cde6f7;
@selected-text-color: #333333;
@selected-gradient: none;

@error: #f44336;
@warning: #fff19d;
@success: #43a047;
@info: #1976d2;

@series-a: #0072c6;
@series-b: #5db2ff;
@series-c: #008a17;
@series-d: #82ba00;
@series-e: #ff8f32;
@series-f: #ac193d;

// graphics
@image-folder: "Office365";
@texture: none;
@fallback-texture: none;

@import "type-office365.less";
