/** 
 * Kendo UI v2017.3.913 (http://www.telerik.com/kendo-ui)                                                                                                                                               
 * Copyright 2017 Telerik AD. All rights reserved.                                                                                                                                                      
 *                                                                                                                                                                                                      
 * Kendo UI commercial licenses may be obtained at                                                                                                                                                      
 * http://www.telerik.com/purchase/license-agreement/kendo-ui-complete                                                                                                                                  
 * If you do not own a commercial license, this file shall be governed by the trial license terms.                                                                                                      
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       

*/
/* Kendo skin */
.k-theme-test-class,
.ktb-theme-id-flat {
  opacity: 0;
}
.ktb-var-accent {
  color: #10c4b2;
}
.ktb-var-base {
  color: #363940;
}
.ktb-var-background {
  color: #fff;
}
.ktb-var-border-radius {
  border-radius: 3px;
}
.ktb-var-normal-background {
  color: #fff;
}
.ktb-var-normal-gradient {
  background-image: none;
}
.ktb-var-normal-text-color {
  color: #4c5356;
}
.ktb-var-hover-background {
  color: #2eb3a6;
}
.ktb-var-hover-gradient {
  background-image: none;
}
.ktb-var-hover-text-color {
  color: #fff;
}
.ktb-var-selected-background {
  color: #10c4b2;
}
.ktb-var-selected-gradient {
  background-image: none;
}
.ktb-var-selected-text-color {
  color: #fff;
}
.ktb-var-error {
  color: #fe633f;
}
.ktb-var-warning {
  color: #feca3f;
}
.ktb-var-success {
  color: #2db245;
}
.ktb-var-info {
  color: #0099cc;
}
.ktb-var-series-a {
  color: #10c4b2;
}
.ktb-var-series-b {
  color: #ff7663;
}
.ktb-var-series-c {
  color: #ffb74f;
}
.ktb-var-series-d {
  color: #a2df53;
}
.ktb-var-series-e {
  color: #1c9ec4;
}
.ktb-var-series-f {
  color: #ff63a5;
}
.k-grid-norecords-template {
  background-color: #fff;
  border: 1px solid #cccccc;
}
.k-button {
  border-radius: 3px;
  border-color: #363940;
  color: #fff;
  background-color: #363940;
  background-position: 50% 50%;
  background-image: url('textures/highlight.png');
  background-image: none, -webkit-gradient(linear, left top, left bottom, from(false));
  background-image: none, -webkit-linear-gradient(top, false);
  background-image: none, linear-gradient(to bottom, false);
}
.k-button:hover,
.k-button.k-state-hover {
  color: #fff;
  border-color: #2eb3a6;
  background-color: #2eb3a6;
  background-image: url('textures/highlight.png');
  background-image: none, -webkit-gradient(linear, left top, left bottom, from(false));
  background-image: none, -webkit-linear-gradient(top, false);
  background-image: none, linear-gradient(to bottom, false);
}
.k-button:focus,
.k-button.k-state-focused {
  border-color: #0c9083;
  -webkit-box-shadow: none;
          box-shadow: none;
}
.k-button:active,
.k-button.k-state-active {
  color: #fff;
  background-color: #10c4b2;
  border-color: #10c4b2;
  background-image: url('textures/highlight.png');
  background-image: none, -webkit-gradient(linear, left top, left bottom, from(false));
  background-image: none, -webkit-linear-gradient(top, false);
  background-image: none, linear-gradient(to bottom, false);
}
.k-button.k-state-active:hover {
  color: #ffffff;
  border-color: #2eb3a6;
  background-color: #2eb3a6;
}
.k-button:focus:active:not(.k-state-disabled):not([disabled]) {
  -webkit-box-shadow: none;
          box-shadow: none;
}
.k-button[disabled],
.k-button[disabled]:hover,
.k-button[disabled]:focus,
.k-button[disabled]:active,
.k-button[disabled]:hover:active,
.k-state-disabled .k-button,
.k-state-disabled .k-button:hover,
.k-state-disabled .k-button:focus,
.k-state-disabled .k-button:active,
.k-state-disabled .k-button:active:active,
.k-button.k-state-disabled,
.k-button.k-state-disabled:hover,
.k-button.k-state-disabled:focus,
.k-button.k-state-disabled:active,
.k-button.k-state-disabled:hover:active {
  color: #c2c2c2;
  border-color: #cccccc;
  background-color: #f5f5f5;
  background-image: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}
.k-primary {
  color: #ffffff;
  border-color: #10c4b2;
  background-color: #10c4b2;
  background-image: url('textures/highlight.png');
  background-image: none, -webkit-gradient(linear, left top, left bottom, from(false));
  background-image: none, -webkit-linear-gradient(top, false);
  background-image: none, linear-gradient(to bottom, false);
}
.k-primary:hover,
.k-primary.k-state-hover {
  color: #ffffff;
  border-color: #2eb3a6;
  background-color: #2eb3a6;
  background-image: url('textures/highlight.png');
  background-image: none, -webkit-gradient(linear, left top, left bottom, from(false));
  background-image: none, -webkit-linear-gradient(top, false);
  background-image: none, linear-gradient(to bottom, false);
}
.k-primary:focus,
.k-primary.k-state-focused {
  border-color: #363940;
  -webkit-box-shadow: none;
          box-shadow: none;
}
.k-primary:active,
.k-primary.k-state-active {
  color: #ffffff;
  border-color: #363940;
  background-color: #363940;
  background-image: url('textures/highlight.png');
  background-image: none, -webkit-gradient(linear, left top, left bottom, from(false));
  background-image: none, -webkit-linear-gradient(top, false);
  background-image: none, linear-gradient(to bottom, false);
}
.k-primary:focus:active:not(.k-state-disabled):not([disabled]) {
  -webkit-box-shadow: none;
          box-shadow: none;
}
.k-primary[disabled],
.k-primary[disabled]:hover,
.k-primary[disabled]:focus,
.k-primary[disabled]:active,
.k-primary[disabled]:hover:active,
.k-state-disabled .k-primary,
.k-state-disabled .k-primary:hover,
.k-state-disabled .k-primary:focus,
.k-state-disabled .k-primary:active,
.k-state-disabled .k-primary:hover:active,
.k-primary.k-state-disabled,
.k-primary.k-state-disabled:hover,
.k-primary.k-state-disabled:focus,
.k-primary.k-state-disabled:active,
.k-primary.k-state-disabled:hover:active {
  color: #c2c2c2;
  border-color: #cccccc;
  background-color: #f5f5f5;
  background-image: url('textures/highlight.png');
  background-image: none, -webkit-gradient(linear, left top, left bottom, from(false));
  background-image: none, -webkit-linear-gradient(top, false);
  background-image: none, linear-gradient(to bottom, false);
  -webkit-box-shadow: none;
          box-shadow: none;
}
.k-button-group .k-button {
  -webkit-box-shadow: none;
          box-shadow: none;
}
.k-button-group .k-button:focus,
.k-button-group .k-button.k-state-focused,
.k-button-group > input[type="radio"]:focus + .k-button,
.k-button-group > input[type="checkbox"]:focus + .k-button {
  -webkit-box-shadow: none;
          box-shadow: none;
}
.k-button-group .k-button:active,
.k-button-group .k-button.k-state-active,
.k-button-group > input[type="radio"]:checked + .k-button,
.k-button-group > input[type="checkbox"]:checked + .k-button {
  color: #fff;
  background-color: #10c4b2;
  border-color: #10c4b2;
  background-image: none;
}
.k-button-group .k-button:active:hover,
.k-button-group .k-button.k-state-active:hover,
.k-button-group > input[type="radio"]:checked + .k-button:hover,
.k-button-group > input[type="checkbox"]:checked + .k-button:hover {
  color: #ffffff;
  border-color: #2eb3a6;
  background-color: #2eb3a6;
}
.k-button-group .k-button {
  border-radius: 0;
}
.k-button-group .k-group-start,
.k-button-group .k-button:first-child {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
.k-button-group .k-group-end,
.k-button-group .k-button:last-child {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}
.k-button-group .k-group-start.k-group-end,
.k-button-group .k-button:first-child:last-child {
  border-radius: 3px;
}
.k-in,
.k-item,
.k-window-action {
  border-color: transparent;
}
/* main colors */
.k-splitbar .k-resize-handle {
  background-color: #4c5356;
}
.k-block,
.k-widget {
  background-color: #fff;
}
.k-block,
.k-widget,
.k-input,
.k-textbox,
.k-group,
.k-content,
.k-header,
.k-filter-row > th,
.k-editable-area,
.k-separator,
.k-textbox > input,
.k-autocomplete,
.k-dropdown-wrap,
.k-toolbar,
.k-group-footer td,
.k-grid-footer,
.k-footer-template td,
.k-state-default,
.k-state-default .k-select,
.k-state-disabled,
.k-grid-header,
.k-grid-header-wrap,
.k-grid-header-locked,
.k-grid-footer-locked,
.k-grid-content-locked,
.k-grid td,
.k-grid td.k-state-selected,
.k-grid-footer-wrap,
.k-pager-wrap,
.k-pager-wrap .k-link,
.k-pager-refresh,
.k-grouping-header,
.k-grouping-header .k-group-indicator,
.k-panelbar > .k-item > .k-link,
.k-panel > .k-item > .k-link,
.k-panelbar .k-panel,
.k-panelbar .k-content,
.k-treemap-tile,
.k-calendar th,
.k-slider-track,
.k-splitbar,
.k-dropzone-active,
.k-tiles,
.k-toolbar,
.k-tooltip,
.k-button-group .k-tool,
.k-upload-files,
.k-popup.k-align .k-list .k-item:last-child,
.k-maskedtextbox.k-state-disabled > .k-textbox:hover,
.k-dateinput.k-state-disabled > .k-textbox:hover {
  border-color: #cccccc;
}
.k-group,
.k-toolbar,
.k-grouping-header,
.k-pager-wrap,
.k-group-footer td,
.k-grid-footer,
.k-footer-template td,
.k-widget .k-status,
.k-calendar th,
.k-dropzone-hovered,
.k-popup {
  background-color: #363940;
}
.k-grouping-row td,
td.k-group-cell,
.k-resize-handle-inner {
  background-color: #363940;
}
.k-list-container {
  border-color: #363940;
  background-color: #363940;
}
.k-content,
.k-panelbar > li.k-item,
.k-panel > li.k-item,
.k-tiles {
  background-color: #fff;
}
.k-alt,
.k-separator,
.k-resource.k-alt,
.k-pivot-layout > tbody > tr:first-child > td:first-child,
.k-calendar .k-alt {
  background-color: #f5f5f5;
}
.k-pivot-rowheaders .k-alt .k-alt,
.k-header.k-alt {
  background-color: #e0e0e0;
}
.k-textbox,
.k-autocomplete.k-header,
.k-dropdown-wrap.k-state-active,
.k-picker-wrap.k-state-active,
.k-numeric-wrap.k-state-active {
  border-color: #cccccc;
  background-color: #363940;
}
.k-textbox > input,
.k-autocomplete .k-input,
.k-dropdown-wrap .k-input,
.k-autocomplete.k-state-focused .k-input,
.k-dropdown-wrap.k-state-focused .k-input,
.k-picker-wrap.k-state-focused .k-input,
.k-numeric-wrap.k-state-focused .k-input {
  border-color: #cccccc;
}
input.k-textbox,
textarea.k-textbox,
input.k-textbox:hover,
textarea.k-textbox:hover,
.k-textbox > input {
  background: none;
}
.k-input,
input.k-textbox,
textarea.k-textbox,
input.k-textbox:hover,
textarea.k-textbox:hover,
.k-textbox > input,
.k-multiselect-wrap {
  background-color: #fff;
  color: #4c5356;
}
.k-input[readonly] {
  background-color: #fff;
  color: #4c5356;
}
.k-block,
.k-widget,
.k-popup,
.k-content,
.k-toolbar,
.k-dropdown .k-input {
  color: #4c5356;
}
.k-inverse,
.k-toolbar label {
  color: #fff;
}
.k-block {
  color: #fff;
}
.k-link:link,
.k-link:visited,
.k-nav-current.k-state-hover .k-link {
  color: #fff;
}
.k-tabstrip-items .k-link,
.k-panelbar > li > .k-link {
  color: #4c5356;
}
.k-header,
.k-treemap-title,
.k-grid-header .k-header > .k-link {
  color: #fff;
}
.k-header,
.k-grid-header,
.k-toolbar,
.k-dropdown-wrap,
.k-picker-wrap,
.k-numeric-wrap,
.k-grouping-header,
.k-pager-wrap,
.k-textbox,
.k-progressbar,
.k-draghandle,
.k-autocomplete,
.k-state-highlight,
.k-tabstrip-items .k-item,
.k-panelbar .k-tabstrip-items .k-item,
.km-pane-wrapper > .km-pane > .km-view > .km-content {
  background-image: url('textures/highlight.png');
  background-image: none, -webkit-gradient(linear, left top, left bottom, from(false));
  background-image: none, -webkit-linear-gradient(top, false);
  background-image: none, linear-gradient(to bottom, false);
  background-position: 50% 50%;
  background-color: #363940;
}
.k-widget.k-tooltip {
  background-image: none;
}
.k-block,
.k-header,
.k-grid-header,
.k-toolbar,
.k-grouping-header,
.k-pager-wrap,
.k-draghandle,
.k-treemap-tile,
html .km-pane-wrapper .k-header {
  background-color: #363940;
}
.k-mediaplayer-toolbar {
  background-color: rgba(54, 57, 64, 0.85);
  color: #fff;
}
.k-mediaplayer-seekbar {
  top: -14px;
}
.k-hr {
  border-color: #cccccc;
}
/* icons */
.k-icon:hover,
.k-state-hover .k-icon,
.k-state-selected .k-icon,
.k-state-focused .k-icon,
.k-column-menu .k-state-hover .k-sprite,
.k-column-menu .k-state-active .k-sprite,
.k-pager-numbers .k-current-page .k-link:hover:after,
.k-scheduler-toolbar > ul.k-scheduler-views > li.k-current-view.k-state-hover > .k-link:after {
  opacity: 1;
}
.k-icon,
.k-state-disabled .k-icon,
.k-column-menu .k-sprite,
.k-pager-numbers .k-current-page .k-link:after,
.k-scheduler-toolbar > ul.k-scheduler-views > li.k-current-view > .k-link:after {
  opacity: 1;
}
.k-mobile-list .k-check:checked,
.k-mobile-list .k-edit-field [type=checkbox]:checked,
.k-mobile-list .k-edit-field [type=radio]:checked {
  opacity: 1;
}
.k-tool {
  border-color: transparent;
}
/* IE will ignore the above selectors if these are added too */
.k-mobile-list .k-check:checked,
.k-mobile-list .k-edit-field [type=checkbox]:checked,
.k-mobile-list .k-edit-field [type=radio]:checked {
  background-image: url('Flat/sprite.png');
  border-color: transparent;
}
.k-i-loading {
  background-image: url('Flat/loading.gif');
}
.k-loading-image {
  background-image: url('Flat/loading-image.gif');
}
.k-loading-color {
  background-color: #fff;
}
.k-draghandle {
  border-color: #10c4b2;
  background-color: #10c4b2;
  -webkit-box-shadow: 0 0 0 0;
          box-shadow: 0 0 0 0;
}
.k-draghandle:hover {
  border-color: #2eb3a6;
  background-color: #2eb3a6;
  -webkit-box-shadow: 0 0 0;
          box-shadow: 0 0 0;
}
/* Scheduler */
.k-scheduler {
  color: #fff;
  background-color: #fff;
}
.k-scheduler-layout {
  color: #4c5356;
}
.k-scheduler-datecolumn,
.k-scheduler-groupcolumn {
  background-color: #fff;
  color: #4c5356;
}
.k-scheduler-times tr,
.k-scheduler-times th,
.k-scheduler-table td,
.k-scheduler-header th,
.k-scheduler-header-wrap,
.k-scheduler-times {
  border-color: #cccccc;
}
.k-nonwork-hour {
  background-color: #f5f5f5;
}
.k-gantt .k-nonwork-hour {
  background-color: rgba(0, 0, 0, 0.02);
}
.k-gantt .k-header.k-nonwork-hour {
  background-color: rgba(0, 0, 0, 0.2);
}
.k-scheduler-table .k-today,
.k-today > .k-scheduler-datecolumn,
.k-today > .k-scheduler-groupcolumn {
  background-color: #f7f7f7;
}
.k-scheduler-now-arrow {
  border-left-color: #3f434b;
}
.k-scheduler-now-line {
  background-color: #3f434b;
}
.k-event,
.k-task-complete {
  border-color: #2eb3a6;
  background: #2eb3a6 0 -257px none repeat-x;
  color: #fff;
}
.k-event-inverse {
  color: #4c5356;
}
.k-event.k-state-selected {
  background-position: 0 0;
  -webkit-box-shadow: 0 0 0 2px #4c5356;
          box-shadow: 0 0 0 2px #4c5356;
}
.k-event .k-resize-handle:after,
.k-task-single .k-resize-handle:after {
  background-color: #fff;
}
.k-scheduler-marquee:before,
.k-scheduler-marquee:after {
  border-color: #10c4b2;
}
.k-scheduler-toolbar > ul > li,
.k-scheduler-footer .k-scheduler-fullday {
  border-color: #606572;
}
.k-panelbar .k-content,
.k-panelbar .k-panel,
.k-panelbar .k-item {
  background-color: #363940;
  color: #fff;
  border-color: #606572;
}
.k-panelbar > li > .k-link {
  color: #fff;
}
.k-panelbar > .k-item > .k-link {
  border-color: #606572;
}
.k-panel > li.k-item {
  background-color: #363940;
}
/* states */
.k-state-active,
.k-state-active:hover,
.k-active-filter {
  background-color: #10c4b2;
  border-color: #10c4b2;
  color: #fff;
}
.k-fieldselector .k-list-container {
  background-color: #10c4b2;
}
.k-menu .k-state-hover > .k-state-active {
  background-color: transparent;
}
.k-state-highlight {
  background: #10c4b2;
  color: #fff;
}
.k-state-focused,
.k-grouping-row .k-state-focused {
  border-color: #0c9083;
}
.k-mediaplayer-toolbar .k-button.k-bare:active,
.k-mediaplayer-toolbar .k-button.k-bare.k-state-active,
.k-mediaplayer-toolbar .k-button.k-bare.k-state-active:hover {
  color: #10c4b2;
}
.k-calendar .k-link {
  color: #4c5356;
}
.k-calendar .k-footer {
  padding: 0;
}
.k-calendar .k-footer .k-nav-today {
  color: #fff;
  text-decoration: none;
  background-color: #363940;
}
.k-calendar .k-footer .k-nav-today:hover,
.k-calendar .k-footer .k-nav-today.k-state-hover {
  background-color: #2eb3a6;
  text-decoration: none;
}
.k-calendar .k-footer .k-nav-today:active {
  background-color: #10c4b2;
}
.k-calendar .k-link.k-nav-fast {
  color: #fff;
}
.k-calendar .k-nav-fast.k-state-hover {
  text-decoration: underline;
  background-color: #363940;
  color: #fff;
}
.k-calendar .k-link.k-state-hover {
  border-radius: 13px;
}
.k-calendar .k-today {
  background-color: #363940;
}
.k-calendar .k-today.k-state-selected {
  background-color: #10c4b2;
}
.k-calendar .k-today .k-link {
  color: #fff;
}
.k-calendar .k-today.k-state-hover {
  background-color: #2eb3a6;
}
.k-calendar .k-today.k-state-focused,
.k-calendar .k-today:active,
.k-calendar .k-today.k-state-selected:active {
  -webkit-box-shadow: inset 0 0 0 1px #0c9083;
          box-shadow: inset 0 0 0 1px #0c9083;
}
.k-calendar .k-footer .k-link {
  border-radius: 0;
}
.k-calendar th {
  background-color: #fff;
}
.k-calendar-container.k-group {
  border-color: #363940;
}
.k-window-titlebar .k-link {
  border-radius: 13px;
}
.k-state-selected,
.k-state-selected:link,
.k-state-selected:visited,
.k-tool.k-state-selected,
.k-list > .k-state-selected,
.k-list > .k-state-highlight,
.k-panel > .k-state-selected,
.k-ghost-splitbar-vertical,
.k-ghost-splitbar-horizontal,
.k-draghandle.k-state-selected:hover,
.k-scheduler .k-scheduler-toolbar .k-state-selected,
.k-scheduler .k-today.k-state-selected,
.k-marquee-color {
  color: #fff;
  background-color: #10c4b2;
  border-color: #10c4b2;
}
.k-virtual-item.k-first,
.k-group-header + .k-list > .k-item.k-first,
.k-static-header + .k-list > .k-item.k-first {
  border-top-color: #2eb3a6;
}
.k-group-header + div > .k-list > .k-item.k-first:before {
  border-top-color: #2eb3a6;
}
.k-popup > .k-group-header,
.k-popup > .k-virtual-wrap > .k-group-header {
  background: #2eb3a6;
  color: #fff;
}
.k-popup .k-list .k-item > .k-group {
  background: #2eb3a6;
  color: #fff;
  border-bottom-left-radius: 1.8px;
}
.k-marquee-text {
  color: #fff;
}
.k-state-focused,
.k-list > .k-state-focused,
.k-listview > .k-state-focused,
.k-grid-header th.k-state-focused,
td.k-state-focused {
  -webkit-box-shadow: inset 0 0 0 1px #0c9083;
          box-shadow: inset 0 0 0 1px #0c9083;
}
.k-state-focused.k-state-selected,
.k-list > .k-state-focused.k-state-selected,
.k-listview > .k-state-focused.k-state-selected,
td.k-state-focused.k-state-selected {
  -webkit-box-shadow: inset 0 0 0 1px #0c9083;
          box-shadow: inset 0 0 0 1px #0c9083;
}
.k-list-optionlabel.k-state-selected.k-state-focused {
  -webkit-box-shadow: none;
          box-shadow: none;
}
.k-state-selected > .k-link,
.k-panelbar > li > .k-state-selected,
.k-panelbar > li.k-state-default > .k-link.k-state-selected {
  color: #fff;
}
.k-state-hover,
.k-state-hover:hover,
.k-splitbar-horizontal-hover:hover,
.k-splitbar-vertical-hover:hover,
.k-list > .k-state-hover,
.k-scheduler .k-scheduler-toolbar ul li.k-state-hover,
.k-pager-wrap .k-link:hover,
.k-dropdown .k-state-focused,
.k-filebrowser-dropzone,
.k-mobile-list .k-item > .k-link:active,
.k-mobile-list .k-item > .k-label:active,
.k-mobile-list .k-edit-label.k-check:active,
.k-mobile-list .k-recur-view .k-check:active,
.k-listbox .k-item:hover:not(.k-state-disabled) {
  color: #fff;
  background-color: #2eb3a6;
  border-color: #2eb3a6;
}
/* this selector should be used separately, otherwise old IEs ignore the whole rule */
.k-mobile-list .k-scheduler-timezones .k-edit-field:nth-child(2):active {
  color: #fff;
  background-color: #2eb3a6;
  border-color: #2eb3a6;
}
.k-state-hover > .k-select,
.k-state-focused > .k-select {
  border-color: #2eb3a6;
}
.k-textbox:hover,
.k-state-hover,
.k-state-hover:hover,
.k-pager-wrap .k-link:hover,
.k-other-month.k-state-hover .k-link,
div.k-filebrowser-dropzone em,
.k-draghandle:hover,
.k-listbox .k-item:hover {
  background-image: none;
}
.k-pager-wrap {
  background-color: #363940;
  color: #fff;
}
.k-autocomplete.k-state-active,
.k-picker-wrap.k-state-active,
.k-numeric-wrap.k-state-active,
.k-dropdown-wrap.k-state-active,
.k-state-active,
.k-state-active:hover,
.k-state-active > .k-link,
.k-panelbar > .k-item > .k-state-focused {
  background-image: none;
}
.k-state-selected,
.k-draghandle.k-state-selected:hover {
  background-image: none;
}
.k-draghandle.k-state-selected:hover {
  background-position: 50% 50%;
}
.k-state-hover > .k-link,
.k-other-month.k-state-hover .k-link,
div.k-filebrowser-dropzone em {
  color: #fff;
}
.k-autocomplete.k-state-hover,
.k-autocomplete.k-state-focused,
.k-picker-wrap.k-state-hover,
.k-picker-wrap.k-state-focused,
.k-numeric-wrap.k-state-hover,
.k-numeric-wrap.k-state-focused,
.k-dropdown-wrap.k-state-hover,
.k-dropdown-wrap.k-state-focused {
  background-color: #2eb3a6;
  background-image: none;
  background-position: 50% 50%;
  border-color: #2eb3a6;
}
.km-pane-wrapper .k-mobile-list input:not([type="checkbox"]):not([type="radio"]),
.km-pane-wrapper .km-pane .k-mobile-list select:not([multiple]),
.km-pane-wrapper .k-mobile-list textarea,
.k-dropdown .k-state-focused .k-input {
  color: #4c5356;
}
.km-pane-wrapper .km-pane .k-mobile-list.k-filter-menu .k-space-right {
  background: #fff;
  border-color: #cccccc;
}
.km-pane-wrapper .km-pane .k-mobile-list.k-filter-menu .k-space-right > input {
  background-color: #fff;
  border-color: #cccccc;
}
.km-pane-wrapper .km-pane .k-mobile-list.k-filter-menu .k-space-right > input:focus {
  border-color: #2eb3a6;
}
.k-dropdown .k-state-hover .k-input {
  color: #fff;
}
.k-state-error {
  border-color: #3f434b;
  background-color: #fff;
  color: #3f434b;
}
.k-state-disabled {
  opacity: .7;
}
.k-tile-empty.k-state-selected,
.k-loading-mask.k-state-selected {
  border-width: 0;
  background-image: none;
  background-color: transparent;
}
.k-state-disabled,
.k-state-disabled .k-link,
.k-other-month,
.k-other-month .k-link,
.k-dropzone em,
.k-tile-empty strong,
.k-slider .k-draghandle {
  color: #c2c2c2;
}
.k-dropzone {
  color: #4c5356;
}
/* Progressbar */
.k-progressbar-indeterminate {
  background: url('Flat/indeterminate.gif');
}
.k-progressbar-indeterminate .k-progress-status-wrap,
.k-progressbar-indeterminate .k-state-selected {
  display: none;
}
/* Slider */
.k-slider-track {
  background-color: #cccccc;
}
.k-slider-selection {
  background-color: #10c4b2;
}
.k-slider-horizontal .k-tick {
  background-image: url('Flat/slider-h.gif');
}
.k-slider-vertical .k-tick {
  background-image: url('Flat/slider-v.gif');
}
/* Tooltip */
.k-widget.k-tooltip,
.k-chart-crosshair-tooltip,
.k-chart-shared-tooltip {
  border-color: #363940;
  background-color: #363940;
  color: #fff;
}
.k-widget.k-tooltip-validation {
  border-color: #feca3f;
  background-color: #feca3f;
  color: #0b0800;
}
/* Bootstrap theme fix */
.input-prepend .k-tooltip-validation,
.input-append .k-tooltip-validation {
  font-size: 12px;
  position: relative;
  top: 3px;
}
.k-callout-n {
  border-bottom-color: #363940;
}
.k-callout-w {
  border-right-color: #363940;
}
.k-callout-s {
  border-top-color: #363940;
}
.k-callout-e {
  border-left-color: #363940;
}
.k-tooltip-validation .k-callout-n {
  border-bottom-color: #feca3f;
}
.k-tooltip-validation .k-callout-w {
  border-right-color: #feca3f;
}
.k-tooltip-validation .k-callout-s {
  border-top-color: #feca3f;
}
.k-tooltip-validation .k-callout-e {
  border-left-color: #feca3f;
}
/* Splitter */
.k-splitbar {
  background-color: #cccccc;
}
.k-restricted-size-vertical,
.k-restricted-size-horizontal {
  background-color: #3f434b;
}
/* Upload */
.k-upload.k-header {
  background: #fff;
  border-color: #cccccc;
}
.k-file {
  color: #4c5356;
  border-color: #cccccc;
}
.k-file .k-icon {
  border-radius: 50%;
}
.k-file .k-upload-status {
  color: #4c5356;
}
.k-file .k-upload-status .k-upload-action {
  color: inherit;
}
.k-file-progress {
  color: #4c5356;
}
.k-file-progress .k-progress {
  background-color: #0099cc;
}
.k-file-success .k-file-name,
.k-file-success .k-upload-pct {
  color: #2db245;
}
.k-file-success .k-progress {
  background-color: #2db245;
}
.k-file-error {
  color: #fe633f;
}
.k-file-error .k-progress {
  background-color: #fe633f;
}
.k-file-error .k-file-extension-wrapper,
.k-file-error .k-multiple-files-extension-wrapper {
  color: #fe633f;
  border-color: #fe633f;
}
.k-file-error .k-file-extension-wrapper:before,
.k-file-error .k-multiple-files-extension-wrapper:before {
  background-color: #fff;
  border-color: transparent transparent #fe633f #fe633f;
}
.k-file-extension-wrapper,
.k-multiple-files-extension-wrapper {
  color: #c2c2c2;
  border-color: #c2c2c2;
}
.k-file-invalid .k-file-name-invalid {
  color: #fe633f;
}
.k-file-invalid-extension-wrapper,
.k-multiple-files-invalid-extension-wrapper {
  color: #fe633f;
  border-color: #fe633f;
}
.k-file-extension-wrapper:before,
.k-multiple-files-extension-wrapper:before {
  background-color: #fff;
  border-color: transparent transparent #c2c2c2 #c2c2c2;
}
.k-file-invalid-extension-wrapper:before,
.k-multiple-files-invalid-extension-wrapper:before {
  background-color: #fff;
  border-color: transparent transparent #fe633f #fe633f;
}
.k-multiple-files-extension-wrapper:after {
  border-top-color: #c2c2c2;
  border-left-color: #c2c2c2;
}
.k-multiple-files-invalid-extension-wrapper:after {
  border-top-color: #fe633f;
  border-left-color: #fe633f;
}
.k-file-size,
.k-file-information,
.k-file-validation-message {
  color: #c2c2c2;
}
.k-upload .k-upload-selected {
  border-color: #cccccc;
}
/* ImageBrowser */
.k-tile {
  border-color: #fff;
}
.k-textbox:hover,
.k-tiles li.k-state-hover {
  border-color: #2eb3a6;
}
.k-tiles li.k-state-selected {
  border-color: #10c4b2;
}
/* TreeMap */
.k-leaf,
.k-leaf.k-state-hover:hover {
  color: #fff;
}
.k-leaf.k-inverse,
.k-leaf.k-inverse.k-state-hover:hover {
  color: #000;
}
/* Shadows */
.k-slider,
.k-treeview,
.k-upload {
  -webkit-box-shadow: none;
          box-shadow: none;
}
.k-state-hover {
  -webkit-box-shadow: none;
          box-shadow: none;
}
.k-textbox:focus,
.k-autocomplete.k-state-focused,
.k-dropdown-wrap.k-state-focused,
.k-picker-wrap.k-state-focused,
.k-numeric-wrap.k-state-focused {
  -webkit-box-shadow: none;
          box-shadow: none;
}
.k-state-selected {
  -webkit-box-shadow: none;
          box-shadow: none;
}
.k-state-active {
  -webkit-box-shadow: none;
          box-shadow: none;
}
.k-grid td.k-state-selected.k-state-focused {
  background-color: #11d2bf;
}
.k-popup,
.k-menu .k-menu-group,
.k-grid .k-filter-options,
.k-time-popup,
.k-datepicker-calendar,
.k-autocomplete.k-state-border-down,
.k-autocomplete.k-state-border-up,
.k-dropdown-wrap.k-state-active,
.k-picker-wrap.k-state-active,
.k-multiselect.k-state-focused,
.k-filebrowser .k-image,
.k-tooltip {
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.25);
          box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.25);
}
.k-treemap-tile.k-state-hover {
  -webkit-box-shadow: inset 0 0 0 3px #cccccc;
          box-shadow: inset 0 0 0 3px #cccccc;
}
/* Window */
.k-window {
  border-color: rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 0 0 0 1px rgba(128, 128, 128, 0.25);
          box-shadow: 0 0 0 1px rgba(128, 128, 128, 0.25);
  background-color: #fff;
}
.k-window.k-state-focused {
  border-color: rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.25);
          box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.25);
}
.k-window.k-window-maximized,
.k-window-maximized .k-window-titlebar,
.k-window-maximized .k-window-content {
  border-radius: 0;
}
.k-shadow {
  -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.25);
          box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.25);
}
.k-inset {
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.25);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.25);
}
/* Selection */
.k-editor-inline ::-moz-selection {
  background-color: #10c4b2;
  text-shadow: none;
  color: #fff;
}
.k-editor-inline ::selection {
  background-color: #10c4b2;
  text-shadow: none;
  color: #fff;
}
.k-editor-inline ::-moz-selection {
  background-color: #10c4b2;
  text-shadow: none;
  color: #fff;
}
.k-notification-info {
  background-color: #e6f9ff;
  color: #0099cc;
  border-color: #0099cc;
}
.k-notification-success {
  background-color: #eefbf0;
  color: #2db245;
  border-color: #2db245;
}
.k-notification-warning {
  background-color: #fff4d7;
  color: #feca3f;
  border-color: #feca3f;
}
.k-notification-error {
  background-color: #ffdfd7;
  color: #fe633f;
  border-color: #fe633f;
}
/* Gantt */
.k-gantt .k-treelist {
  background: #f5f5f5;
}
.k-gantt .k-treelist .k-alt {
  background-color: #dbdbdb;
}
.k-gantt .k-treelist tr:hover {
  background-color: #2eb3a6;
}
.k-gantt .k-treelist .k-state-selected,
.k-gantt .k-treelist .k-state-selected td,
.k-gantt .k-treelist .k-alt.k-state-selected,
.k-gantt .k-treelist .k-alt.k-state-selected > td {
  background-color: #10c4b2;
}
.k-task-dot:after {
  background-color: #4c5356;
  border-color: #4c5356;
}
.k-task-dot:hover:after {
  background-color: #10c4b2;
}
.k-task-summary {
  border-color: #8a9398;
  background: #8a9398;
}
.k-task-milestone,
.k-task-summary-complete {
  border-color: #4c5356;
  background: #4c5356;
}
.k-state-selected.k-task-summary {
  border-color: #61f2e4;
  background: #61f2e4;
}
.k-state-selected.k-task-milestone,
.k-state-selected .k-task-summary-complete {
  border-color: #10c4b2;
  background: #10c4b2;
}
.k-task-single {
  background-color: #39ccbe;
  border-color: #2eb3a6;
  color: #fff;
}
.k-state-selected.k-task-single {
  border-color: #10c4b2;
}
.k-line {
  background-color: #4c5356;
  color: #4c5356;
}
.k-state-selected.k-line {
  background-color: #10c4b2;
  color: #10c4b2;
}
.k-resource {
  background-color: #fff;
}
/* Border radius */
.k-block,
.k-textbox,
.k-drag-clue,
.k-touch-scrollbar,
.k-window,
.k-window-titleless .k-window-content,
.k-window-action,
.k-inline-block,
.k-grid .k-filter-options,
.k-grouping-header .k-group-indicator,
.k-autocomplete,
.k-multiselect,
.k-combobox,
.k-dropdown,
.k-dropdown-wrap,
.k-datepicker,
.k-timepicker,
.k-colorpicker,
.k-datetimepicker,
.k-notification,
.k-numerictextbox,
.k-picker-wrap,
.k-numeric-wrap,
.k-list-container,
.k-calendar-container,
.k-calendar td,
.k-calendar .k-link,
.k-treeview .k-in,
.k-editor-inline,
.k-tooltip,
.k-tile,
.k-slider-track,
.k-slider-selection,
.k-upload,
.k-split-button {
  border-radius: 3px;
}
.k-tool {
  text-align: center;
  vertical-align: middle;
}
.k-tool.k-group-start,
.k-toolbar .k-split-button .k-button,
.k-toolbar .k-button-group .k-group-start {
  border-radius: 3px 0 0 3px;
}
.k-rtl .k-tool.k-group-start,
.k-rtl .k-toolbar .k-split-button .k-button,
.k-rtl .k-toolbar .k-button-group .k-group-start {
  border-radius: 0 3px 3px 0;
}
.k-toolbar .k-button-group > .k-group-end {
  border-radius: 3px;
}
.k-tool.k-group-end,
.k-toolbar .k-button-group .k-button + .k-group-end,
.k-toolbar .k-split-button .k-split-button-arrow {
  border-radius: 0 3px 3px 0;
}
.k-rtl .k-tool.k-group-end,
.k-rtl .k-toolbar .k-button-group .k-group-end,
.k-rtl .k-toolbar .k-split-button .k-split-button-arrow {
  border-radius: 3px 0 0 3px;
}
.k-group-start.k-group-end.k-tool {
  border-radius: 3px;
}
.k-calendar-container.k-state-border-up,
.k-list-container.k-state-border-up,
.k-autocomplete.k-state-border-up,
.k-multiselect.k-state-border-up,
.k-dropdown-wrap.k-state-border-up,
.k-picker-wrap.k-state-border-up,
.k-numeric-wrap.k-state-border-up,
.k-window-content,
.k-filter-menu {
  border-radius: 0 0 3px 3px;
}
.k-autocomplete.k-state-border-up .k-input,
.k-dropdown-wrap.k-state-border-up .k-input,
.k-picker-wrap.k-state-border-up .k-input,
.k-picker-wrap.k-state-border-up .k-selected-color,
.k-numeric-wrap.k-state-border-up .k-input {
  border-radius: 0 0 0 3px;
}
.k-multiselect.k-state-border-up .k-multiselect-wrap {
  border-radius: 0 0 3px 3px;
}
.k-window-titlebar,
.k-block > .k-header,
.k-tabstrip-items .k-item,
.k-panelbar .k-tabstrip-items .k-item,
.k-tabstrip-items .k-link,
.k-calendar-container.k-state-border-down,
.k-list-container.k-state-border-down,
.k-autocomplete.k-state-border-down,
.k-multiselect.k-state-border-down,
.k-dropdown-wrap.k-state-border-down,
.k-picker-wrap.k-state-border-down,
.k-numeric-wrap.k-state-border-down {
  border-radius: 3px 3px 0 0;
}
.k-split-button.k-state-border-down > .k-button {
  border-radius: 3px 0 0 0;
}
.k-split-button.k-state-border-up > .k-button {
  border-radius: 0 0 0 3px;
}
.k-split-button.k-state-border-down > .k-split-button-arrow {
  border-radius: 0 3px 0 0;
}
.k-split-button.k-state-border-up > .k-split-button-arrow {
  border-radius: 0 0 3px 0;
}
.k-dropdown-wrap .k-input,
.k-picker-wrap .k-input,
.k-numeric-wrap .k-input {
  border-radius: 1.8px 0 0 1.8px;
}
.k-rtl .k-dropdown-wrap .k-input,
.k-rtl .k-picker-wrap .k-input,
.k-rtl .k-numeric-wrap .k-input {
  border-radius: 0 1.8px 1.8px 0;
}
.k-numeric-wrap .k-link {
  border-radius: 0 1.8px 0 0;
}
.k-numeric-wrap .k-link + .k-link {
  border-radius: 0 0 1.8px 0;
}
.k-colorpicker .k-selected-color {
  border-radius: 1.8px 0 0 1.8px;
}
.k-rtl .k-colorpicker .k-selected-color {
  border-radius: 0 1.8px 1.8px 0;
}
.k-autocomplete.k-state-border-down .k-input {
  border-radius: 3px 3px 0 0;
}
.k-dropdown-wrap.k-state-border-down .k-input,
.k-picker-wrap.k-state-border-down .k-input,
.k-picker-wrap.k-state-border-down .k-selected-color,
.k-numeric-wrap.k-state-border-down .k-input {
  border-radius: 3px 0 0 0;
}
.k-numeric-wrap .k-link.k-state-selected {
  background-color: #363940;
}
.k-multiselect.k-state-border-down .k-multiselect-wrap {
  border-radius: 1.8px 1.8px 0 0;
}
.k-dropdown-wrap .k-select,
.k-picker-wrap .k-select,
.k-numeric-wrap .k-select,
.k-datetimepicker .k-select + .k-select,
.k-list-container.k-state-border-right {
  border-radius: 0 3px 3px 0;
}
.k-autocomplete > .k-i-close,
.k-combobox > .k-dropdown-wrap > .k-i-close,
.k-multiselect > .k-multiselect-wrap > .k-i-close {
  border-radius: 50%;
  background-color: #cccccc;
}
.k-rtl .k-dropdown-wrap .k-select,
.k-rtl .k-picker-wrap .k-select,
.k-rtl .k-numeric-wrap .k-select,
.k-rtl .k-datetimepicker .k-select + .k-select,
.k-rtl .k-list-container.k-state-border-right {
  border-radius: 3px 0 0 3px;
}
.k-numeric-wrap.k-expand-padding .k-input {
  border-radius: 3px;
}
.k-textbox > input,
.k-autocomplete .k-input,
.k-multiselect-wrap {
  border-radius: 1.8px;
}
.k-list .k-state-hover,
.k-list .k-state-focused,
.k-list .k-state-highlight,
.k-list .k-state-selected,
.k-fieldselector .k-list .k-item,
.k-list-optionlabel,
.k-dropzone,
.k-listbox .k-item {
  border-radius: 2px;
}
.k-slider .k-button,
.k-grid .k-slider .k-button {
  border-radius: 13px;
}
.k-draghandle {
  border-radius: 13px;
}
.k-scheduler-toolbar > ul li:first-child,
.k-scheduler-toolbar > ul li:first-child .k-link,
.k-scheduler-toolbar > ul.k-scheduler-views li:first-child + li,
.k-scheduler-toolbar > ul.k-scheduler-views li:first-child + li .k-link {
  border-radius: 3px 0 0 3px;
}
.k-rtl .k-scheduler-toolbar > ul li:first-child,
.k-rtl .k-scheduler-toolbar > ul li:first-child .k-link,
.k-rtl .k-scheduler-toolbar > ul.k-scheduler-views li:first-child + li,
.k-rtl .k-scheduler-toolbar > ul.k-scheduler-views li:first-child + li .k-link,
.km-view.k-popup-edit-form .k-scheduler-toolbar > ul li:last-child,
.km-view.k-popup-edit-form .k-scheduler-toolbar > ul li:last-child .k-link {
  border-radius: 0 3px 3px 0;
}
.k-scheduler-phone .k-scheduler-toolbar > ul li.k-nav-today,
.k-scheduler-phone .k-scheduler-toolbar > ul li.k-nav-today .k-link,
.k-edit-field > .k-scheduler-navigation {
  border-radius: 3px;
}
.k-scheduler-toolbar .k-nav-next,
.k-scheduler-toolbar ul + ul li:last-child,
.k-scheduler-toolbar .k-nav-next .k-link,
.k-scheduler-toolbar ul + ul li:last-child .k-link {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}
.k-rtl .k-scheduler-toolbar .k-nav-next,
.k-rtl .k-scheduler-toolbar ul + ul li:last-child,
.k-rtl .k-scheduler-toolbar .k-nav-next .k-link,
.k-rtl .k-scheduler-toolbar ul + ul li:last-child .k-link {
  border-radius: 3px 0 0 3px;
}
.k-scheduler div.k-scheduler-footer ul li,
.k-scheduler div.k-scheduler-footer .k-link {
  border-radius: 3px;
}
.k-more-events,
.k-event,
.k-task-single,
.k-task-complete,
.k-event .k-link {
  border-radius: 1.8px;
}
.k-scheduler-mobile .k-event {
  border-radius: 0.8px;
}
/* Adaptive Grid */
.k-grid-mobile .k-column-active + th.k-header {
  border-left-color: #4c5356;
}
.k-grid-mobile .k-button-icontext {
  color: #fff;
}
html .km-pane-wrapper .km-widget,
.k-ie .km-pane-wrapper .k-widget,
.k-ie .km-pane-wrapper .k-group,
.k-ie .km-pane-wrapper .k-content,
.k-ie .km-pane-wrapper .k-header,
.k-ie .km-pane-wrapper .k-popup-edit-form .k-edit-field .k-button,
.km-pane-wrapper .k-mobile-list .k-item,
.km-pane-wrapper .k-mobile-list .k-edit-label,
.km-pane-wrapper .k-mobile-list .k-edit-field {
  color: #4c5356;
}
@media screen and (-ms-high-contrast: active) and (-ms-high-contrast: none) {
  div.km-pane-wrapper a {
    color: #4c5356;
  }
}
.km-pane-wrapper .k-mobile-list .k-item,
.km-pane-wrapper .k-mobile-list .k-edit-field,
.km-pane-wrapper .k-mobile-list .k-recur-view > .k-edit-field .k-check {
  color: #4c5356;
  background-color: #fff;
  border-top: 1px solid #cccccc;
}
.km-pane-wrapper .k-mobile-list .k-edit-field textarea {
  outline-width: 0;
}
.km-pane-wrapper .k-mobile-list .k-item.k-state-selected {
  background-color: #10c4b2;
  border-top-color: #10c4b2;
}
.km-pane-wrapper .k-mobile-list .k-recur-view > .k-edit-field .k-check:first-child {
  border-top-color: transparent;
}
.km-pane-wrapper .k-mobile-list .k-item:last-child {
  -webkit-box-shadow: inset 0 -1px 0 #cccccc;
          box-shadow: inset 0 -1px 0 #cccccc;
}
.km-pane-wrapper .k-mobile-list > ul > li > .k-link,
.km-pane-wrapper .k-mobile-list .k-recur-view > .k-edit-label:nth-child(3),
.km-pane-wrapper #recurrence .km-scroll-container > .k-edit-label:first-child {
  color: #808080;
}
.km-pane-wrapper .k-mobile-list > ul > li > .k-link {
  border-bottom: 1px solid #cccccc;
}
.km-pane-wrapper .k-mobile-list .k-edit-field {
  -webkit-box-shadow: 0 1px 1px #cccccc;
          box-shadow: 0 1px 1px #cccccc;
}
.km-actionsheet .k-grid-delete,
.km-actionsheet .k-scheduler-delete,
.km-pane-wrapper .k-scheduler-delete,
.km-pane-wrapper .k-filter-menu .k-button[type=reset] {
  color: #fff;
  border-color: #3f434b;
  background-color: red;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.3)), to(rgba(255, 255, 255, 0.15)));
  background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.15));
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.15));
}
.km-actionsheet .k-grid-delete:active,
.km-actionsheet .k-scheduler-delete:active,
.km-pane-wrapper .k-scheduler-delete:active,
.km-pane-wrapper .k-filter-menu .k-button[type=reset]:active {
  background-color: #990000;
}
/* /Column Menu */
.k-autocomplete.k-state-default,
.k-picker-wrap.k-state-default,
.k-numeric-wrap.k-state-default,
.k-dropdown-wrap.k-state-default {
  background-image: url('textures/highlight.png');
  background-image: none, -webkit-gradient(linear, left top, left bottom, from(false));
  background-image: none, -webkit-linear-gradient(top, false);
  background-image: none, linear-gradient(to bottom, false);
  background-position: 50% 50%;
  background-color: #10c4b2;
  border-color: #10c4b2;
}
.k-autocomplete.k-state-hover,
.k-picker-wrap.k-state-hover,
.k-numeric-wrap.k-state-hover,
.k-dropdown-wrap.k-state-hover {
  background-color: #2eb3a6;
  background-image: none;
  background-position: 50% 50%;
  border-color: #2eb3a6;
}
.k-multiselect.k-header {
  border-color: #10c4b2;
}
.k-multiselect.k-header.k-state-hover {
  border-color: #2eb3a6;
}
.k-autocomplete.k-state-focused,
.k-picker-wrap.k-state-focused,
.k-numeric-wrap.k-state-focused,
.k-dropdown-wrap.k-state-focused,
.k-multiselect.k-header.k-state-focused {
  background-color: #2eb3a6;
  background-image: none;
  background-position: 50% 50%;
  border-color: #0c9083;
  -webkit-box-shadow: none;
          box-shadow: none;
}
.k-list-container {
  color: #fff;
}
.k-nodata {
  color: #c2c2c2;
}
.k-dropdown .k-input,
.k-dropdown .k-state-focused .k-input,
.k-menu .k-popup {
  color: #fff;
}
.k-state-default > .k-select {
  border-color: #10c4b2;
}
.k-state-hover > .k-select {
  border-color: #2eb3a6;
}
.k-state-focused > .k-select {
  border-color: #0c9083;
}
.k-tabstrip:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}
.k-tabstrip-items .k-state-default .k-link,
.k-panelbar > li.k-state-default > .k-link {
  color: #fff;
}
.k-tabstrip-items .k-state-hover .k-link,
.k-panelbar > li.k-state-hover > .k-link,
.k-panelbar > li.k-state-default > .k-link.k-state-hover {
  color: #fff;
}
.k-panelbar .k-state-focused.k-state-hover {
  background: #2eb3a6;
  -webkit-box-shadow: none;
          box-shadow: none;
}
.k-tabstrip-items .k-state-default {
  border-color: #363940;
}
.k-tabstrip-items .k-state-hover {
  border-color: #2eb3a6;
}
.k-tabstrip-items .k-state-active,
.k-panelbar .k-tabstrip-items .k-state-active {
  background-color: #10c4b2;
  background-image: none;
  border-color: #10c4b2;
}
.k-tabstrip .k-content.k-state-active {
  background-color: #fff;
  color: #4c5356;
}
.k-menu.k-header,
.k-menu .k-item {
  border-color: #363940;
}
.k-column-menu,
.k-column-menu .k-item,
.k-overflow-container .k-overflow-group {
  border-color: #606572;
}
.k-overflow-container .k-overflow-group {
  -webkit-box-shadow: inset 0 1px 0 #afb3bc, 0 1px 0 #afb3bc;
          box-shadow: inset 0 1px 0 #afb3bc, 0 1px 0 #afb3bc;
}
.k-toolbar-first-visible.k-overflow-group,
.k-overflow-container .k-overflow-group + .k-overflow-group {
  -webkit-box-shadow: 0 1px 0 #afb3bc;
          box-shadow: 0 1px 0 #afb3bc;
}
.k-toolbar-last-visible.k-overflow-group {
  -webkit-box-shadow: inset 0 1px 0 #afb3bc;
          box-shadow: inset 0 1px 0 #afb3bc;
}
.k-column-menu .k-separator {
  border-color: #606572;
  background-color: transparent;
}
.k-menu .k-group {
  border-color: #363940;
}
.k-grid-filter.k-state-active {
  background-color: #10c4b2;
}
.k-grouping-row td,
.k-group-footer td,
.k-grid-footer td {
  color: #fff;
  border-color: #606572;
  font-weight: bold;
}
.k-grid tr:hover,
.k-grid td.k-state-selected:hover {
  color: #fff;
  background-color: #2eb3a6;
}
.k-grid .k-filter-row:hover,
.k-pivot-rowheaders .k-grid tr:hover {
  color: #4c5356;
  background: none;
}
.k-grouping-header {
  color: #fff;
}
.k-grid td.k-state-focused {
  -webkit-box-shadow: inset 0 0 0 1px #0d9e90;
          box-shadow: inset 0 0 0 1px #0d9e90;
}
.k-grid tr:hover .k-state-focused.k-state-selected,
.k-grid tr.k-state-selected:hover td.k-state-focused {
  -webkit-box-shadow: inset 0 0 0 1px #086158;
          box-shadow: inset 0 0 0 1px #086158;
}
.k-grid tr:hover .k-state-selected,
.k-grid tr.k-state-selected:hover td {
  background-color: #0da394;
}
.k-header,
.k-grid-header-wrap,
.k-grid .k-grouping-header,
.k-grid-header,
.k-pager-wrap,
.k-pager-wrap .k-textbox,
.k-pager-wrap .k-link,
.k-grouping-header .k-group-indicator,
.k-gantt-toolbar .k-state-default {
  border-color: #606572;
}
.k-pager-numbers .k-link,
.k-treeview .k-in {
  border-color: transparent;
}
.k-treeview .k-icon,
.k-scheduler-table .k-icon,
.k-grid .k-hierarchy-cell .k-icon,
.km-pane-wrapper .k-column-menu .k-sprite,
.km-pane-wrapper .k-column-menu .k-check {
  background-color: #cccccc;
  border-radius: 13px;
}
.k-scheduler-table .k-state-hover .k-icon {
  background-color: transparent;
}
.k-split-button:focus {
  outline: none;
}
.k-split-button:focus {
  -webkit-box-shadow: 0 0 0px 1px #0c9083;
          box-shadow: 0 0 0px 1px #0c9083;
}
.k-split-button:focus > .k-button {
  background: transparent;
  border-color: transparent;
}
.k-editor .k-tool:focus {
  outline: 0;
  border-color: #0c9083;
  -webkit-box-shadow: none;
          box-shadow: none;
}
.k-checkbox-label:before {
  border-color: #10c4b2;
  background: #fff;
  border-radius: 1px;
}
.k-checkbox:hover + .k-checkbox-label:before,
.k-checkbox:checked:hover + .k-checkbox-label:before,
.k-checkbox-label:hover:before,
.k-checkbox:checked + .k-checkbox-label:hover:before {
  border-color: #3dcdbf;
  -webkit-box-shadow: none;
          box-shadow: none;
}
.k-checkbox:checked + .k-checkbox-label:before {
  background-color: #fff;
  border-color: #10c4b2;
  color: #10c4b2;
}
.k-checkbox:active + .k-checkbox-label:before,
.k-checkbox-label:active:before {
  -webkit-box-shadow: none;
          box-shadow: none;
  border-color: #363940;
}
.k-checkbox:checked:active + .k-checkbox-label:before,
.k-checkbox:checked + .k-checkbox-label:active:before {
  -webkit-box-shadow: none;
          box-shadow: none;
  border-color: #363940;
}
.k-checkbox:disabled + .k-checkbox-label {
  color: #c2c2c2;
}
.k-checkbox:disabled + .k-checkbox-label:hover:before {
  -webkit-box-shadow: none;
          box-shadow: none;
}
.k-checkbox:disabled + .k-checkbox-label:before,
.k-checkbox:checked:disabled + .k-checkbox-label:before,
.k-checkbox:checked:disabled + .k-checkbox-label:active:before,
.k-checkbox:checked:disabled + .k-checkbox-label:hover:before {
  color: #c2c2c2;
  background: #fff;
  border-color: #cccccc;
  border-radius: 1px;
}
.k-checkbox:focus + .k-checkbox-label:before,
.k-checkbox:focus + .k-checkbox-label:hover:before {
  border-color: #363940;
  -webkit-box-shadow: none;
          box-shadow: none;
}
.k-checkbox:indeterminate + .k-checkbox-label:after {
  background-color: #10c4b2;
  background-image: none;
  border-color: #10c4b2;
  border-radius: 0px;
}
.k-checkbox:indeterminate:hover + .k-checkbox-label:after {
  border-color: #10c4b2;
  background-color: #10c4b2;
}
.k-radio-label:before {
  border-color: #10c4b2;
  border-radius: 50%;
  background-color: #fff;
  border-width: 1px;
}
.k-radio-label:hover:before,
.k-radio:checked + .k-radio-label:hover:before {
  border-color: #3dcdbf;
  -webkit-box-shadow: none;
          box-shadow: none;
}
.k-radio:checked + .k-radio-label:after {
  background-color: #10c4b2;
  border-radius: 50%;
}
.k-radio-label:active:before {
  border-color: #363940;
  -webkit-box-shadow: none;
          box-shadow: none;
}
.k-radio:checked + .k-radio-label:active:before {
  -webkit-box-shadow: none;
          box-shadow: none;
  border-color: #363940;
}
.k-radio:disabled + .k-radio-label {
  color: #c2c2c2;
}
.k-radio:disabled + .k-radio-label:before,
.k-radio:disabled + .k-radio-label:active:before,
.k-radio:disabled + .k-radio-label:hover:after,
.k-radio:disabled + .k-radio-label:hover:before {
  background: #fff;
  border-color: #cccccc;
  -webkit-box-shadow: none;
          box-shadow: none;
}
.k-radio:disabled:checked + .k-radio-label:after {
  background-color: #10c4b2;
  opacity: .5;
}
.k-radio:focus + .k-radio-label:before {
  border-color: #363940;
  -webkit-box-shadow: none;
          box-shadow: none;
}
@media screen and (-ms-high-contrast: active) {
  .k-editor-toolbar-wrap .k-dropdown-wrap.k-state-focused,
  .k-editor-toolbar-wrap .k-button-group .k-tool:focus {
    border-color: #fff;
  }
}
/* Responsive styles */
@media only screen and (max-width: 1024px) {
  .k-webkit .k-pager-numbers,
  .k-ff .k-pager-numbers,
  .k-ie11 .k-pager-numbers,
  .k-edge .k-pager-numbers,
  .k-safari .k-pager-numbers,
  .k-webkit .k-grid .k-pager-numbers,
  .k-ff .k-grid .k-pager-numbers,
  .k-ie11 .k-grid .k-pager-numbers,
  .k-edge .k-grid .k-pager-numbers,
  .k-safari .k-grid .k-pager-numbers {
    -ms-transform: translatey(-100%);
        transform: translatey(-100%);
    -webkit-transform: translatey(-100%);
  }
  .k-webkit .k-pager-numbers .k-current-page,
  .k-ff .k-pager-numbers .k-current-page,
  .k-ie11 .k-pager-numbers .k-current-page,
  .k-edge .k-pager-numbers .k-current-page,
  .k-safari .k-pager-numbers .k-current-page,
  .k-webkit .k-grid .k-pager-numbers .k-current-page,
  .k-ff .k-grid .k-pager-numbers .k-current-page,
  .k-ie11 .k-grid .k-pager-numbers .k-current-page,
  .k-edge .k-grid .k-pager-numbers .k-current-page,
  .k-safari .k-grid .k-pager-numbers .k-current-page {
    -ms-transform: translatey(100%);
        transform: translatey(100%);
    -webkit-transform: translatey(100%);
  }
  .k-webkit .k-scheduler-toolbar > ul.k-scheduler-views > li.k-current-view,
  .k-ff .k-scheduler-toolbar > ul.k-scheduler-views > li.k-current-view,
  .k-ie11 .k-scheduler-toolbar > ul.k-scheduler-views > li.k-current-view,
  .k-edge .k-scheduler-toolbar > ul.k-scheduler-views > li.k-current-view,
  .k-safari .k-scheduler-toolbar > ul.k-scheduler-views > li.k-current-view,
  .k-webkit .k-pager-numbers .k-current-page .k-link,
  .k-ff .k-pager-numbers .k-current-page .k-link,
  .k-ie11 .k-pager-numbers .k-current-page .k-link,
  .k-edge .k-pager-numbers .k-current-page .k-link,
  .k-safari .k-pager-numbers .k-current-page .k-link {
    background-image: url('textures/highlight.png');
    background-image: none, -webkit-gradient(linear, left top, left bottom, from(false));
    background-image: none, -webkit-linear-gradient(top, false);
    background-image: none, linear-gradient(to bottom, false);
    background-position: 50% 50%;
    background-color: #10c4b2;
    border-color: #cccccc;
  }
  .k-webkit .k-pager-numbers .k-current-page .k-link,
  .k-ff .k-pager-numbers .k-current-page .k-link,
  .k-ie11 .k-pager-numbers .k-current-page .k-link,
  .k-edge .k-pager-numbers .k-current-page .k-link,
  .k-safari .k-pager-numbers .k-current-page .k-link {
    border-color: #606572;
  }
  .k-webkit .k-scheduler-toolbar > ul.k-scheduler-views > li.k-current-view,
  .k-ff .k-scheduler-toolbar > ul.k-scheduler-views > li.k-current-view,
  .k-ie11 .k-scheduler-toolbar > ul.k-scheduler-views > li.k-current-view,
  .k-edge .k-scheduler-toolbar > ul.k-scheduler-views > li.k-current-view,
  .k-safari .k-scheduler-toolbar > ul.k-scheduler-views > li.k-current-view {
    border-radius: 3px;
  }
  .k-webkit .k-scheduler-toolbar > ul.k-scheduler-views.k-state-expanded > li,
  .k-ff .k-scheduler-toolbar > ul.k-scheduler-views.k-state-expanded > li,
  .k-ie11 .k-scheduler-toolbar > ul.k-scheduler-views.k-state-expanded > li,
  .k-edge .k-scheduler-toolbar > ul.k-scheduler-views.k-state-expanded > li,
  .k-safari .k-scheduler-toolbar > ul.k-scheduler-views.k-state-expanded > li {
    border-radius: 0;
  }
  .k-webkit .k-scheduler-toolbar > ul.k-scheduler-views.k-state-expanded > li.k-current-view,
  .k-ff .k-scheduler-toolbar > ul.k-scheduler-views.k-state-expanded > li.k-current-view,
  .k-ie11 .k-scheduler-toolbar > ul.k-scheduler-views.k-state-expanded > li.k-current-view,
  .k-edge .k-scheduler-toolbar > ul.k-scheduler-views.k-state-expanded > li.k-current-view,
  .k-safari .k-scheduler-toolbar > ul.k-scheduler-views.k-state-expanded > li.k-current-view {
    border-radius: 1.8px 1.8px 0 0;
  }
  .k-webkit .k-scheduler-toolbar > ul li:first-child,
  .k-ff .k-scheduler-toolbar > ul li:first-child,
  .k-ie11 .k-scheduler-toolbar > ul li:first-child,
  .k-edge .k-scheduler-toolbar > ul li:first-child,
  .k-safari .k-scheduler-toolbar > ul li:first-child,
  .k-webkit .k-scheduler-toolbar > ul li:first-child .k-link,
  .k-ff .k-scheduler-toolbar > ul li:first-child .k-link,
  .k-ie11 .k-scheduler-toolbar > ul li:first-child .k-link,
  .k-edge .k-scheduler-toolbar > ul li:first-child .k-link,
  .k-safari .k-scheduler-toolbar > ul li:first-child .k-link,
  .k-webkit .k-scheduler-toolbar > ul.k-scheduler-views li,
  .k-ff .k-scheduler-toolbar > ul.k-scheduler-views li,
  .k-ie11 .k-scheduler-toolbar > ul.k-scheduler-views li,
  .k-edge .k-scheduler-toolbar > ul.k-scheduler-views li,
  .k-safari .k-scheduler-toolbar > ul.k-scheduler-views li,
  .k-webkit .k-scheduler-toolbar > ul.k-scheduler-views li .k-link,
  .k-ff .k-scheduler-toolbar > ul.k-scheduler-views li .k-link,
  .k-ie11 .k-scheduler-toolbar > ul.k-scheduler-views li .k-link,
  .k-edge .k-scheduler-toolbar > ul.k-scheduler-views li .k-link,
  .k-safari .k-scheduler-toolbar > ul.k-scheduler-views li .k-link {
    border-radius: 0;
  }
  .k-webkit .k-scheduler-toolbar > ul.k-scheduler-views li:last-child,
  .k-ff .k-scheduler-toolbar > ul.k-scheduler-views li:last-child,
  .k-ie11 .k-scheduler-toolbar > ul.k-scheduler-views li:last-child,
  .k-edge .k-scheduler-toolbar > ul.k-scheduler-views li:last-child,
  .k-safari .k-scheduler-toolbar > ul.k-scheduler-views li:last-child,
  .k-webkit .k-scheduler-toolbar > ul.k-scheduler-views li:last-child .k-link,
  .k-ff .k-scheduler-toolbar > ul.k-scheduler-views li:last-child .k-link,
  .k-ie11 .k-scheduler-toolbar > ul.k-scheduler-views li:last-child .k-link,
  .k-edge .k-scheduler-toolbar > ul.k-scheduler-views li:last-child .k-link,
  .k-safari .k-scheduler-toolbar > ul.k-scheduler-views li:last-child .k-link {
    border-radius: 0 0 1.8px 1.8px;
  }
  .k-webkit .k-pager-numbers .k-current-page .k-link:hover,
  .k-ff .k-pager-numbers .k-current-page .k-link:hover,
  .k-ie11 .k-pager-numbers .k-current-page .k-link:hover,
  .k-edge .k-pager-numbers .k-current-page .k-link:hover,
  .k-safari .k-pager-numbers .k-current-page .k-link:hover,
  .k-webkit .k-scheduler-toolbar > ul.k-scheduler-views > li.k-current-view:hover,
  .k-ff .k-scheduler-toolbar > ul.k-scheduler-views > li.k-current-view:hover,
  .k-ie11 .k-scheduler-toolbar > ul.k-scheduler-views > li.k-current-view:hover,
  .k-edge .k-scheduler-toolbar > ul.k-scheduler-views > li.k-current-view:hover,
  .k-safari .k-scheduler-toolbar > ul.k-scheduler-views > li.k-current-view:hover {
    border-color: #2eb3a6;
    background-image: none;
    background-color: #2eb3a6;
  }
  .k-webkit .k-scheduler-toolbar > ul.k-scheduler-views > li.k-current-view > .k-link,
  .k-ff .k-scheduler-toolbar > ul.k-scheduler-views > li.k-current-view > .k-link,
  .k-ie11 .k-scheduler-toolbar > ul.k-scheduler-views > li.k-current-view > .k-link,
  .k-edge .k-scheduler-toolbar > ul.k-scheduler-views > li.k-current-view > .k-link,
  .k-safari .k-scheduler-toolbar > ul.k-scheduler-views > li.k-current-view > .k-link {
    color: #4c5356;
    min-width: 75px;
  }
  .k-webkit .k-scheduler-toolbar > ul.k-scheduler-views > li.k-current-view:hover > .k-link,
  .k-ff .k-scheduler-toolbar > ul.k-scheduler-views > li.k-current-view:hover > .k-link,
  .k-ie11 .k-scheduler-toolbar > ul.k-scheduler-views > li.k-current-view:hover > .k-link,
  .k-edge .k-scheduler-toolbar > ul.k-scheduler-views > li.k-current-view:hover > .k-link,
  .k-safari .k-scheduler-toolbar > ul.k-scheduler-views > li.k-current-view:hover > .k-link {
    color: #fff;
  }
  .k-webkit .k-pager-numbers .k-current-page .k-link:after,
  .k-ff .k-pager-numbers .k-current-page .k-link:after,
  .k-ie11 .k-pager-numbers .k-current-page .k-link:after,
  .k-edge .k-pager-numbers .k-current-page .k-link:after,
  .k-safari .k-pager-numbers .k-current-page .k-link:after,
  .k-webkit .k-scheduler-views > li.k-state-selected > .k-link:after,
  .k-ff .k-scheduler-views > li.k-state-selected > .k-link:after,
  .k-ie11 .k-scheduler-views > li.k-state-selected > .k-link:after,
  .k-edge .k-scheduler-views > li.k-state-selected > .k-link:after,
  .k-safari .k-scheduler-views > li.k-state-selected > .k-link:after {
    display: block;
    content: "";
    position: absolute;
    top: 50%;
    margin-top: -0.5em;
    right: 0.333em;
    width: 1.333em;
    height: 1.333em;
  }
  .k-webkit .k-pager-numbers.k-state-expanded,
  .k-ff .k-pager-numbers.k-state-expanded,
  .k-ie11 .k-pager-numbers.k-state-expanded,
  .k-edge .k-pager-numbers.k-state-expanded,
  .k-safari .k-pager-numbers.k-state-expanded,
  .k-webkit .k-scheduler-toolbar > ul.k-scheduler-views.k-state-expanded,
  .k-ff .k-scheduler-toolbar > ul.k-scheduler-views.k-state-expanded,
  .k-ie11 .k-scheduler-toolbar > ul.k-scheduler-views.k-state-expanded,
  .k-edge .k-scheduler-toolbar > ul.k-scheduler-views.k-state-expanded,
  .k-safari .k-scheduler-toolbar > ul.k-scheduler-views.k-state-expanded {
    border-width: 1px 1px 0 1px;
    border-style: solid;
    border-color: #606572;
    background-color: #363940;
    border-radius: 3px 3px 0 0;
    -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.25);
            box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.25);
  }
  .k-webkit .k-scheduler-toolbar > ul.k-scheduler-views.k-state-expanded,
  .k-ff .k-scheduler-toolbar > ul.k-scheduler-views.k-state-expanded,
  .k-ie11 .k-scheduler-toolbar > ul.k-scheduler-views.k-state-expanded,
  .k-edge .k-scheduler-toolbar > ul.k-scheduler-views.k-state-expanded,
  .k-safari .k-scheduler-toolbar > ul.k-scheduler-views.k-state-expanded {
    border-width: 1px;
    background-image: none;
    border-radius: 3px;
  }
  .k-webkit .k-pager-numbers .k-state-selected,
  .k-ff .k-pager-numbers .k-state-selected,
  .k-ie11 .k-pager-numbers .k-state-selected,
  .k-edge .k-pager-numbers .k-state-selected,
  .k-safari .k-pager-numbers .k-state-selected,
  .k-webkit .k-pager-numbers .k-link,
  .k-ff .k-pager-numbers .k-link,
  .k-ie11 .k-pager-numbers .k-link,
  .k-edge .k-pager-numbers .k-link,
  .k-safari .k-pager-numbers .k-link {
    border-radius: 2px;
  }
  .k-webkit .k-widget.k-grid .k-pager-nav + .k-pager-numbers,
  .k-ff .k-widget.k-grid .k-pager-nav + .k-pager-numbers,
  .k-ie11 .k-widget.k-grid .k-pager-nav + .k-pager-numbers,
  .k-edge .k-widget.k-grid .k-pager-nav + .k-pager-numbers,
  .k-safari .k-widget.k-grid .k-pager-nav + .k-pager-numbers {
    position: absolute;
  }
}
.k-button-group .k-tool,
.k-toolbar,
.k-grid-toolbar .k-button {
  border-color: #606572;
}
.k-grid-toolbar .k-button:hover,
.k-grid-toolbar .k-button.k-state-hovered {
  border-color: #2eb3a6;
}
.k-grid-toolbar .k-button:focus,
.k-grid-toolbar .k-button.k-state-focused {
  border-color: #0c9083;
}
.k-grid-toolbar .k-autocomplete,
.k-grid .k-autocomplete,
.k-editor-toolbar .k-autocomplete,
.k-grid-toolbar .k-picker-wrap,
.k-grid .k-picker-wrap,
.k-editor-toolbar .k-picker-wrap,
.k-grid-toolbar .k-numeric-wrap,
.k-grid .k-numeric-wrap,
.k-editor-toolbar .k-numeric-wrap,
.k-grid-toolbar .k-dropdown-wrap,
.k-grid .k-dropdown-wrap,
.k-editor-toolbar .k-dropdown-wrap {
  background-color: #363940;
  background-image: none;
  background-position: 50% 50%;
  border-color: #606572;
}
.k-grid-toolbar .k-autocomplete.k-state-hover,
.k-grid .k-autocomplete.k-state-hover,
.k-editor-toolbar .k-autocomplete.k-state-hover,
.k-grid-toolbar .k-picker-wrap.k-state-hover,
.k-grid .k-picker-wrap.k-state-hover,
.k-editor-toolbar .k-picker-wrap.k-state-hover,
.k-grid-toolbar .k-numeric-wrap.k-state-hover,
.k-grid .k-numeric-wrap.k-state-hover,
.k-editor-toolbar .k-numeric-wrap.k-state-hover,
.k-grid-toolbar .k-dropdown-wrap.k-state-hover,
.k-grid .k-dropdown-wrap.k-state-hover,
.k-editor-toolbar .k-dropdown-wrap.k-state-hover {
  background-color: #2eb3a6;
  background-image: none;
  background-position: 50% 50%;
  border-color: #2eb3a6;
}
.k-grid-toolbar .k-autocomplete.k-state-focused,
.k-grid .k-autocomplete.k-state-focused,
.k-editor-toolbar .k-autocomplete.k-state-focused,
.k-grid-toolbar .k-picker-wrap.k-state-focused,
.k-grid .k-picker-wrap.k-state-focused,
.k-editor-toolbar .k-picker-wrap.k-state-focused,
.k-grid-toolbar .k-numeric-wrap.k-state-focused,
.k-grid .k-numeric-wrap.k-state-focused,
.k-editor-toolbar .k-numeric-wrap.k-state-focused,
.k-grid-toolbar .k-dropdown-wrap.k-state-focused,
.k-grid .k-dropdown-wrap.k-state-focused,
.k-editor-toolbar .k-dropdown-wrap.k-state-focused {
  background-color: #2eb3a6;
  background-image: none;
  background-position: 50% 50%;
  border-color: #2eb3a6;
}
.k-popup.k-group {
  color: #fff;
  border-color: #363940;
}
.k-popup.k-group .k-state-default > .k-select {
  border-color: #606572;
}
.k-popup.k-group .k-state-hover > .k-select {
  border-color: #2eb3a6;
}
.k-popup.k-group .k-state-focused > .k-select {
  border-color: #10c4b2;
}
.k-grid-toolbar,
.k-dropdown .k-input,
.k-dropdown .k-state-focused .k-input,
.k-menu .k-popup {
  color: #fff;
}
.k-chart .k-mask {
  background-color: #fff;
  filter: alpha(opacity=70);
  opacity: 0.70;
}
.k-chart .k-selection {
  border-color: #c7c7c7;
  -webkit-transition: border-color 0.2s linear, -webkit-box-shadow 0.2s linear;
  transition: border-color 0.2s linear, -webkit-box-shadow 0.2s linear;
  transition: box-shadow 0.2s linear, border-color 0.2s linear;
  transition: box-shadow 0.2s linear, border-color 0.2s linear, -webkit-box-shadow 0.2s linear;
}
.k-chart .k-selection:hover {
  border-color: #2eb3a6;
  -webkit-box-shadow: inset 0 0 0 30px rgba(46, 179, 166, 0.5);
          box-shadow: inset 0 0 0 30px rgba(46, 179, 166, 0.5);
}
.k-chart .k-handle {
  background-color: #10c4b2;
  width: 1px;
}
.k-chart .k-handle:hover {
  background-color: #2eb3a6;
  width: 3px;
  border-radius: 0;
}
.k-chart .k-navigator-hint .k-tooltip {
  border: 0;
  background: #10c4b2;
  color: #ffffff;
  border-radius: 0;
}
.k-chart .k-navigator-hint .k-scroll {
  background: rgba(16, 196, 178, 0.5);
  height: 4px;
  border-radius: 0;
}
.k-chart .k-tooltip,
.k-sparkline .k-tooltip,
.k-chart-crosshair-tooltip,
.k-chart-shared-tooltip {
  background-image: none;
  border-radius: 0;
}
.k-chart .k-tooltip {
  -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
          box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
}
.k-navigator-hint .k-tooltip {
  -webkit-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
          box-shadow: 0 0 0 rgba(0, 0, 0, 0);
  background: #fff;
}
.k-map .k-marker {
  font-size: 28px;
  color: #10c4b2;
}
.k-spreadsheet-row-header,
.k-spreadsheet-column-header {
  background-color: #fff;
}
.k-spreadsheet-top-corner,
.k-spreadsheet-row-header,
.k-spreadsheet-column-header {
  background-color: #363940;
  background-image: none;
  color: #ffffff;
  border-color: #606572;
}
.k-spreadsheet-top-corner {
  border-color: #606572;
}
.k-spreadsheet-top-corner:after {
  border-color: transparent #606572 #606572 transparent;
}
.k-spreadsheet-pane {
  border-color: #070809;
}
.k-spreadsheet-pane .k-spreadsheet-vaxis,
.k-spreadsheet-pane .k-spreadsheet-haxis {
  border-color: #e6e6e6;
}
.k-spreadsheet-pane .k-spreadsheet-column-header,
.k-spreadsheet-pane .k-spreadsheet-row-header {
  border-color: #606572;
}
.k-spreadsheet-pane .k-spreadsheet-merged-cell {
  background-color: #fff;
}
.k-spreadsheet-pane .k-selection-partial,
.k-spreadsheet-pane .k-selection-full {
  border-color: rgba(16, 196, 178, 0.2);
  background-color: rgba(16, 196, 178, 0.2);
}
.k-spreadsheet-pane .k-filter-range {
  border-color: #10c4b2;
}
.k-spreadsheet-pane .k-spreadsheet-column-header .k-selection-partial,
.k-spreadsheet-pane .k-spreadsheet-column-header .k-selection-full {
  border-bottom-color: #0d9a8b;
}
.k-spreadsheet-pane .k-spreadsheet-row-header .k-selection-partial,
.k-spreadsheet-pane .k-spreadsheet-row-header .k-selection-full {
  border-right-color: #0d9a8b;
}
.k-auto-fill,
.k-spreadsheet-selection {
  border-color: #10c4b2;
  -webkit-box-shadow: inset 0 0 0 1px #fff, 0 0 0 1px #10c4b2;
          box-shadow: inset 0 0 0 1px #fff, 0 0 0 1px #10c4b2;
}
.k-spreadsheet-selection {
  background-color: rgba(16, 196, 178, 0.2);
}
.k-spreadsheet-active-cell {
  border-color: #10c4b2 !important;
  background-color: #fff;
}
.k-spreadsheet-active-cell.k-single {
  color: #4c5356;
  background-color: #fff;
}
.k-spreadsheet .k-spreadsheet-action-bar {
  background-color: #fff;
  border-color: #cccccc;
}
.k-spreadsheet .k-spreadsheet-action-bar .k-spreadsheet-name-editor {
  border-color: #606572;
}
.k-spreadsheet .k-spreadsheet-action-bar .k-spreadsheet-formula-bar::before {
  border-color: #606572;
}
.k-spreadsheet .k-spreadsheet-formula-input {
  background-color: #fff;
  color: #4c5356;
}
.k-spreadsheet .k-resize-handle,
.k-spreadsheet .k-resize-hint-handle,
.k-spreadsheet .k-resize-hint-marker {
  background-color: #10c4b2;
}
.k-spreadsheet .k-resize-hint-vertical .k-resize-hint-handle,
.k-spreadsheet .k-resize-hint-vertical .k-resize-hint-marker {
  background-color: #10c4b2;
}
.k-spreadsheet .k-single-selection::after {
  background-color: #10c4b2;
  border-color: #fff;
}
.k-spreadsheet .k-auto-fill-punch {
  background-color: rgba(255, 255, 255, 0.5);
}
.k-spreadsheet .k-single-selection.k-dim-auto-fill-handle::after {
  background-color: rgba(16, 196, 178, 0.5);
}
.k-spreadsheet-format-cells .k-spreadsheet-preview {
  border-color: #cccccc;
}
.k-spreadsheet-filter {
  border-radius: 3px;
  background-color: #fff;
  -webkit-box-shadow: inset 0 0 0 1px #e6e6e6;
          box-shadow: inset 0 0 0 1px #e6e6e6;
}
.k-spreadsheet-filter.k-state-active {
  color: #fff;
  background-color: #10c4b2;
}
.k-spreadsheet-filter:hover {
  color: #fff;
  background: #2eb3a6;
  border-color: #269388;
}
.k-action-window .k-action-buttons {
  border-color: #cccccc;
}
.k-spreadsheet-sample {
  color: #97a0a4;
}
.k-state-selected .k-spreadsheet-sample {
  color: inherit;
}
.k-spreadsheet-window .k-list-wrapper,
.k-spreadsheet-window .k-list {
  border-color: #cccccc;
  border-radius: 3px;
}
.k-spreadsheet-toolbar.k-toolbar .k-button-group .k-button:not(.k-toggle-button) {
  border-radius: 3px;
}
.k-spreadsheet-toolbar > .k-widget,
.k-spreadsheet-toolbar > .k-button,
.k-spreadsheet-toolbar > .k-button-group {
  border-radius: 3px;
}
.k-spreadsheet-toolbar > .k-separator {
  border-color: #cccccc;
}
.k-spreadsheet-toolbar .k-overflow-anchor {
  border-radius: 0;
}
.k-spreadsheet-popup {
  border-radius: 3px;
}
.k-spreadsheet-popup .k-separator {
  background-color: #cccccc;
}
.k-spreadsheet-popup .k-button {
  background-color: transparent;
}
.k-spreadsheet-popup .k-button:hover {
  background-color: #2eb3a6;
}
.k-spreadsheet-popup .k-state-active {
  background-color: #10c4b2;
  color: #000000;
}
.k-spreadsheet-popup .k-state-active:hover {
  background-color: #0c9587;
}
.k-spreadsheet-filter-menu .k-details {
  border-color: #cccccc;
}
.k-spreadsheet-filter-menu .k-details-content .k-space-right {
  background-color: #fff;
}
.k-spreadsheet-filter-menu .k-spreadsheet-value-treeview-wrapper {
  background-color: #fff;
  border-color: #cccccc;
  border-radius: 3px 0 0 3px;
}
.k-syntax-ref {
  color: #ff8822;
}
.k-syntax-num {
  color: #0099ff;
}
.k-syntax-func {
  font-weight: bold;
}
.k-syntax-str {
  color: #38b714;
}
.k-syntax-error {
  color: red;
}
.k-syntax-bool {
  color: #a9169c;
}
.k-syntax-startexp {
  font-weight: bold;
}
.k-syntax-paren-match {
  background-color: #caf200;
}
.k-series-a {
  border-color: #10c4b2;
  background-color: rgba(16, 196, 178, 0.15);
}
.k-series-b {
  border-color: #ff7663;
  background-color: rgba(255, 118, 99, 0.15);
}
.k-series-c {
  border-color: #ffb74f;
  background-color: rgba(255, 183, 79, 0.15);
}
.k-series-d {
  border-color: #a2df53;
  background-color: rgba(162, 223, 83, 0.15);
}
.k-series-e {
  border-color: #1c9ec4;
  background-color: rgba(28, 158, 196, 0.15);
}
.k-series-f {
  border-color: #ff63a5;
  background-color: rgba(255, 99, 165, 0.15);
}
.k-spreadsheet-sheets-remove:hover .k-icon {
  color: #cc2222;
}
.k-spreadsheet-formula-list .k-state-focused {
  background-color: #10c4b2;
  color: #fff;
}
.k-spreadsheet-pane .k-spreadsheet-column-header .k-selection-partial,
.k-spreadsheet-pane .k-spreadsheet-row-header .k-selection-partial,
.k-spreadsheet-pane .k-spreadsheet-column-header .k-selection-full,
.k-spreadsheet-pane .k-spreadsheet-row-header .k-selection-full {
  background-color: #10c4b2;
}
.k-spreadsheet-toolbar .k-combobox .k-input {
  color: #fff;
}
.k-spreadsheet-toolbar .k-combobox .k-state-hover .k-input,
.k-spreadsheet-toolbar .k-combobox .k-state-active .k-input {
  color: #4c5356;
}
/* Dialog */
.k-dialog {
  border-color: #cccccc;
}
.k-dialog.k-alert .k-dialog-title,
.k-dialog.k-confirm .k-dialog-title,
.k-dialog.k-prompt .k-dialog-title {
  color: #4c5356;
}
.k-dialog .k-dialog-buttongroup.k-dialog-button-layout-stretched {
  width: 100%;
}
.k-dialog .k-dialog-buttongroup.k-dialog-button-layout-stretched .k-button {
  display: inline-block;
  padding: 0.9em 0 0.9em 0;
  border-radius: 0;
  border-bottom: 0;
  border-width: 1px 0 0 1px;
}
.k-dialog .k-dialog-buttongroup.k-dialog-button-layout-stretched .k-button:first-child {
  border-bottom-left-radius: 3px;
  border-left: 0;
}
.k-dialog .k-dialog-buttongroup.k-dialog-button-layout-stretched .k-button:last-child {
  border-bottom-right-radius: 3px;
  border-right: 0;
}
.k-dialog .k-dialog-buttongroup.k-dialog-button-layout-normal {
  width: auto;
  margin: 0;
  padding: 1em;
  text-align: right;
}
.k-dialog .k-dialog-buttongroup.k-dialog-button-layout-normal .k-button {
  margin-left: 0.5em;
}
.k-dialog .k-dialog-buttongroup.k-dialog-button-layout-normal .k-button:first-child {
  margin-left: 0;
}
.k-rtl .k-dialog a.k-dialog-action.k-dialog-close {
  top: 1em;
  left: .5em;
}
.k-rtl .k-dialog .k-dialog-buttongroup.k-dialog-button-layout-stretched .k-button:first-child {
  border-bottom-right-radius: 3px;
}
.k-rtl .k-dialog .k-dialog-buttongroup.k-dialog-button-layout-stretched .k-button:last-child {
  border-bottom-left-radius: 3px;
}
.k-rtl .k-dialog .k-dialog-buttongroup.k-dialog-button-layout-normal {
  text-align: left;
}
.k-rtl .k-dialog .k-dialog-buttongroup.k-dialog-button-layout-normal .k-button {
  margin-left: 0;
  margin-right: 0.5em;
}
.k-rtl .k-dialog .k-dialog-buttongroup.k-dialog-button-layout-normal .k-button:first-child {
  margin-right: 0;
}
.k-numeric-wrap .k-i-warning {
  color: #fe633f;
  position: absolute;
  top: 0;
  right: 1.9em;
  width: 1.9em;
}
.k-numeric-wrap.k-state-invalid {
  border-color: #fe633f;
}
.k-numeric-wrap.k-state-invalid input {
  color: #fe633f;
}
.k-rtl .k-numeric-wrap.k-state-invalid .k-i-warning {
  right: auto;
  left: 1.9em;
}
.k-maskedtextbox.k-state-invalid .k-textbox {
  border-color: #fe633f;
  color: #fe633f;
}
.k-maskedtextbox.k-state-invalid .k-i-warning {
  color: #fe633f;
}
.k-dateinput.k-state-invalid .k-textbox {
  color: #fe633f;
  border-color: #fe633f;
}
.k-dateinput.k-state-invalid .k-i-warning {
  margin-left: 0;
  margin-right: 0.6em;
  color: #fe633f;
}
.k-rtl .k-dateinput .k-i-warning {
  margin-right: 0;
  margin-left: 0.6em;
}
.k-datepicker .k-picker-wrap.k-state-invalid,
.k-timepicker .k-picker-wrap.k-state-invalid {
  border-color: #fe633f;
}
.k-datepicker .k-picker-wrap.k-state-invalid .k-input,
.k-timepicker .k-picker-wrap.k-state-invalid .k-input {
  color: #fe633f;
}
.k-datepicker .k-picker-wrap .k-i-warning,
.k-timepicker .k-picker-wrap .k-i-warning {
  color: #fe633f;
  margin-left: 0;
  margin-right: 2.1em;
}
.k-rtl .k-datepicker .k-picker-wrap .k-i-warning,
.k-rtl .k-timepicker .k-picker-wrap .k-i-warning {
  margin-right: 0;
  margin-left: 2.1em;
}
.k-datetimepicker .k-picker-wrap.k-state-invalid {
  border-color: #fe633f;
}
.k-datetimepicker .k-picker-wrap.k-state-invalid .k-input {
  color: #fe633f;
}
.k-datetimepicker .k-picker-wrap .k-i-warning {
  color: #fe633f;
  margin-left: 0;
  margin-right: 4.3em;
}
.k-rtl .k-datetimepicker .k-picker-wrap .k-icon.k-i-warning {
  margin-right: 0;
  margin-left: 4.3em;
}
.k-listbox .k-list-scroller {
  padding: 3px;
  border-color: #cccccc;
  background-color: #fff;
  color: #4c5356;
}
.k-listbox .k-drop-hint {
  height: 0;
  border-top: 1px solid #10c4b2;
}
.k-grid-header .k-i-sort-asc-sm,
.k-grid-header .k-i-sort-desc-sm,
.k-grid-header .k-sort-order {
  color: #10c4b2;
}
