/** 
 * Kendo UI v2017.3.913 (http://www.telerik.com/kendo-ui)                                                                                                                                               
 * Copyright 2017 Telerik AD. All rights reserved.                                                                                                                                                      
 *                                                                                                                                                                                                      
 * Kendo UI commercial licenses may be obtained at                                                                                                                                                      
 * http://www.telerik.com/purchase/license-agreement/kendo-ui-complete                                                                                                                                  
 * If you do not own a commercial license, this file shall be governed by the trial license terms.                                                                                                      
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       

*/
@input-height: 2.214em;
@input-indent: .8em;
@editor-icon-size: 36px;
@menu-link-padding: 1.071em;
@button-padding-x: 14px;
@button-padding-y: .82em;
@button-padding: @button-padding-y @button-padding-x;
@treeview-inner-padding: 0.429em 0.6667em 0.429em 0.5833em;
@treeview-inner-margin: 1px 0 1px 0.3333em;
@scheduler-link-padding: 0 1.1em;
@grid-header-padding: .429em .2em .429em 1em;
@icon-positioning: "material";

@import "common/all.less";

@calendar-cell-width: ((54px / 14px) * 1em);

.k-textbox > input,
.k-autocomplete .k-input,
.k-picker-wrap .k-input,
.k-numeric-wrap .k-input,
.k-dropdown-wrap .k-input,
.k-selectbox .k-input {
    height: 1.571em;
    line-height: 1.571em;
    padding: .5em 0;
    text-indent: .714em;
}

input.k-textbox,
.k-ff input.k-textbox
{
    height: 2.857em;
}

.k-button {
    line-height: 1.143em;
}

.k-button-icon {
    height: calc(1.143em + (2*@button-padding-y)); // ensure inline-flex height
    width: calc(1.143em + (2*@button-padding-y));
}

.k-mediaplayer-toolbar .k-button.k-bare {
    padding: .82em;
}

.k-tabstrip > .k-content,
.k-panelbar .k-tabstrip > .k-content
{
    margin: 0;
    border-width: 1px 0 0;
}

.k-tabstrip-left > .k-content,
.k-panelbar .k-tabstrip-left > .k-content
{
    border-width: 0 0 0 1px;
}

.k-tabstrip-right > .k-content,
.k-panelbar .k-tabstrip-right > .k-content
{
    border-width: 0 1px 0 0;
}

.k-tabstrip-bottom > .k-content,
.k-panelbar .k-tabstrip-bottom > .k-content
{
    border-width: 0 0 1px 0;
}

.k-panelbar > .k-item > .k-link,
.k-panel > .k-item > .k-link {
    line-height: 3em;
    padding-left: 2.4em;
}

.k-widget.k-tabstrip
{
    background-color: transparent;
    background-image: none;
    border-style: none;
    .box-shadow(none);
}

.k-tabstrip .k-tabstrip-items
{
    padding: 0;
}

.k-tabstrip > .k-button.k-bare {
    padding: 0;
    top: 0;
    height: auto;
}

.k-tabstrip-items .k-loading.k-complete {
    display:none;
}

.k-tabstrip-items .k-tab-on-top,
.k-tabstrip-items .k-state-active {
    margin-bottom: -2px;
    padding-bottom: 0;
}

.k-tabstrip-top > .k-tabstrip-items > .k-item {
    border-width: 0 0 4px 0;
    border-bottom-style: solid;
    margin: 0 1.8em 0 0;
}

.k-tabstrip-top > .k-tabstrip-items .k-link {
    padding: 0 0 .6em;
}

.k-tabstrip-left > .k-tabstrip-items > .k-item {
    border-width: 0 4px 0 0;
    border-right-style: solid;
    margin: 0 0 1.8em;
}

.k-tabstrip-left > .k-tabstrip-items .k-link {
    padding: 0 8px 0 0;
}

.k-tabstrip-right > .k-tabstrip-items > .k-item {
    border-width: 0 0 0 4px;
    border-left-style: solid;
    margin: 0 0 1.8em;
}

.k-tabstrip-right > .k-tabstrip-items .k-link {
    padding: 0 0 0 7px;
}

.k-tabstrip-bottom > .k-tabstrip-items > .k-item {
    border-width: 4px 0 0;
    border-top-style: solid;
    margin: 0 1.8em 0 0;
}

.k-tabstrip-bottom > .k-tabstrip-items .k-link {
    padding: .6em 0 0;
}

.k-slider-track
{
    border-width: 1px;
    border-style: solid;
}

.k-grouping-dropclue
{
    margin-top: 10px;
}

.k-grid-header th.k-header,
.k-filter-row th
{
    padding: .929em .6em .714em .6em;
}

.k-grid-header th.k-header
{
    padding-left: 1.286em;
}

.k-rtl .k-grid-header th.k-header
{
    padding-right: 1.286em;
}

.k-filtercell > span {
    padding-right: 5.714em;
}

.k-filtercell > span > .k-button {
    padding-left: .714em;
    padding-right: .714em;
    margin: 0;
}

.k-filter-row .k-dropdown-operator {
    width: 2.714em;
    right: 2.857em;
}

.k-grouping-header .k-group-indicator
{
    padding: .5em .15em .429em .4em;
}

.k-grid .k-grouping-row td {
    padding: .6em .6em 0.643em;
}

.k-grouping-header a,
.k-grouping-header .k-button
{
    vertical-align: baseline;
}

.k-grid td {
    padding: 0.929em 1.286em;
}

.k-grid-header th.k-header > .k-link
{
    padding: 0;
    margin: 0;
    min-height: 16px;
    line-height: inherit;
}

.k-grouping-header
{
    line-height: 2.6;
}

.k-grid tr td
{
    border-width: 1px 0 0 1px;
    border-style: solid;
}

.k-grid > table tr:first-child td,
.k-grid-content table tr:first-child td,
.k-grid-content-locked table tr:first-child td {
    border-top: 0;
}

.k-pager-numbers .k-state-selected {
    line-height: 2em;
    cursor: pointer;
}

.k-pager-numbers .k-link,
.k-pager-numbers .k-state-selected {
    border-width: 3px 0 0;
}

.k-pager-wrap {
    padding: 0;
    min-height: 52px;
}

.k-pager-wrap .k-link,
.k-pager-wrap .k-pager-numbers .k-state-selected,
.k-pager-sizes{
    padding: .571em 0 .571em 0.250em;
}

.k-pager-wrap > .k-link
{
    margin-top: .6em;
    padding: 0 0 0.250em 0.250em;
}

.k-pager-info {
    padding: .714em 1.333em .643em 1.333em;
}

.k-pager-wrap .k-pager-refresh {
    margin-right: 1.214em;
}

.k-pager-wrap .k-dropdown {
    width: 5.2em;
}

.k-dirty
{
    margin: -1.4em 0 0 -1.2em;
}

.k-autocomplete .k-i-loading,
.k-multiselect .k-i-loading
{
    bottom: 10px;
}

.k-dropdown-wrap,
.k-picker-wrap,
.k-numeric-wrap {
    padding: 0 2.571em 0 0;
}

span.k-combobox-clearable .k-input {
    height: 2.57em;
    padding-right: 2.571em;
}

.k-picker-wrap .k-select,
.k-numeric-wrap .k-select,
.k-dropdown-wrap .k-select
{
    width: 2.571em;
}

.k-datetimepicker {
    width: 19.5em;
}

.k-datetimepicker .k-select {
    width: 5em;
}

.k-datetimepicker .k-picker-wrap {
    padding-right: 5em;
}

.k-datetimepicker .k-picker-wrap .k-icon {
    margin: 0 6px;
}

.k-calendar .k-header {
    margin: 0 -5px;
}

.k-calendar td {
    padding: 0;
}

.k-calendar .k-content .k-link {
    min-height: 3.4em;
    line-height: 3.4em;
    padding: 0;
    text-align: center;
}

.k-calendar .k-century .k-link {
    text-align: left;
    padding: 0 .7em;
    line-height: 1.5em;
}

.k-calendar th {
    border-bottom-width: 0;
    padding: .714em .45em .714em 0;
    text-align: center;
}

.k-popup.k-list-container {
    padding: 0.286em 0;
}

.k-popup.k-calendar-containe {
    padding: 0;
}

.k-popup .k-list .k-item,
.k-popup > .k-group-header,
.k-fieldselector .k-list .k-item {
    min-height: 2.143em;
    line-height: 2.143em;
}

.k-calendar .k-header .k-link,
.k-calendar .k-footer {
    text-transform: uppercase;
}

.k-widget.k-calendar .k-nav-fast
{
    width: 65%;
    height: 2.571em;
    line-height: 2.571em;
    margin: 0.429em -0.08333em 0.429em 0;
}

.k-calendar .k-header .k-icon
{
    vertical-align: middle;
}

.k-widget.k-calendar .k-nav-prev,
.k-widget.k-calendar .k-nav-next
{
    position: absolute;
    top: 0.429em;
    line-height: 2.571em;
    height: 2.571em;
}

.k-calendar .k-header .k-link.k-nav-prev,
.k-calendar .k-header .k-link.k-nav-next
{
    height: 2.571em;
    width: 2.571em;
}

.k-widget.k-calendar .k-nav-prev {
    left: 0.429em;
}

.k-widget.k-calendar .k-nav-next {
    right: 0.429em;
}

.k-calendar .k-footer .k-nav-today,
.k-calendar .k-footer > .k-state-disabled
{
    padding: .6em 0 1.071em;
}

.k-popup.k-calendar-container {
    padding: 0;
}

.k-autocomplete-clearable .k-input,
.k-multiselect-clearable .k-input,
.k-combobox-clearable .k-input {
    height: 2.571em;
}

.k-combobox > .k-dropdown-wrap > .k-i-close {
    right: 3.4em;
}

.k-multiselect > .k-multiselect-wrap > .k-i-close {
    top: (@grid-size/2 + 2px);
}

.k-autocomplete > .k-i-close,
.k-multiselect > .k-multiselect-wrap > .k-i-close {
    margin-right: 10px;
}

.k-multiselect-wrap
{
    min-height: 2.714em;
}

.k-multiselect-wrap .k-input {
    height: @input-height;
}

.k-multiselect-wrap li {
    margin: 4px 0 4px 4px;
    padding: 0 1.8em 0 .857em;
}

.k-multiselect-wrap li span {
    margin-right: .3em;
}
.k-multiselect-wrap li span.k-icon {
    margin: 0;
}

.k-multiselect-wrap .k-select
{
    padding-top: 0;
}

.k-numeric-wrap .k-select {
    vertical-align: baseline;
}

.k-numerictextbox .k-link {
    display: block;
    height: ((@input-height + 0.38em) / 2);
}

.k-numerictextbox .k-link .k-i-arrow-60-up {
    vertical-align: bottom;
}

.k-numerictextbox .k-link .k-i-arrow-60-down {
    vertical-align: text-top;
}

.k-menu.k-header,
.k-menu .k-item,
.k-widget.k-menu-horizontal > .k-item {
    border-width: 0;
}

.k-context-menu.k-menu-vertical > .k-item > .k-link,
.k-menu .k-menu-group .k-item > .k-link
{
    padding: 0.786em 3em 0.786em 1.714em;
}

.k-menu .k-item > .k-link  > .k-i-arrow-60-right {
    right: 1rem;
}

.k-menu .k-item > .k-link > .k-icon
{
    margin-left: 2px;
}

table.k-editor {
    border-spacing: 0;
}

.k-editor.k-resizable .k-editable-area {
    padding-bottom: 20px;
}

.k-editor .k-editable-area .k-content {
    border-width: 1px 0 0;
}

.k-editor .k-editor-toolbar-wrap {
    padding-left: 10px;
}

.k-toolbar
{
    line-height: 3.42em;
}

.k-toolbar .k-button,
.k-toolbar .k-split-button,
.k-toolbar .k-button-group,
.k-toolbar .k-textbox
{
    line-height: 1.143em;
}

.k-toolbar label, .k-toolbar .k-separator
{
    line-height: 3.43em;
}

.k-toolbar .k-input {
    height: @input-height;
    line-height: @input-height;
    padding: 0.177em 0;
    text-indent: @input-indent;
    border: 0;
    margin: 0;
}

.k-overflow-container > li > .k-button,
.k-split-container > li > .k-button,
.k-toolbar .k-button-group .k-button
{
    border-width: 0;
}

.k-toolbar .k-split-button-arrow {
    height: calc(1.143em + 2*@button-padding-y + 2px);
}

.k-toolbar .k-overflow-anchor {
    line-height: inherit;
    height: 3.42em;
}

.k-button-group .k-tool {
    margin: 6px 0;
}

.k-editor-toolbar .k-tool,
.k-editor-toolbar .k-button-group .k-tool.k-group-end {
    border-width: 0;
}

.k-editor-toolbar .k-state-selected {
    font-weight: bold;
}

.k-draghandle
{
    border-width: 2px;
}

span.k-tooltip
{
    padding: 9px 17px;
}

.k-block > .k-header,
.k-window-titlebar {
    padding: 0.5em 0 0.571em;
}

.k-window-titlebar.k-header
{
    font-weight: bold;
}

.k-window-titlebar .k-window-actions {
    padding-top: 0.4em;
    right: 0.5em;
}

.k-file {
    padding: .643em .17em .643em 1em;
}

.k-upload-status {
    right: 12px;
}

.k-scheduler-table th {
    height:1.8em;
    padding-right: .625em;
    padding-left: .625em;
}

.k-scheduler-header th.k-scheduler-groupcolumn {
    width: 7.5em;
}

.k-scheduler-table td
{
    height:1.286em;
}

.k-scheduler .k-scheduler-times th
{
    text-align: left;
    padding-left: 1.6em;
}

.k-gantt-treelist .k-grid-header tr {
    height: 5.714em;
}

.k-gantt-timeline .k-grid-header tr {
    height: 2.857em;
}

.k-gantt .k-task-summary:before,
.k-gantt .k-task-summary-complete:before,
.k-gantt .k-task-summary:after,
.k-gantt .k-task-summary-complete:after {
    border-width: 0;
}

.k-gantt .k-grid-content tr,
.k-gantt-rows tr,
.k-gantt-tasks tr {
    height: 3.458em;
}

.k-gantt-edit-form > .k-edit-form-container {
    .k-textbox,
    .k-numerictextbox
    {
        width: 19.5em;
    }
}

.k-notification-wrap {
    padding: 1.786em;
}

.k-notification-wrap > .k-i-close {
    top: 21px;
}

.k-slider-track {
    border-width: 0;
}

.k-slider-horizontal .k-slider-track,
.k-slider-horizontal .k-slider-selection {
    height: 2px;
    margin-top: -1px;
}

.k-slider-vertical .k-slider-track,
.k-slider-vertical .k-slider-selection {
    width: 2px;
    margin-left: -1px;
}

.k-slider-horizontal .k-draghandle,
.k-flatcolorpicker .k-hue-slider .k-draghandle,
.k-flatcolorpicker .k-transparency-slider .k-draghandle
{
    width: 6px;
    height: 12px;
    top: -7px;
}

.k-slider-vertical .k-draghandle
{
    width: 12px;
    height: 6px;
    left: -7px;
}

.k-widget.k-slider .k-slider-buttons .k-button
{
    border-width: 0;
    background: transparent;
}

.k-widget.k-flatcolorpicker .k-hue-slider .k-draghandle {
    margin-top: -1px;
    box-shadow: none;
}

.k-colorpicker
{
    .k-picker-wrap {
        line-height: @input-height;
    }

    .k-selected-color {
        @selected-icon-height: 2.57142857em;
        height: @selected-icon-height;
        width: @selected-icon-height;
        .k-i-line {
            line-height: @selected-icon-height;
            font-size: @selected-icon-height;
        }
    }
}

/* PanelBar */
.k-panelbar-expand.k-icon,
.k-panelbar-collapse.k-icon {
    right: auto;
    left: 9px;
}

/* Grid */
.k-header.k-grid-toolbar {

}

.k-grouping-header,
.k-grid-toolbar {
    padding: 0.429em;
}

.k-grouping-header {
    padding-left: 1.286em;
}

.k-grid .k-icon {
    opacity: 0.45;
}


/* Scheduler */

.k-scheduler-footer .k-icon.k-i-clock {
    display: none;
}

.k-scheduler-toolbar > ul.k-scheduler-navigation > li
{
    border-width: 0;
}

.k-scheduler-toolbar .k-i-calendar
{
    display: none;
}

.k-scheduler-toolbar .k-nav-current > .k-link
{
    vertical-align: top;
}

.k-nav-current > .k-link span + span
{
    font-size: 1.2em;
    font-weight: bold;
    vertical-align: bottom;
    max-width: 22em;
}

.k-scheduler-toolbar .k-scheduler-views > li > .k-link,
.k-gantt-toolbar .k-gantt-views > li > .k-link
{
    padding: .2em 0 0;
}

.k-scheduler-toolbar .k-scheduler-views > li,
.k-gantt-toolbar .k-gantt-views > li
{
    margin: 0 .928em;
}

.k-scheduler-toolbar .k-nav-today .k-link
{
    padding-left: 0;
}

.k-rtl .k-scheduler-toolbar .k-nav-today .k-link
{
    padding-right: 0;
    padding-left: 1.1em;
}

.k-scheduler-header .k-slot-cell
{
    vertical-align: middle;
}

.k-scheduler-header tr + tr > th
{
    border-top-width: 1px;
}

.k-scheduler-monthview .k-scheduler-table td,
.k-scheduler-monthview .k-hidden
{
    height: 120px;
    text-align: left;
    font-size: 1.2em;
    font-weight: bold;
}

.k-gantt .k-gantt-toolbar,
.k-scheduler .k-scheduler-toolbar
{
    line-height: 2em;
}

.k-gantt-toolbar > ul.k-gantt-views > li,
.k-scheduler-toolbar > ul.k-scheduler-views > li {
    border-width: 0 0 3px 0;
    border-color: transparent;
}

.k-gantt-toolbar > ul > li:first-child + li,
.k-scheduler-toolbar > ul.k-scheduler-views > li:first-child + li {
    border-left-width: 0;
}

.k-gantt-toolbar li .k-link,
.k-scheduler-toolbar li .k-link {
    vertical-align: middle;
    line-height: 36px;
    padding-top: 2px;
}

.k-gantt-toolbar,
.k-scheduler-toolbar,
.k-scheduler-footer {
    line-height: 44px;
    vertical-align: middle;
}

.k-scheduler-footer {
    padding: 0;
}

.k-scheduler-toolbar {
    padding: 0 1.286em;
}

.k-gantt-toolbar
{
    padding: 0 1.286em 0 .528em;
}

.k-scheduler div.k-scheduler-footer ul li
{
    border-width: 0;
}

.k-gantt-actions
{
    margin: .2em 0;
}

.k-gantt-create
{
    padding: 8px 12px;
}

// Icons

.k-calendar .k-content td
{
    border-width: 1px 0 0 1px;
    border-style: solid;
}

.k-splitbar-horizontal-hover {
    .k-resize-handle {
        background-position: -165px -6px;
    }
}

.k-splitbar-vertical-hover {
    .k-resize-handle {
        background-position: -38px -309px;
    }
}

.k-grid-header .k-grid-filter,
.k-grid-header .k-header-column-menu {
    padding: .857em;
    margin: -.929em -.6em -.714em 0;
}

@checkbox-tick-icon-content: "\2714";
@checkbox-border-width: 2px;

@checkbox-size: 16px;

.k-checkbox-label,
.k-radio-label {
    line-height: 20px;
}

.k-checkbox:indeterminate + .k-checkbox-label:after {
    width: 6px;
    height: 6px;
    margin-left: 0;
    top: 5px;
    left: 5px;
    transform: none;
}

.k-radio:checked + .k-radio-label:after {
   top: 5px;
   left: 5px;
}

.k-radio-label:before {
   width: 16px;
   height: 16px;
}

.k-dropzone .k-upload-status
{
    top: 1.1em;
}

//RTL
.k-rtl .k-widget .k-dropdown-wrap,
.k-rtl .k-widget .k-picker-wrap,
.k-rtl .k-widget .k-numeric-wrap {
    padding-left: 2.5em;
}

.k-rtl .k-widget.k-autocomplete > .k-i-close,
.k-rtl .k-widget.k-multiselect > .k-multiselect-wrap > .k-i-close {
    left: 0;
    right: initial;
    margin-left: 10px;
    margin-right: 0;
}

.k-rtl .k-widget.k-combobox > .k-dropdown-wrap > .k-i-close {
    left: 3.4em;
    right: initial;
}

.k-rtl .k-widget.k-datetimepicker .k-picker-wrap {
    padding-left: 5em;
}

.k-rtl .k-widget.k-datetimepicker .k-picker-wrap .k-icon {
    margin: 0 6px;
}

.k-rtl .k-panelbar .k-panelbar-expand.k-icon,
.k-rtl .k-panelbar .k-panelbar-collapse.k-icon {
    left: auto;
    right: 9px;
}

.k-rtl .k-panelbar > .k-item > .k-link,
.k-rtl .k-panel > .k-item > .k-link {
    padding-left: 1em;
    padding-right: 2.4em;
}

.k-spreadsheet {
    .k-button-group .k-button {
        border-width: 1px;
    }

    .k-spreadsheet-sheets-bar {
        height: 36px;

        .k-button {
            padding: 5px;
        }

        .k-spreadsheet-sheets-remove {
            margin-left: 5px;
            padding-left: 5px;
            padding-right: 5px;
        }

        .k-tabstrip-items .k-item {
            background-color: transparent;
        }
    }

    .k-spreadsheet-quick-access-toolbar {
        .k-button {
            margin: 0 2px;
        }
    }

    .k-tabstrip-items  .k-link {
        padding-top: .4em;
    }
}

.k-spreadsheet-window {

    .k-edit-label,
    .k-edit-field {
        padding: 0;
        line-height: 4em;
    }

    .k-edit-label > label {
        vertical-align: middle;
    }

    .k-edit-field {
        .k-radio-label {
            padding-left: 1.75em;
        }

        > .k-radio-label:before,
        > .k-radio-label:after {
            margin-top: -4px;
        }
    }
}

div.k-spreadsheet-window {
    padding: 1em;
}

.k-editor-dialog.k-editor-table-wizard-dialog.k-window-content {
    min-width: 325px;
    width: 25.8em;
}

.k-editor-dialog.k-editor-table-wizard-dialog .k-tabstrip-wrapper .k-content {
    min-height: 510px;
    height: 42em;
}

.k-edit-label,
.k-edit-form-container .editor-label {
    padding: 0.8em 0 1em;
}

.k-editor-dialog .k-root-tabs {
    padding: 0 1em 0;
}

.k-editor-dialog.k-editor-table-wizard-dialog .k-dropdown.k-align {
    min-width: 59px;
}

.k-editor-dialog.k-editor-table-wizard-dialog .k-edit-field .k-textbox,
.k-editor-dialog.k-editor-table-wizard-dialog .k-edit-field .k-dropdown {
    width: 15.74em;
}

.k-editor-dialog.k-editor-table-wizard-dialog .k-edit-field .k-numerictextbox + .k-dropdown,
.k-editor-dialog.k-editor-table-wizard-dialog .k-dropdown.k-align {
    width: 4.7em;
}

.k-animation-container .k-popup.k-align .k-list .k-icon {
    line-height: 1.4em;
}

.k-animation-container .k-popup.k-align .k-list .k-i-align-remove {
    line-height: 1.6em;
}

.k-editor-dialog.k-editor-table-wizard-dialog .k-edit-buttons {
    border: 0;
    padding: 1em 1.3em;
}

.k-editor-dialog.k-editor-table-wizard-dialog .k-edit-buttons {
    padding: 0.6em 1.3em;
}

.k-grid {
    .k-edit-cell {
        input[type='checkbox'],
        input.k-checkbox {
            margin-left: calc(1em + 4px);

            + label.k-checkbox-label {
                margin-left: 1em;
            }
        }
    }
}

// RTL
.k-rtl {
    span.k-combobox-clearable .k-input {
        padding-left: 2.571em;
        padding-right: 0;
    }

}
