﻿.alertify {
    border-bottom: none;
    border-right: none;
    border-left: none;
    border-top: 25px solid #3dae4a;
    border-radius: 0px;
    box-shadow: 3px 3px 3px rgba(0,0,0,.7);
    top: 45%;
}

    .alertify .ajs-body, .alertify .ajs-body p {
        color: #9a9e99;
    }

.alertify-dialog, .ajs-dialog {
    border-bottom: 1px solid #f5f5f5;
    border-right: 1px solid #f5f5f5;
    border-left: 1px solid #f5f5f5;
}

.alertify-message, ajs -message {
    font-weight: 300;
    color: #9a9f9a;
}

.alertify-text, .alertify-message, .ajs-text, .ajs-message {
    margin-bottom: 15px;
}

.alertify-text, .ajs-text {
    border-radius: 0px;
    padding: 5px;
}

.alertify-button-ok, .alertify-button, .alertify-button:active, .alertify-button:focus,
.alertify-button-ok:active, .alertify-button-ok:focus .ajs-button.ajs-ok, .ajs-button, .ajs-button:active, .ajs-button:focus,
.ajs-button.ajs-ok:active, .ajs-button.ajs-ok:focus {
    background-image: url(/Images/savegrey.png);
    box-shadow: none !important;
}

    .alertify-button-cancel, .alertify-button-cancel:hover, .alertify-button-cancel:focus,
    .alertify-button-ok, .alertify-button-ok:hover, .alertify-button:active, .alertify-button:focus,
    .ajs-button.ajs-cancel, .ajs-button.ajs-cancel:hover, .ajs-button.ajs-cancel:focus,
    .ajs-button.ajs-ok, .ajs-button.ajs-ok:hover, .ajs-button:active, .ajs-button:focus {
        background-size: contain;
        background-repeat: no-repeat;
        border: none;
        background-color: transparent;
        height: 25px;
    }

        .alertify-button-ok:hover, .ajs-button.ajs-ok:hover {
            background-image: url(/Images/savegreen.png);
        }

    .alertify-button:active, .ajs-button:active {
        box-shadow: none;
    }

    .alertify-button-cancel, .ajs-button.ajs-cancel {
        margin-right: 2em;
    }

    .alertify-button-cancel, .ajs-button.ajs-cancel {
        background-image: url(/Images/icon_cancel2.gif);
    }

        .alertify-button-cancel:hover, .alertify-button-cancel:focus, .ajs-button.ajs-cancel:hover, .ajs-button.ajs-cancel:focus {
            background-image: url(/Images/icon_cancel2_hover.gif);
        }


.alertify .ajs-footer .ajs-buttons .ajs-button {
    min-width: 25px;
    min-height: 25px;
}

.alertify.ajs-closable .ajs-commands button.ajs-close {
    padding-bottom: 5px;
}

.alertify-log, ajs-log {
    text-shadow: none;
}

.alertify .ajs-commands {
    margin: -20px 4px 0 0;
}
