﻿.modal {
}

.vertical-alignment-helper {
    display: table;
    height: 100%;
    width: 100%;
}

.vertical-align-center {
    /* To center vertically */
    display: table-cell;
    vertical-align: middle;
}

.modal-content {
    /* Bootstrap sets the size of the modal in the modal-dialog class, we need to inherit it */
    width: inherit;
    height: inherit;
    /* To center horizontally */
    margin: 0 auto;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    border-radius: 0px;
}

.modal .row{
    padding:10px;
}

.modal-body .row:last-child
{
    margin-bottom:0px;
}

.modal .contain {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.modal-footer
{
    margin-top:0px;
}

.modal label
{
    padding-top:10px;
}
.CloseModalOnClick {
      
}
/*modalCategory*/
#modalCategory .modal-footer{
    border-top:0 !important;
}

#modalCategory #detailHeader{
    padding:0 !important;
}

#modalCategory #detailContainer{
    padding:0 !important;
}
.CodeValidation{
    color:red;
}

.modal-content .container{
       max-width:100%; 
}