﻿.detail-content {
    padding: 20px;
    float: left;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width:100%;
}

.form-horizontal .control-label {
    text-align: left; /*overriding default bootstrap right alignment*/
}

.form-control {
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    border-radius: 0px;
    padding:4px 5px;
}

.form-horizontal .radio{
    margin:10px 10px 10px 0px;
}

.form-horizontal .radioLabel{
    margin-top:8px;
    margin-right:10px;
    color:#000000;
}

.btn {
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    border-radius: 0px;
}

.detailContainerContentTabBar .k-state-active
{
    border-style:none;
}

/*** PIVOT TABLE ***/
#pivotConfigurator .k-floatwrap
{
    color:black;
}

#pivotConfigurator .k-state-default {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

#pivotConfigurator .k-treeview, #pivotConfigurator p
{
    color:black;
    text-align:left;
}

#pivotConfigurator .k-state-hover
{
    color:white;
}

#pivotConfigurator
{
    width:100%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.modal-custom {
    width: 45%;
    margin-left: -22.5%;
}
.active_picking, .active_customerreturn {
    background-color: #3dae4a!important;
    color: #fff;
}
.ware_customer {
    height: 26px;
    border: none;
}
.no-scrollbar .k-grid-header
{
padding: 0 !important;
}

.no-scrollbar .k-grid-content
{
overflow-y: visible;
}

textarea.customer_comment_rdonly {
    width: 100%;
}
.k-grid-custom-delete span {
  display:none;
}
.hdnPrintLink
{
    display:none;
}
.customGrid_checkBox{
    padding-left: 5px;
    padding-right: 5px;
  
    width: 16px !important;
    height: 16px !important;
}