﻿.k-panelbar > li.k-state-default > .k-link, .k-tabstrip-items .k-state-default .k-link {
    color: #555;
}

.k-filtercell>span{
    padding-right:28px;
}

.k-filter-row .k-dropdown-operator
{
    right:0;
}

.k-filtercell>span>.k-button, .k-filter-row .k-dropdown-operator
{
    margin:0;
}

.k-grid table tr
{
    cursor: pointer !important;
}

k-grid a:focus {
    color: #5692b1;
}

.k-grid-content {
    height: 90%;
}

.k-treelist .k-grid-content
{
    height:auto!important;
    overflow-y:visible;
}

.k-tabstrip>.k-content, .k-panelbar .k-tabstrip>.k-content
{
    margin:0;
    padding:0;
}

.k-grid-header .k-header>.k-link, .k-header, .k-treemap-title
{
    color:#fff;
}

.k-tabstrip .k-content
{
    height:96%;
    width:100%;
}

#categorytreelist .k-grid-header
{
    padding-right:0px !important;
}

.detailContainerContentTabBar>.k-content
{
    overflow:hidden;
}

.k-grid-header:first-child th.k-header:first-child, thead.k-grid-header th.k-header:first-child, .k-rtl thead.k-grid-header th.k-header:last-child {

    border-radius:0;

}

.k-grid {

    border-radius:0;
    height: 100% !important;
    border:none;

}

.k-grid tr td{

    border:none;

}

.k-tabstrip-items .k-item, .k-panelbar .k-tabstrip-items .k-item{
    margin:0;
}

.k-grid-Delete,.k-grid-Delete:hover, k-grid-Delete:active,k-grid-Delete:visited{
    float:right !important;
    border: none !important;
    box-shadow: none !important;
}
.k-grid-Delete,.k-grid-Delete:focus,.k-grid-Delete:active,.k-grid-Delete:visited,.k-grid-Delete:focus:not(.k-state-disabled):not([disabled]) {
    background: url('/Images/deletegrey1.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 20px;
    height: 20px;
    color: transparent;
    min-width: 20px !important;
    transition: all .2s ease-in-out; 
}

.k-grid-Cancel{
    background: url('/Images/icon_cancel.gif');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 20px;
    height: 20px;
    color: transparent;
    min-width: 20px !important;
    transition: all .2s ease-in-out;

}

.k-grid-Cancel:hover, .k-grid-Cancel:focus {
    background: url('/Images/icon_cancel2_hover.gif');
    transform: scale(1.1);
}

.k-grid-Delete:hover /*.k-grid-Delete:focus*/ {
    background: url('/Images/deletered1.png') !important;
    background-size: contain !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
    width: 20px !important;
    height: 20px !important;
    color: transparent !important;
    min-width: 20px !important;
    transform: scale(1.1);
}

.k-grid-add, .k-grid-add:hover,.addRow {
    background: url('/Images/addwhite.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 25px;
    min-width:25px!important;
    max-width:25px!important;
    height: 25px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border:none;
}


.k-grid-add:hover
{
    background-color:none!important;
}

.addRow {
    background: url('/Images/addwhite.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 25px;
    min-width:25px!important;
    max-width:25px!important;
    height: 25px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border:none;
    display:block;
    cursor:pointer;
}

.k-filter-row th {
    padding: .5em .4em .4em .4em;
}

.k-autocomplete.k-state-default, .k-dropdown-wrap.k-state-default, .k-multiselect.k-header, .k-numeric-wrap.k-state-default, .k-picker-wrap.k-state-default
{
    border:none;
}

.k-autocomplete .k-input, .k-dropdown-wrap .k-input, .k-picker-wrap .k-input, .k-selectbox .k-input, .k-textbox>input{
    height:32px;
}
/* in comment for height of numeric text field in input detail line 
.k-numeric-wrap .k-input{
    height:31px;
}
    */

input.k-textbox,textarea{
    text-indent:.4em;
}

.k-tooltip{
    text-align:left;
}

/*Error labels*/
.k-tooltip-validation .k-warning
{
     margin-top: 2px;
    color: red;
}
.k-widget.k-tooltip-validation
{
    background-color: transparent;
    border: none;
    color: red;
}


.k-filtercell>span>label{
    color:white;
    margin-right:5px;
}

.k-filtercell>span>label>input[type='radio']
{
    border-color:white;
    margin-left:5px;
}

.k-grid table tr.invoiceready {
    background-color: #ffccd6;
}

.k-grid table tr.invoiceready.k-state-selected {
    background-color: #93d451;
}

.k-grid table tr.invoiceready:hover {
    background-color: #ebebeb;
}