﻿.k-datetimepicker .k-select + .k-select, .k-dropdown-wrap .k-select, .k-list-container.k-state-border-right, .k-numeric-wrap .k-select, .k-picker-wrap .k-select {
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    border-radius: 0px;
}

.k-autocomplete, .k-block, .k-button, .k-calendar .k-link, .k-calendar td, .k-calendar-container, .k-colorpicker, .k-combobox, .k-datepicker, .k-datetimepicker, .k-drag-clue, .k-dropdown, .k-dropdown-wrap, .k-editor-inline, .k-grid .k-filter-options, .k-grouping-header .k-group-indicator, .k-inline-block, .k-list-container, .k-multiselect, .k-notification, .k-numeric-wrap, .k-numerictextbox, .k-picker-wrap, .k-slider-selection, .k-slider-track, .k-split-button, .k-textbox, .k-tile, .k-timepicker, .k-tooltip, .k-touch-scrollbar, .k-treeview .k-in, .k-upload, .k-window, .k-window-action, .k-window-titleless .k-window-content
{
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    border-radius: 0px;
}

.k-animation-container{
    padding-left:0px!important;
    margin-left:0px!important;
}

.k-editor, .k-grid, .k-menu, .k-scheduler {
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    border-radius: 0px;
}

.k-tabstrip:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
}

.k-autocomplete.k-state-border-down, .k-block > .k-header, .k-calendar-container.k-state-border-down, .k-dropdown-wrap.k-state-border-down, .k-list-container.k-state-border-down, .k-multiselect.k-state-border-down, .k-numeric-wrap.k-state-border-down, .k-panelbar .k-tabstrip-items .k-item, .k-picker-wrap.k-state-border-down, .k-tabstrip-items .k-item, .k-tabstrip-items .k-link, .k-window-titlebar {
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    border-radius: 0px;
}

.k-panelbar>li.k-state-default>.k-link, .k-tabstrip-items .k-state-default .k-link
{
    color:black;
}

.k-dropdown-wrap .k-input, .k-numeric-wrap .k-input, .k-picker-wrap .k-input {
    -moz-border-radius: 0px!important;
    -webkit-border-radius: 0px!important;
    border-radius: 0px!important;
}

.k-button {
    display: inline-block;
}

th.k-header .sagittaPlus {
    text-align: right;
}

th.k-header .sagittaPlus svg {
    width: 1.3em;
    height:auto;
}

th.k-header:last-child a {
    padding-right: 7px;
}