﻿.k-panelbar > li.k-state-default > .k-link, .k-tabstrip-items .k-state-default .k-link {
    color: #555;
}

.k-filtercell>span{
    padding-right:4.5em;
}

.k-filter-row .k-dropdown-operator
{
    right:2.5em;
}

.k-filtercell>span>.k-button, .k-filter-row .k-dropdown-operator
{
    margin:0;
}

.k-grid table tr
{
    cursor: pointer !important;
}

.k-grid-content {
    height: 90%;
}

.k-treelist .k-grid-content {
    height: auto !important;
    overflow-y: visible;
}
.k-tabstrip>.k-content, .k-panelbar .k-tabstrip>.k-content
{
    margin:0;
    padding:0;
}

.k-grid-header .k-header > .k-link, .k-header, .k-treemap-title {
    color: black;
    padding: 0;
}

.k-tabstrip .k-content
{
    height:96%;
    width:100%;
}

#categorytreelist .k-grid-header
{
    padding-right:0px !important;
}

.detailContainerContentTabBar>.k-content
{
    overflow:hidden;
}

.k-grid-header:first-child th.k-header:first-child, thead.k-grid-header th.k-header:first-child, .k-rtl thead.k-grid-header th.k-header:last-child {
    border-radius: 0;
}

/*
th.k-header:last-child {
    text-align: center;
}
*/

.k-grid {
    border-radius: 0;
    /*height: 100% !important;*/
    height: 100%;
    border: none;
}


.k-grid tr td{

    border:none;
}


.k-tabstrip-items .k-item, .k-panelbar .k-tabstrip-items .k-item{
    margin:0;
}

.k-grid-Delete, .k-grid-Delete:hover, .k-grid-Delete:active, .k-grid-Delete:visited {
    float: right !important;
    border: none !important;
    box-shadow: none !important;
    background: transparent;
}

.k-grid-delete, .k-grid-delete:hover, .k-grid-delete:active, .k-grid-delete:visited {
    text-align: center !important;
    border: none !important;
    box-shadow: none !important;
    background: transparent;
}

.k-grid-Cancel{
    background: url('/Images/icon_cancel.gif');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 20px;
    height: 20px;
    color: transparent;
    min-width: 20px !important;
    transition: all .2s ease-in-out;

}

.k-grid-Cancel:hover, .k-grid-Cancel:focus {
    background: url('/Images/icon_cancel2_hover.gif');
    transform: scale(1.1);
}


.k-grid-add, .k-grid-add:hover {
    /*
    background: url('/Images/addwhite.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 25px;
    min-width:25px!important;
    max-width:25px!important;
    height: 25px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border:none;
    */
}

.addRow {
    background: url('/Images/addwhite.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 25px;
    min-width: 25px !important;
    max-width: 25px !important;
    height: 25px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: none;
}


.k-grid-add:hover {
    /*
    background-color:none!important;
    */
    background-color: #5c6dc4;
    border-color: #5c6dc4;
    text-decoration: none;
    outline: 0;
}

.addRow {
    background: url('/Images/addwhite.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 25px;
    min-width:25px!important;
    max-width:25px!important;
    height: 25px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border:none;
    display:block;
    cursor:pointer;
}

.k-filter-row th {
    padding: .4em 0em .4em .4em;
}


/*.k-autocomplete.k-state-default, .k-dropdown-wrap.k-state-default, .k-multiselect.k-header, .k-numeric-wrap.k-state-default, .k-picker-wrap.k-state-default
{
    border:none;
}*/

 .k-combobox .k-dropdown-wrap .k-input, .k-numerictextbox .k-numeric-wrap, .form-control .k-picker-wrap .k-input
 {
     height:32px;
 }


.k-numerictextbox .k-input,.k-autocomplete .k-input, .k-dropdown-wrap .k-input, .k-picker-wrap .k-input, .k-selectbox .k-input, .k-textbox>input{
    /*height:32px;*/
}
/* in comment for height of numeric text field in input detail line 
.k-numeric-wrap .k-input{
    height:31px;
}
    */

input.k-textbox,textarea{
    text-indent:.4em;
}

.k-tooltip{
    text-align:left;
}

/*Error labels*/
.k-tooltip-validation .k-warning
{
     margin-top: 2px;
    color: red;
}
.k-widget.k-tooltip-validation
{
    background-color: transparent;
    border: none;
    color: red;
}

.k-tooltip-validation-static .k-widget.k-tooltip-validation {
    position: static;
}
.k-tooltip-validation-static .k-edit-field > span.k-widget {
    background-color: transparent;
}

.k-invalid-msg {
    background-color: #fbeed5 !important;
}

/*Kendo tooltip*/
.k-widget.k-tooltip {
    margin-top: 10px;
}

.k-filtercell>span>label{
    color:white;
    margin-right:5px;
}

.k-filtercell>span>label>input[type='radio']
{
    border-color:white;
    margin-left:5px;
}

.k-grid table tr.invoiceready {
    background-color: #ffccd6;
}

.k-grid table tr.invoiceready.k-state-selected {
    background-color: #93d451;
}

.k-grid table tr.invoiceready:hover {
    background-color: #ebebeb;
}

.k-button-icon {
    height: 100%;
}
.k-pager-numbers .k-link, .k-pager-wrap {
    line-height:2.3em;
    height: 2.3em;
}

.k-popup-message {
    color: #333;
}

.k-edit-field .k-check {
    margin-left: 5px;
}

.k-edit-field .k-recur-count, .k-edit-field .k-recur-interval, .k-edit-field .k-reset label > input {
    margin-right: 5px;
}


@media only screen and (max-width: 1024px) {
    .k-ff .k-grid .k-pager-numbers, .k-ff .k-pager-numbers, .k-ie11 .k-grid .k-pager-numbers, .k-ie11 .k-pager-numbers, .k-safari .k-grid .k-pager-numbers, .k-safari .k-pager-numbers, .k-webkit .k-grid .k-pager-numbers, .k-webkit .k-pager-numbers {
        margin-left: 0.85em;
    }
}

/*Style for main tabstrip, background; selected: darkgreen (#3dae4a); on hover: lighter green (#93d451), both with white text-color
    other tabs: white background, black text-color
    NB: add css class .tabstrip-main to UL to apply this style
*/



.k-panelbar > .tabstrip-main li.k-state-default > .k-link, .tabstrip-main.k-tabstrip-items .k-state-default.k-state-hover .k-link {
    color: white ;
}
.k-panelbar > .tabstrip-main li.k-state-default > .k-link, .tabstrip-main.k-tabstrip-items .k-state-default.k-state-active .k-link {
    color: white;
}