﻿/*
    Scrollbar
*/

::-webkit-scrollbar {
    width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px inherit;
    background-color: #dbdbdb;
}



/* Bootstrap */

.row {
    background-color: #fafafa;
    margin-bottom: 25px;
    margin-right: 0px;
    margin-left: 0px;
}

.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    padding: 0;
}

.form-group {
    margin-left: 12px !important;
    margin-right: 12px !important;
    margin-bottom: 12px;
}

.lineDetails .form-group {
    margin-bottom: 0px !important;
}

.lineDetails {
    padding-bottom: 12px;
}

label {
    font-weight: normal;
}

#customergrid {
    height: 100% !important;
}

/* wrappers / containers */
.container {
    padding-right: 0px;
    padding-left: 0px;
}

.contentwrapper {
    width: 100%;
    min-height: 100%;
    display: block;
    background: url('/images/background1.jpg') center no-repeat;
    background-size: cover;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.scrollContainer {
    overflow-y: auto;
    height: 100%;
}

.wrapper {
    padding-top: 50px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

/* Detail wrapper*/
.detailWrapper {
    position: relative;
    left: 15%;
    width: 85%;
    height: 100%;
}

/* Header */
header {
    /*margin-top: -35px;*/
    height: 40px;
    background-color: #2d1201;
    opacity: 0.85;
    width: 100%;
    padding-left: 50px;
    padding-right: 50px;
}

.headerLeft {
    display: block;
    float: left;
}

.headerRight {
    display: block;
    height: 100%;
    float: right;
}

/*
    -----------------------------------------------------------------
    |   _________________________________________________________   |
    |  |Row __________________________                           |  |
    |  |   | col                      |                          |  |
    |  |   |                          |                          |  |
    |  |   |                          |            ____________  |  |
    |  |   |__________________________|           |____Btn_____| |  |
    |  |_________________________________________________________|  |
    |                                                               |
    -----------------------------------------------------------------


*/

@media (min-width: 768px ) {
    .row {
        position: relative;
        margin-bottom: 5px;
    }

    .preLoader, .addDetailLine, .editPurchaseOrderLine {
        position: absolute;
        bottom: 0px;
        right: 5px;
        margin-bottom: 13px;
    }
}


#detail {
    width: 100%;
    height: 100%;
    min-height: 100%;
    display: block;
    padding-top: 50px;
}

#customername {
    position: absolute;
    bottom: 0;
    right: 0;
    margin-right: 15px;
    margin-bottom: 8px;
    color: white;
    font-size: medium;
}

#vayamundologo {
    display: block;
    float: left;
    height: 100%;
    margin-right: 30px;
}

    #vayamundologo h3 {
        font-size: 28px;
        padding: 0;
    }


#shortlinksGeneral {
    display: block;
    float: right;
    height: 100%;
}

#shortlinksLanguage {
    display: block;
    width: 100%;
    height: 100%;
    float: right;
}

#shortlinksMenu {
    display: block;
    float: left;
    height: 100%;
}

#shortlinksLoginMenu {
    width: 50%;
    display: block;
    float: right;
    height: 100%;
}

#shortlinksGeneral button, #shortlinksMenu button {
    margin-top: 8px;
}

.topMenuItemIcon {
    background: url('/images/downwhite.png');
    height: 30px;
    width: 30px;
    background-repeat: no-repeat;
}

#openMenuIcon {
    height: 40px;
    width: 40px;
    display: block;
    margin: 0 !important;
    padding: 0 !important;
}

    #openMenuIcon:hover {
        color: #5692b1 !important;
    }

button svg {
    height: 100% !important;
    width: 100% !important;
    display: block;
    padding: 4px;
}


#mainMenuIcon {
    height: 40px;
    width: 40px;
    display: block;
    margin: 0 !important;
    padding: 0 !important;
}

    #mainMenuIcon:hover {
        color: #5692b1 !important;
    }

#logoutIcon {
    height: 40px;
    width: 40px;
    display: block;
    margin: 0 !important;
    padding: 0 !important;
}

    #logoutIcon:hover {
        color: #5692b1 !important;
    }

/*#openLeftMenuIcon {

    background:url('/images/leftmenuopenwhite.png');
    height: 25px;
    width: 24px;
    background-size: cover;
    background-position:center;

}

#openLeftMenuIcon:hover {

    background:url('/images/leftmenuopen.png') !important;
    background-size: cover !important;
    background-position:center !important;
}*/

#openProfileIcon {
    background: url('/images/profile1.png');
    border-radius: 50%;
    height: 30px;
    width: 30px;
    display: block;
    margin: 5px !important;
    padding: 0 !important;
    background-size: cover;
    background-position: center;
}

.verticalLine {
    display: inline-block;
    width: 2px;
    height: 30px;
    border-left: 2px solid white;
    float: right;
    margin-top: 10px;
}

/* download and export buttons */
#exportButton2, #importButton {
    margin-top: 0px;
}
/* Detail */

/* Detail header */
.orderHeader {
    border-bottom: 1px solid #3dae4a;
    padding: 6px;
    margin-bottom: 4px;
    line-height: 32px;
}

    .orderHeader h3 {
        vertical-align: bottom;
        font-size: 24px;
        font-weight: bold;
        color: #3dae4a;
        display: inline-block;
        margin: 0 10px 0 0;
    }

    .orderHeader span {
        display: inline-block;
        color: #fff;
        padding: 5px;
        margin: 0 10px 0 0;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
        padding: 0px 5px;
    }

.cf:before,
.cf:after {
    content: " ";
    display: table;
}

.cf:after {
    clear: both;
}
/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
    padding-top: 0px;
}

#detailContainer {
    width: 100%;
    height: 94%;
    background-color: white;
    overflow: hidden;
    display: block;
    float: left;
    padding: 1%;
}

    #detailContainer form {
        height: 100%;
    }

/*** MVC 5 ***/
/*#detailContainer form{
    height:auto;
}*/

.detailContainerContentDetails {
    width: 100%;
    height: 100%;
    background-color: white;
    display: block;
    float: left;
    /* margin: 1% 0px 0px !important;*/
    padding: 0px !important;
    overflow-x: hidden !important;
    overflow-y: hidden !important;
}

/* enables scrollbars to content */
.detailContainerContentDetailsScrollable {
    width: 100%;
    height: 100%;
    background-color: white;
    display: block;
    float: left;
    margin: 3px 0px 0px 0px !important;
    padding: 0px 5px 0px 0px !important;
    overflow-y: auto !important;
    overflow-x: hidden !important;
}

.scrollableContent {
    overflow-y: auto !important;
    overflow-x: hidden;
}

.scrollableDeliverySearchResults {
    overflow-y: auto !important;
    overflow-x: hidden;
}

.scrollablePickListSearchResults {
    overflow-y: auto !important;
    overflow-x: hidden;
}

.scrollableLeftColumnList {
    overflow-y: auto !important;
    display: block;
}

.detailContainerContent {
    width: 100%;
    min-height: 90%;
    height: 100%;
    background-color: white;
    display: block;
    float: left;
}

#detailView {
    width: 100%;
    height: 100%;
    /*margin-left:2.6%;
    margin-right:2.6%;
    margin-bottom:auto;
    margin-top:50px;*/
    display: block;
    box-shadow: 3px 3px 10px rgba(0,0,0,0.5);
}

#detailViewWrapper {
    width: 100%;
    height: 100%;
    display: block;
    padding: 4% 2% 2% 2%;
    margin-top: -40px;
}


#transparentBlock {
    display: block;
    width: 50px;
    height: 100%;
    background: transparent;
    float: left;
    display: none;
}

#detailHeader {
    display: table;
    height: 6%;
    width: 100%;
    float: left;
    padding-left: 1%;
    padding-right: 1%;
    vertical-align: middle;
}

#listControl {
    display: table-cell;
    vertical-align: middle;
    text-align: right;
}

.detailHeaderBreadcrumbs {
    display: table-cell;
    font-family: "Open Sans";
    font-size: x-large;
    margin: 0;
    vertical-align: middle;
}

    .detailHeaderBreadcrumbs li {
        display: table-cell;
    }

        .detailHeaderBreadcrumbs li:last-child a {
            font-size: large;
        }

        .detailHeaderBreadcrumbs li:only-child a, .detailHeaderBreadcrumbs li:first-child a, .detailHeaderBreadcrumbs li a {
            color: white;
            font-size: x-large;
            padding-right: 6px;
        }

    .detailHeaderBreadcrumbs a {
        color: white;
    }

        .detailHeaderBreadcrumbs a:hover {
            text-decoration: none;
        }

.form-control {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

#customerForm {
    display: block;
    width: 100%;
    height: 85%;
    float: left;
}

.k-alt, .k-separator, .k-resource.k-alt, .k-pivot-layout > tbody > tr:first-child > td:first-child {
    border: none;
}

.k-grid-header th.k-header {
    vertical-align: bottom;
    border: none;
}

#customergrid .k-grid-header, #invoicegrid .k-grid-header, #suppliergrid .k-grid-header, #productsgrid .k-grid-header, #paymentmethodgrid .k-grid-header, #stockarticlesgrid .k-grid-header {
    padding: 0 !important;
}

#customergrid .k-grid-content, #invoicegrid .k-grid-content, #suppliergrid .k-grid-content, #productsgrid .k-grid-content, #paymentmethodgrid .k-grid-content, #stockarticlesgrid .k-grid-content {
    overflow-y: visible;
}

.detailContainerContent thead tr th {
    border: none;
}

    .detailContainerContent thead tr th a {
        color: white !important;
        border: none;
    }

.detailContainerContent thead .k-filter-row th {
    border: none;
}

.detailContainerContent thead tr th:last-child {
    padding-right: 5.6px;
}

.k-pager-wrap {
    border-top: none;
}

    .k-pager-wrap .k-link {
        border-top: 1px solid #dbdbdb;
        border-right: 1px solid #dbdbdb;
    }

.k-input {
    border-top: 1px solid #dbdbdb;
}

    .k-input:focus {
        outline: none;
    }

.k-autocomplete.k-state-hover, .k-picker-wrap.k-state-hover, .k-numeric-wrap.k-state-hover, .k-dropdown-wrap.k-state-hover {
    background-image: none;
    border-color: #dbdbdb;
}

/* Colors */

.greenBackground {
    background-color: #3dae4a;
}

/* Left Menu CSS */

#leftMenu {
    width: 12.5%;
    height: 100%;
    min-height: 100%;
    background-color: white;
    opacity: 0.85;
    float: left;
    display: none;
    box-shadow: 3px 3px 10px rgba(0,0,0,0.5);
}

    #leftMenu li {
        list-style: none;
    }

    #leftMenu ul li:after {
        content: "";
        display: block;
        height: 1px;
        width: 90%;
        margin-left: 5%;
        background: #9a9e99;
    }

/* Top Menu CSS */

#topMenu {
}

#topMenuNavigation li:after {
    content: "";
    display: block;
    height: 1px;
    width: 90%;
    margin-left: 5%;
    background: #9a9e99;
}

#topMenuNavigation li:last-child:after {
    content: "";
    background: none;
}

/* Header Menu CSS*/

.headerMenu {
    width: 100%;
    height: 50px;
    display: block;
    position: fixed;
    background-color: black;
}

.miniMenuStyle {
    display: block;
    width: 25%;
    float: left;
    background-color: transparent;
    border: none;
    color: white;
    margin-left: 10px;
    border-radius: 0px;
}

    .miniMenuStyle:focus {
        box-shadow: none !important;
    }

    .miniMenuStyle:hover {
        cursor: pointer;
    }

label input[type=checkbox] {
    margin-right: 5px;
}

.leftColumn, .rightColumn {
    background-color: #fafafa;
    /*padding:5px !important;*/
}

#rightColumnAddOrder {
    background-color: transparent;
}

.leftColumn .row {
    margin-bottom: 0px;
}

    .leftColumn .row .col-xs-12 {
        margin: 0;
    }

.leftColumn h4 {
    margin-left: 0px;
}

.leftColumn .last {
    margin-bottom: 0px;
    padding-bottom: 10px;
}

.scrollingColumn {
    height: 100%;
    overflow-y: auto;
}
/* SEARCH BUTTON */

.searchButton {
}

.searchButtonAbsolute {
    position: absolute;
    top: 30px;
    right: 15px;
}

/* CONTEXT MENU */

.printContextMenu {
    width: 220px !important;
    color: #333 !important;
}

.printContextSalesOrderMenu {
    width: 330px !important;
    color: #333 !important;
}

/* ORDER SCREEN*/

.calculateLinesContainerSize {
    overflow: auto;
}

.rightColumnOrder row {
    margin-bottom: 5px;
}

.rightColumnOrder {
    padding-left: 5px;
}


.maintenanceOrderLines {
    height: 350px;
}

#ServiceOrderLineGrid {
    max-height: 295px !important;
    height: auto !important;
}

/* STOCK SUMMARY */
.amountStock, .amountOnOrder, .amountReserved, .amountAvailable {
    line-height: 2.5em;
}

.bgGreen {
    background-color: #3dae4a;
}

.bgOrange {
    background-color: #FFA500;
}

.orderSub {
    float: right;
}

.showBtn {
    margin-left: 4px;
    width: 33px;
    height: 34px;
}
/* LINK BUTTONS */
.linkButton {
    font-size: 25px;
    color: #aeaeae;
}

    .linkButton:focus {
        color: #5692b1;
    }

.linkContainer {
    text-align: center;
}


/*
    Constants ALWAYS KEEP THIS SECTION AT THE BOTTOM
*/

.per95Height {
    height: 95% !important;
}

.per5Height {
    height: 5% !important;
}

.hide {
    display: none !important;
}

.invisible {
    visibility: hidden;
}

.redBackGround {
    background-color: #ff0032 !important;
}

.orangeBackGround {
    background-color: #ffa826 !important;
}

.yellowBackGround {
    background-color: #ffd900 !important;
}

.greenBackGround {
    background-color: #11f508 !important;
}

.blueBackGround {
    background-color: #0000FF !important;
}

.noPadding {
    padding: 0 !important;
}

.noMargin {
    margin: 0 !important;
}

.padding_3_perc {
    padding: 3% !important;
}

.marginTop5 {
    margin-top: 5px;
}

.marginTop15 {
    margin-top: 15px;
}

.marginRight5 {
    margin-right: 5px;
}

.marginRight10 {
    margin-right: 10px;
}

.marginLeft5 {
    margin-left: 5px !important;
}

.marginLeft15 {
    margin-left: 15px !important;
}

.noMarginRight {
    margin-right: 0px;
}

.padding_top_5 {
    padding-top: 5px;
}

.padding_right_10 {
    padding-right: 10px !important;
}

.padding_left_10 {
    padding-left: 10px !important;
}

.padding_top_12 {
    padding-top: 12px;
}

/* min resolution = ipad pro */
html, body, .contentwrapper {
    min-height: 768px !important;
    min-width: 1024px !important;
}

/* DO NOT ADD CSS CLASSES BELLOW THIS CONSTANTS BLOCK EXCEPT MEDIA BLOCKS*/

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio: 2) {
    header {
        padding-left: 5px;
        padding-right: 5px;
    }

    #detailViewWrapper {
        height: 94%;
    }

    #detailContainer {
        padding: 0;
    }

    #detailViewWrapper {
        padding: 0;
        margin-top: 0px;
    }

    .rightColumnOrder {
        padding-left: 0px;
    }

    .maintenanceOrderLines {
        height: auto;
    }

    .detailContainerContent {
        overflow-y: scroll !important;
    }

    #ServiceOrderLineGrid {
        max-height: 500px !important;
        min-height: 250px;
        height: 100% !important;
    }
}
