/* #FF329C */
/* #00FF02  */
/* #00CCFF*/
/* Detail header */
#detailHeader {
  background-color: #6EA92F; }

.detailHeaderBreadcrumbs li:last-child a {
  color: #A5BC33; }

.detailContainerContent thead .k-filter-row th {
  background-color: #6EA92F; }

.detailContainerContent thead tr th {
  background-color: #A5BC33; }

/* Scrollbar */
::-webkit-scrollbar-thumb {
  background: #A5BC33; }

::-webkit-scrollbar-thumb:window-inactive {
  background: #A5BC33; }

/*Grid filter*/
.k-autocomplete.k-state-hover, .k-picker-wrap.k-state-hover, .k-numeric-wrap.k-state-hover, .k-dropdown-wrap.k-state-hover {
  background-color: #6EA92F; }

/*Page navigation*/
.k-state-selected {
  background-color: #6EA92F;
  border-color: #6EA92F; }

.k-pager-wrap .k-link:hover {
  border: 1px solid #6EA92F !important; }

a:focus {
  outline: 5px auto #6EA92F; }

.k-grid a:focus {
  color: #6EA92F; }

.k-pager-wrap .k-link:hover {
  color: #6EA92F; }

.k-link:link, .k-link:visited, .k-nav-current.k-state-hover .k-link {
  color: #6EA92F; }

/* Division background*/
#profileBlock {
  background-color: #6EA92F; }

.k-alt, .k-separator, .k-resource.k-alt, .k-pivot-layout > tbody > tr:first-child > td:first-child {
  background-color: #f9f7f7; }

Detail Page algemeen .tabstrip-main li.k-item.k-state-default.k-tab-on-top.k-state-active {
  background-color: #6EA92F; }

.detailContainerContentTabBar > ul > li:hover {
  background-color: #6EA92F !important; }

.detailContainerContentTabBar ul li.k-state-active {
  border: 1px solid #6EA92F !important; }

.TabBarStyle {
  border-bottom: 1px solid #6EA92F; }

.form-control:focus {
  border-color: #6EA92F;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px #6EA92F; }

/* Groups table*/
.k-grid-header th {
  background-color: #A5BC33; }

#pricelistproductgrid .k-grid-header, #permissionsGrid .k-grid-header {
  background-color: #A5BC33; }

/* Pool Tabbar*/
.detailContainerContentTabBar > ul > li {
  border: 1px solid #6EA92F; }

.k-tabstrip-items .k-state-default.k-state-hover {
  border-color: #6EA92F; }

.mainButtonMenuStyle:hover, .mainButtonMenuStyle:active, .mainButtonMenuStyle:focus, .mainButtonMenuStyle:active:hover, .subButtonMenuStyle:hover, .subButtonMenuStyle:active, .subButtonMenuStyle:focus, .subButtonMenuStyle:active:hover {
  color: #6EA92F;
  border-color: #6EA92F; }

/* Dropdown menu*/
#topMenuNavigation .k-button:active, #topMenuNavigation .k-button:hover, #topMenuNavigation .k-button:focus, #mainMenuNavigation .k-button:hover, #mainMenuNavigation .k-button:focus {
  background: #6EA92F; }

#tma-security:hover {
  border-bottom: 2px solid #6EA92F; }

/*Rates detail*/
.k-tabstrip-items .k-item.k-state-active {
  background: #6EA92F; }

/*filter remove*/
.k-icon.k-i-close {
  color: #A5BC33; }

/* fontawesome edit icon*/
.k-grid-Detail {
  color: #6EA92F; }

.k-grid-Detail:hover {
  color: #A5BC33 !important; }

#addButton {
  color: white; }

.detailContainerContentTabBar > ul > li {
  background-color: #6EA92F; }

.k-grid-content td .fa-link {
  color: #6EA92F; }

.k-primary {
  background-color: #6EA92F; }

.k-primary.k-state-hover, .k-primary:hover {
  background-color: #A5BC33 !important; }

/* Images Should all be replaced by fontawesome */
/*.k-grid-Detail:hover, .k-grid-Edit:focus {
    background-image: url(/Images/editgreen.png) !important;
}*/
/*#addButton:hover {
    background-image: url(/Images/addgreen.png);
}*/
/*#logoutIcon:hover {
    background-image: url(/Images/logoutgreen.png) !important;
}*/
/* This png should be renamed to buttonmenugreen*/
/*#mainMenuIcon:hover {
    background-image: url(/images/buttonmenugreen.png) !important;
}*/
/* This png should be renamed to dropdownmenugreen*/
/*#openMenuIcon:hover {
    background-image: url(/images/dropdownmenugreen.png) !important;
}*/
