/* Detail header */
/* Detail header */
#detailHeader {
    background-color: #66A4B3;
}

.detailHeaderBreadcrumbs li:last-child a {
    color: #79C6D5;
}

.detailContainerContent thead .k-filter-row th {
    background-color: #66A4B3;
}

.detailContainerContent thead tr th {
    background-color: #79C6D5;
}

/* Scrollbar */
::-webkit-scrollbar-thumb {
    background: #79C6D5;
}

    ::-webkit-scrollbar-thumb:window-inactive {
        background: #79C6D5;
    }

/*Grid filter*/
.k-autocomplete.k-state-hover, .k-picker-wrap.k-state-hover, .k-numeric-wrap.k-state-hover, .k-dropdown-wrap.k-state-hover {
    background-color: #66A4B3;
}

/*Page navigation*/
.k-state-selected {
    background-color: #66A4B3;
    border-color: #66A4B3;
}

.k-pager-wrap .k-link:hover {
    border: 1px solid #66A4B3 !important;
}

a:focus {
    outline: 5px auto #66A4B3;
}

.k-grid a:focus {
    color: #fff;
}

.k-pager-wrap .k-link:hover {
    color: #66A4B3;
}

.k-link:link, .k-link:visited, .k-nav-current.k-state-hover .k-link {
    color: #66A4B3;
}

/* Division background*/
#profileBlock {
    background-color: #66A4B3;
}

/*.k-alt,*/ .k-separator, .k-resource.k-alt, .k-pivot-layout > tbody > tr:first-child > td:first-child {
    background-color: #f9f7f7;
}

Detail Page algemeen .tabstrip-main li.k-item.k-state-default.k-tab-on-top.k-state-active {
    background-color: #66A4B3;
}

.detailContainerContentTabBar > ul > li:hover {
    background-color: #66A4B3 !important;
}

.detailContainerContentTabBar ul li.k-state-active {
    border: 1px solid #66A4B3 !important;
}

.TabBarStyle {
    border-bottom: 1px solid #66A4B3;
}

.form-control:focus {
    border-color: #66A4B3;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px #66A4B3;
}

/* Groups table*/
.k-grid-header th {
    background-color: #79C6D5;
}

#pricelistproductgrid .k-grid-header, #permissionsGrid .k-grid-header {
    background-color: #79C6D5;
}

/* Pool Tabbar*/
.detailContainerContentTabBar > ul > li {
    border: 1px solid #66A4B3;
}

.k-tabstrip-items .k-state-default.k-state-hover {
    border-color: #66A4B3;
}

.mainButtonMenuStyle:hover, .mainButtonMenuStyle:active, .mainButtonMenuStyle:focus, .mainButtonMenuStyle:active:hover, .subButtonMenuStyle:hover, .subButtonMenuStyle:active, .subButtonMenuStyle:focus, .subButtonMenuStyle:active:hover {
    color: #66A4B3;
    border-color: #66A4B3;
}

/* Dropdown menu*/
#topMenuNavigation .k-button:active, #topMenuNavigation .k-button:hover, #topMenuNavigation .k-button:focus, #mainMenuNavigation .k-button:hover, #mainMenuNavigation .k-button:focus {
    background: #66A4B3;
}

#tma-security:hover {
    border-bottom: 2px solid #66A4B3;
}

/*Rates detail*/
.k-tabstrip-items .k-item.k-state-active {
    background: #66A4B3;
}

/*filter remove*/
.k-icon.k-i-close {
    color: #79C6D5;
}

/* fontawesome edit icon*/
.k-grid-Detail {
    color: #66A4B3;
}

.k-grid-Export {
    color: #66A4B3;
}

.k-grid-Delete, .k-grid-delete {
    color: #66A4B3;
}

.k-grid-Detail:hover {
    color: #79C6D5 !important;
}

.k-grid-Export:hover {
    color: #79C6D5 !important;
}

.k-grid-Delete:hover, .k-grid-delete:hover {
    color: #79C6D5 !important;
}

#addButton {
    color: white;
}

.detailContainerContentTabBar > ul > li {
    background-color: #66A4B3;
}

.k-grid-content td .fa-link {
    color: #66A4B3;
}

.k-primary {
    background-color: #66A4B3;
}

    .k-primary.k-state-hover, .k-primary:hover {
        background-color: #79C6D5 !important;
    }

/* Images Should all be replaced by fontawesome */
/*.k-grid-Detail:hover, .k-grid-Edit:focus {
    background-image: url(/Images/editgreen.png) !important;
}*/
/*#addButton:hover {
    background-image: url(/Images/addgreen.png);
}*/
/*#logoutIcon:hover {
    background-image: url(/Images/logoutgreen.png) !important;
}*/
/* This png should be renamed to buttonmenugreen*/
/*#mainMenuIcon:hover {
    background-image: url(/images/buttonmenugreen.png) !important;
}*/
/* This png should be renamed to dropdownmenugreen*/
/*#openMenuIcon:hover {
    background-image: url(/images/dropdownmenugreen.png) !important;
}*/
