﻿@using Kendo.Mvc.UI
@using Microsoft.Extensions.Localization

@model Orbb.Data.ViewModels.Models.Security.UserMenuVM
@{
    @inject IStringLocalizer LocString;
    Layout = "/Views/Shared/_LayoutBasic.cshtml";
    ViewBag.Title = LocString["G_LENSFITTING"];
    ViewBag.UseShortLinks = true;
}

<div id="subButtonMenu" class="btn-group" role="group">
    @{
        foreach (var subMenuItem in Model.SubMenuItems)
        {
            @(Html.Kendo().Button().Events(ev => ev.Click(subMenuItem.Destination + "Overview"))
                .Name("subButtonMenuItem" + subMenuItem.Destination.Replace(" ", ""))
                .HtmlAttributes(new { type = "button", subbuttonmenu = true, @class = "subButtonMenuStyle" })
                .Content(String.Format(@"<hr class='hr'><span class='vertical'>{1}</span><span class='plus'><a class='subButtonMenuStatisticsLink'></a><a class='subButtonMenuAddLink' onclick='add{0}()'></a><a class='subButtonMenuNotificationsLink' onclick='openRightMenu()'></a></span>",
                         subMenuItem.Description, subMenuItem.Description))
                .Deferred()
            )
        }
    }
</div>