﻿input.k-textbox, textarea.k-textbox {
    padding: initial;
}

.k-numeric-wrap:before {
    content: "";
    display: inline;
    width: 0;
    height: inherit;
    padding-bottom: inherit;
}

.k-numeric-wrap .k-select {
    min-height: 100%;
    line-height: inherit;
    vertical-align: middle;
    -moz-box-sizing: border-box;
    text-align: center;
    width: 1.9em;
    height: 50%;
}

.k-numerictextbox .k-select .k-link span.k-i-arrow-n {
    vertical-align: baseline;
}

.k-numerictextbox .k-select .k-link span.k-i-arrow-s {
    vertical-align: baseline;
}

.k-numeric-wrap .k-input
{
    padding: .155em 0;
}

.form-group .k-widget,
.form-group .k-textbox {
    width: 100%;
}

.form-control.k-widget {
    padding: 0;
    width: 100%;
    height: auto;
}

    .form-control.k-widget:not(.k-autocomplete) {
        border-width: 1px;
    }