﻿<script>
    var applicationContext = {
        cantDelete : @(ViewBag.CantDelete != null && ViewBag.CantDelete ? "true" : "false")
    };
</script>

<script id="cantdelete-template" type="text/x-kendo-template">
    @if (ViewBag.CantDeleteReasons != null)
    {
        <ul>
            @foreach (var item in ViewBag.CantDeleteReasons)
            {
                <li>@item</li>
            }
        </ul>
    }
</script>