﻿@* Filter parameter*@
@model string

@{ 
    var filter = string.Empty;

    if (!string.IsNullOrEmpty(Model))
    {
        filter = Model;
    }
}
    
<!-- The blueimp Gallery widget -->
<div id="blueimp-gallery" class="blueimp-gallery blueimp-gallery-controls" data-filter="@filter">
    <div class="slides"></div>
    <h3 class="title"></h3>
    <a class="prev">‹</a>
    <a class="next">›</a>
    <a class="close">×</a>
    <a class="play-pause"></a>
    <ol class="indicator"></ol>
</div>