﻿@using Orbb.BL.Interfaces.Base
@using Orbb.BL.Interfaces.General
@using Orbb.BL.Interfaces.UISetup
@using Orbb.Common.Environment
@using Orbb.Data.Common
@using Orbb.Data.ViewModels.Models.Security
@using Orbb.Data.ViewModels.Models.System
@using Kendo.Mvc.UI
@using Microsoft.Extensions.Localization
@using Orbb.Admin.Extensions
@using Orbb.Admin.Utility
@using Orbb.Data.Common.General
@using Orbb.Admin.ViewModels
@using Orbb.Admin.Utility.UI

@{
    @inject IStringLocalizer LocString;
    @inject ICurrentUser currentUser;
    @inject ILookupProvider lookupProvider;
    @inject IMenuRepository menuFactory;
    @inject IDivisionRepository divisionRepository;
    @inject ICurrent<LanguageModel> currentLanguageVM;
    @inject ICurrent<DivisionVM> currentDivisionStorage;
    @inject ICurrent<UserMenuVM> userMenu;

    var user = currentUser.GetCurrentUser();
    if (user == null)
    {
        ViewContext.HttpContext.Response.Redirect("/Security/Login/exit");
    }

    var userId = user?.Id ?? 0;
    var currentDivision = currentDivisionStorage?.GetCurrent();
    var userFirstName = user?.FirstName;
    var userLastName = user?.LastName;
    var currentLanguage = currentLanguageVM?.GetCurrent()?.ShortCode;
    var userLanguageId = user.LanguageId;
    var userDefaultDivisionId = user.DefaultDivisionId;
    var boolDivisions = Config.UseDivisions;
    var alertMessages = TempData.Get<IList<AlertMessage>>(Constants.AlertMessages);
    string lang = System.Threading.Thread.CurrentThread.CurrentUICulture.TwoLetterISOLanguageName;
    string langName = System.Threading.Thread.CurrentThread.CurrentUICulture.Name;

    ViewBag.LangName = langName;
    var menuHelper = new MenuHelper(menuFactory, currentUser, userMenu);
    UserMenuVM currentUserMenu = menuHelper.GetMenuContainer("");

    ViewBag.MenuItems = currentUserMenu.MainMenuItems;
    ViewBag.Divisions = divisionRepository.GetDivisions(userId);
    if (ViewBag.PartialLanguages == null)
    {
        ViewBag.PartialLanguages = lookupProvider.GetLanguageTranslationsMenuList();
    }

    var theme = $"theme.{currentDivision?.ShortCode.ToLower()}";
    //switch (currentDivision?.ShortCode.ToLower()) {
    //    case "def":
    //        break;
    //    case "vaya":
    //        break;
    //    default:
    //        break;
    //}
    }

<!DOCTYPE html>
<html class="k-webkit k-webkit46 k-metroblack">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - @LocString["G_TITLE_SUFFIX"]</title>

    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans" data-noprefix />

    <environment names="Development">
        <link rel="stylesheet" href="~/lib/jquery-ui/themes/base/jquery-ui.css">
        <link rel="stylesheet" href="~/lib/kendo-ui/styles/kendo.common-bootstrap.min.css" />
        <link rel="stylesheet" href="~/lib/kendo-ui/styles/kendo.bootstrap.min.css" />
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/lib/alertify-js/build/css/alertify.css" />
        <link rel="stylesheet" href="~/lib/alertify-js/build/css/themes/default.css" />
        <link rel="stylesheet" href="~/css/kendo.custom.css" />
        <link rel="stylesheet" href="~/css/custom.alertify.css" />
        <link rel="stylesheet" href="~/css/layout.css" />
        <link rel="stylesheet" href="~/css/global.css" />
        <link rel="stylesheet" href="~/css/general.css" />
        <link rel="stylesheet" href="~/css/kendo-erp.css" />
        <link rel="stylesheet" href="~/css/core/custom.core.css" />
        <link rel="stylesheet" href="~/css/custom.waitanimation.css" />
        <link rel="stylesheet" href="~/css/custom.popup.css" />
        <link rel="stylesheet" href="~/css/@(theme).css" />
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/themes/base/jquery-ui.min.css"
              asp-fallback-href="~/lib/jquery-ui/themes/base/jquery-ui.min.css"
              asp-fallback-test-class="ui-helper-hidden" asp-fallback-test-property="display" asp-fallback-test-value="none" />
        <link rel="stylesheet" href="//kendo.cdn.telerik.com/2017.3.913/styles/kendo.common-bootstrap.min.css"
              asp-fallback-href="~/lib/kendo-ui/styles/kendo.common-bootstrap.min.css"
              asp-fallback-test-class="k-common-test-class" asp-fallback-test-property="opacity" asp-fallback-test-value="0" />
        <link rel="stylesheet" href="//kendo.cdn.telerik.com/2017.3.913/styles/kendo.bootstrap.min.css"
              asp-fallback-href="~/lib/kendo-ui/styles/kendo.bootstrap.min.css"
              asp-fallback-test-class="k-theme-test-class" asp-fallback-test-property="opacity" asp-fallback-test-value="0" />
        <link rel="stylesheet" href="//ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/css/@(theme).min.css" asp-append-version="true" />
    </environment>

    @RenderSection("css", required: false)

    <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>


</head>
<body>
    <div id="spinneroverlay"></div>
    <div class="contentwrapper">
        @if (boolDivisions)
            {
            <div id="customername">
                @ViewBag.CompanyName
            </div>
        }
        <header>

            <div class="headerLeft">

                <div class="btn-group" role="group" id="shortlinksMenu">

                    @(Html.Kendo().Button()
                            .Name("mainMenuIcon")
                            .HtmlAttributes(new { type = "button" })
                            .HtmlAttributes(new { @class = "miniMenuStyle" })
                            .Icon("a fas fa-th-large")
                            .Events(ev => ev.Click("openMainMenu"))
                            .Deferred())


                    @(Html.Kendo().Button()
                            .Name("openMenuIcon")
                            .HtmlAttributes(new { type = "button" })
                            .HtmlAttributes(new { @class = "miniMenuStyle icon" })
                            .Icon("a fas fa-caret-down")
                            .Events(ev => ev.Click("openMenu"))
                            .Deferred())

                </div>
                <!--
                    <div>
                        @foreach (var sideMenuItem in ViewBag.MenuItems)
                        {
                            @(Html.Kendo().Button().Events(e => e.Click(sideMenuItem.Destination + "Overview"))
                            .Name("topButtonMenuItem" + sideMenuItem.Destination)
                            .HtmlAttributes(new { title = sideMenuItem.Description, type = "button", sidemenu = true, @class = "topButtonMenuStyle", topmenu = true })
                            .Content(String.Format(@"<span class=""mainMenuNotificationsLink"" id=""leftMenu@{0}"" onclick=""openRightMenu(); return false; ""></span>", sideMenuItem.Description))
                            .Deferred()
                            )
                        }
                    </div>
                -->
            </div>

            <div class="headerRight">

                <div class="btn-group" role="group" id="shortlinksGeneral">
                    @(Html.Kendo().Button()
                    .Name("openProfileIcon")
                    .HtmlAttributes(new { type = "button" })
                    .HtmlAttributes(new { @class = "miniMenuStyle" })
                    .Events(ev => ev.Click("openProfile"))
                    .Deferred())
                    
                    @(Html.Kendo().Button()
                    .Name("logoutIcon")
                    .HtmlAttributes(new { type = "button" })
                    .HtmlAttributes(new { @class = "miniMenuStyle" })
                    .Icon("a fas fa-power-off")
                    .Events(ev => ev.Click("logout"))
                    .Deferred())

                </div>

            </div>

        </header>

        <div>
            <ul id="topMenuNavigation">
                @foreach (var sideMenuItem in ViewBag.MenuItems)
                {
                    <li class="mainMenuItem sortable" id="tm-@sideMenuItem.Destination">
                        @(Html.Kendo().Button().Events(e => e.Click(sideMenuItem.Destination + "Overview"))
                                        .Name("tma-" + sideMenuItem.Destination)
                                        .HtmlAttributes(new { type = "button", sidemenu = true, @class = "mainMenuTopStyle", topmenu = true })
                                        .Content(String.Format(@"{1}<span class=""mainMenuNotificationsLink"" id=""leftMenu@{0}"" onclick=""openRightMenu(); return false; ""></span>", sideMenuItem.Description, sideMenuItem.Description))
                                        .Deferred()
                              
                              
                        )
                    </li>
                }

            </ul>

        </div>

        <div id="profileMenu">

            <div id="profileBlock">

                <img src="~/images/profile_default.jpg" id="profileBlockImage" />
                <h5 id="profileBlockName">@userFirstName<br />@userLastName</h5><br />
            </div>

            @if (boolDivisions == true)
            {
                <div id="divisionsBlock">
                    <select id="division">
                        @foreach (var division in ViewBag.Divisions)
                        {
                            var selected = division.Id == userDefaultDivisionId ? "selected" : "";
                            <!option @Html.Raw(selected) value="@division.Id">@division.Description</!option>
                        }
                    </select>
                </div>
            }

            <div id="languageBlock">
                <select id="language">
                    @foreach (var partialLanguage in ViewBag.PartialLanguages)
                    {
                        if (partialLanguage.ShortCode == currentLanguage)
                        {
                            var selected = partialLanguage.LanguageId == userLanguageId ? "selected" : "";
                            <!option @Html.Raw(selected) value="@partialLanguage.LanguageId">@partialLanguage.Value</!option>
                        }
                    }
                </select>
            </div>

            <div id="accountBlock">
                <p style="color:#999999">My Account</p>
            </div>

        </div>

        <div id="detailViewWrapper">
            <div id="detailView">
                @RenderBody()
            </div>
        </div>

        @Html.Partial("_CanDeleteView")
    </div>

    <environment names="Development">
        <script src="~/lib/modernizr/modernizr2.8.3.min.js"></script>
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/jquery-ui/jquery-ui.js"></script>
        <script src="~/lib/kendo-ui/js/kendo.all.min.js"></script>
        <script src="~/lib/kendo-ui/js/kendo.aspnetmvc.min.js"></script>
        <script src="~/lib/kendo-ui/js/messages/kendo.messages.@(langName).min.js"></script>
        <script src="~/lib/kendo-ui/js/cultures/kendo.culture.@(langName).min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
        <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
        <script src="~/lib/alertify-js/build/alertify.min.js"></script>
        <script src="~/js/errorhandling.js"></script>
        <script src="~/js/feedbackservice.js"></script>
        @*<script src="~/lib/polyfiller/polyfiller.js"></script>*@
        <script src="~/lib/spin.js/spin.min.js"></script>
        <script src="~/lib/spin.js/jquery.spin.js"></script>
        <script src="~/js/core/custom.ajax.js"></script>
        <script src="~/js/core/custom.enumerations.js"></script>
        <script src="~/js/kendoFunctions.js"></script>
        <script src="~/js/core/custom.core.js"></script>
        <script src="~/js/rightMenu.js"></script>
        <script src="~/js/headerMenu.js"></script>
        <script src="~/js/mainmenu.js"></script>
        <script src="~/js/leftmenu.js"></script>
        <script src="~/js/tabBar.js"></script>
        <script src="~/js/sortKendoDropDown.js"></script>
        <script src="~/js/defaultImage.js"></script>
        <script src="~/js/validationbootstrap.js"></script>
        <script src="~/js/layoutComboboxes.js"></script>
        <script src="~/js/culture/messages.@(lang).js"></script>
        <script src="~/js/core/jQueryLocalisationFix.js"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="//cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"
                asp-fallback-src="~/lib/modernizr/modernizr2.8.3.min.js"
                asp-fallback-test="window.Modernizr">
        </script>
        <script src="//ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery">
        </script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"
                asp-fallback-src="~/lib/jquery-ui/jquery-ui.min.js"
                asp-fallback-test="window.jQuery.ui">
        </script>
        <script src="//kendo.cdn.telerik.com/2017.3.913/js/kendo.all.min.js"
                asp-fallback-src="~/lib/kendo-ui/js/kendo.all.min.js"
                asp-fallback-test="window.kendo">
        </script>
        <script src="//kendo.cdn.telerik.com/2017.3.913/js/kendo.aspnetmvc.min.js"
                asp-fallback-src="~/lib/kendo-ui/js/kendo.aspnetmvc.min.js"
                asp-fallback-test="kendo.data.transports['aspnetmvc-ajax']">
        </script>
        <script src="//kendo.cdn.telerik.com/2017.3.913/js/messages/kendo.messages.@(langName).min.js"
                asp-fallback-src="~/lib/kendo-ui/js/messages/kendo.messages.@(langName).min.js"
                asp-fallback-test="window.kendo && kendo.ui.Grid.prototype.options.messages">
        </script>
        <script src="//kendo.cdn.telerik.com/2017.3.913/js/cultures/kendo.culture.@(langName).min.js"
                asp-fallback-src="~/lib/kendo-ui/js/cultures/kendo.culture.@(langName).min.js"
                asp-fallback-test="window.kendo && kendo.cultures['@(langName)']">
        </script>
        <script src="//ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal">
        </script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/jquery.validate.min.js"
                asp-fallback-src="~/lib/jquery-validation/dist/jquery.validate.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.validator">
        </script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.6/jquery.validate.unobtrusive.js"
                asp-fallback-src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.validator.unobtrusive">
        </script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/AlertifyJS/1.11.0/alertify.min.js"
                asp-fallback-src="~/lib/alertify-js/build/alertify.min.js"
                asp-fallback-test="window.alertify && window.alertify.dialog">
        </script>
        <script src="~/lib/spin.js/spin.min.js" asp-append-version="true"></script>
        <script src="~/lib/spin.js/jquery.spin.js" asp-append-version="true"></script>
        <script src="~/js/site-core.min.js" asp-append-version="true"></script>
        <script src="~/js/culture/messages.@(lang).min.js" asp-append-version="true"></script>
    </environment>

    <script>
        kendo.culture("@langName");
        try {
            kendo.cultures["nl-BE"].numberFormat[","] = "";
        } catch (e) {

        }
    </script>

    @Html.Kendo().DeferredScripts()

    <environment names="Development">
        <script src="~/js/commandButtons.js"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    <script>
        decimalSeparator = "@Config.DecimalSeparator";
    </script>

    @if (alertMessages != null)
    {
        foreach (var item in alertMessages)
        {
            switch (item.AlertMessageType)
            {
                case Enumerations.AlertMessageTypes.Info:
                    <script>showNotification('@item.Message.Replace("\r\n","<br/>").Replace("'","\'")', 1)</script>
                    break;
                case Enumerations.AlertMessageTypes.Warning:
                    <script>showNotification('@item.Message.Replace("\r\n", "<br/>").Replace("'", "\'")', 3)</script>
                    break;
                case Enumerations.AlertMessageTypes.Error:
                    <script>showNotification('@item.Message.Replace("\r\n", "<br/>").Replace("'","\'")', 2)</script>
                    break;
                default:
                    break;
            }
        }
    }

    @RenderSection("scripts", required: false)
</body>
</html>