﻿@using Orbb.Data.Common
@using Microsoft.Extensions.Localization;
@using Orbb.Admin.Extensions;
@using Orbb.Admin.Utility;
@using Orbb.Data.Common.General;

@{
    @inject IStringLocalizer LocString;
    var lang = System.Threading.Thread.CurrentThread.CurrentUICulture.TwoLetterISOLanguageName;
    var langName = System.Threading.Thread.CurrentThread.CurrentUICulture.Name;
    var alertMessages = TempData.Get<IList<AlertMessage>>(Constants.AlertMessages);
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - @LocString["G_TITLE_SUFFIX"]</title>

    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans" />

    <environment names="Development">
        <link rel="stylesheet" href="~/lib/kendo-ui/styles/kendo.common-bootstrap.min.css" />
        <link rel="stylesheet" href="~/lib/kendo-ui/styles/kendo.bootstrap.min.css" />
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/lib/alertify-js/build/css/alertify.css" />
        <link rel="stylesheet" href="~/lib/alertify-js/build/css/themes/default.css" />
        <link rel="stylesheet" href="~/css/kendo.custom.css" />
        <link rel="stylesheet" href="~/css/custom.alertify.css" />
        <link rel="stylesheet" href="~/css/layout.css" />
        <link rel="stylesheet" href="~/css/global.css" />
        <link rel="stylesheet" href="~/css/login.css" />
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="//kendo.cdn.telerik.com/2017.3.913/styles/kendo.common-bootstrap.min.css"
              asp-fallback-href="~/lib/kendo-ui/styles/kendo.common-bootstrap.min.css"
              asp-fallback-test-class="k-common-test-class" asp-fallback-test-property="opacity" asp-fallback-test-value="0" />
        <link rel="stylesheet" href="//kendo.cdn.telerik.com/2017.3.913/styles/kendo.bootstrap.min.css"
              asp-fallback-href="~/lib/kendo-ui/styles/kendo.bootstrap.min.css"
              asp-fallback-test-class="k-theme-test-class" asp-fallback-test-property="opacity" asp-fallback-test-value="0" />
        <link rel="stylesheet" href="//ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site-login.min.css" asp-append-version="true" />
    </environment>

</head>
<body>
    <div class="contentwrapper">

        @RenderBody()

    </div>

    <environment names="Development">
        <script src="~/lib/modernizr/modernizr2.8.3.min.js"></script>
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/kendo-ui/js/kendo.all.min.js"></script>
        <script src="~/lib/kendo-ui/js/kendo.aspnetmvc.min.js"></script>
        <script src="~/lib/kendo-ui/js/messages/kendo.messages.@(langName).min.js"></script>
        <script src="~/lib/kendo-ui/js/cultures/kendo.culture.@(langName).min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
        <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
        <script src="~/lib/alertify-js/build/alertify.min.js"></script>
        <script src="~/js/validationbootstrap.js"></script>
        <script src="~/js/feedbackservice.js"></script>
        <script src="~/js/culture/messages.@(lang).js"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="//cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"
                asp-fallback-src="~/lib/modernizr/modernizr2.8.3.min.js"
                asp-fallback-test="window.Modernizr">
        </script>
        <script src="//ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery">
        </script>
        <script src="//kendo.cdn.telerik.com/2017.3.913/js/kendo.all.min.js"
                asp-fallback-src="~/lib/kendo-ui/js/kendo.all.min.js"
                asp-fallback-test="window.kendo">
        </script>
        <script src="//kendo.cdn.telerik.com/2017.3.913/js/kendo.aspnetmvc.min.js"
                asp-fallback-src="~/lib/kendo-ui/js/kendo.aspnetmvc.min.js"
                asp-fallback-test="kendo.data.transports['aspnetmvc-ajax']">
        </script>
        <script src="//kendo.cdn.telerik.com/2017.3.913/js/messages/kendo.messages.@(langName).min.js"
                asp-fallback-src="~/lib/kendo-ui/js/messages/kendo.messages.@(langName).min.js"
                asp-fallback-test="window.kendo && kendo.ui.Grid.prototype.options.messages">
        </script>
        <script src="//kendo.cdn.telerik.com/2017.3.913/js/cultures/kendo.culture.@(langName).min.js"
                asp-fallback-src="~/lib/kendo-ui/js/cultures/kendo.culture.@(langName).min.js"
                asp-fallback-test="window.kendo && kendo.cultures['@(langName)']">
        </script>
        <script src="//ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal">
        </script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/jquery.validate.min.js"
                asp-fallback-src="~/lib/jquery-validation/dist/jquery.validate.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.validator">
        </script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.6/jquery.validate.unobtrusive.js"
                asp-fallback-src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.validator.unobtrusive">
        </script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/AlertifyJS/1.11.0/alertify.min.js"
                asp-fallback-src="~/lib/alertify-js/build/alertify.min.js"
                asp-fallback-test="window.alertify && window.alertify.dialog">
        </script>
        <script src="~/js/site-login.min.js" asp-append-version="true"></script>
        <script src="~/js/culture/messages.@(lang).min.js" asp-append-version="true"></script>
    </environment>

    @if (alertMessages != null)
    {
        foreach (var item in alertMessages)
        {
            switch (item.AlertMessageType)
            {
                case Enumerations.AlertMessageTypes.Info:
                    <script>showNotification('@item.Message.Replace("\r\n","<br/>").Replace("'","\'")', 1);</script>
                    break;
                case Enumerations.AlertMessageTypes.Warning:
                    <script>showNotification('@item.Message.Replace("\r\n", "<br/>").Replace("'", "\'")', 3);</script>
                    break;
                case Enumerations.AlertMessageTypes.Error:
                    <script>$(function () { showNotification('@item.Message.Replace("\r\n", "<br/>").Replace("'","\'")', 2); }); </script>
                    break;
                default:
                    break;
            }
        }
    }
    else
    {
        <script>
            kendo.culture("@langName");
        </script>
    }

    @RenderSection("scripts", required: false)
</body>
</html>