﻿<link rel="stylesheet" href="~/lib/blueimp-gallery/css/blueimp-gallery.min.css">
<!-- CSS to style the file input field as button and adjust the Bootstrap progress bars -->
<link rel="stylesheet" href="~/lib/blueimp-file-upload/css/jquery.fileupload.css">
<link rel="stylesheet" href="~/lib/blueimp-file-upload/css/jquery.fileupload-ui.css">