﻿@using Microsoft.Extensions.Localization

@* Show download template*@
@model bool

@{
    @inject IStringLocalizer LocString;
}

<!-- The template to display files available for upload -->
<script id="template-upload" type="text/x-tmpl">
    {% for (var i=0, file; file=o.files[i]; i++) { %}
    <tr class="template-upload fade">
        <td>
            <span class="preview"></span>
        </td>
        <td>
            <div class="name">{%=file.name%}</div>
            <strong class="error text-danger"></strong>
        </td>
        <td>
            <p class="size">Processing...</p>
            <div class="progress progress-striped" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0"><div class="progress-bar progress-bar-success" style="width:0%;"></div></div>
        </td>
        <td>
            {% if (!i && !o.options.autoUpload) { %}
            <button class="btn btn-primary start" disabled>
                <i class="glyphicon glyphicon-upload"></i>
                <span>@LocString["G_START"]</span>
            </button>
            {% } %}
            {% if (!i) { %}
            <button class="btn btn-warning cancel">
                <i class="glyphicon glyphicon-ban-circle"></i>
                <span>@LocString["G_CANCEL"]</span>
            </button>
            {% } %}
        </td>
    </tr>
    {% } %}
</script>

<!-- The template to display files available for download -->
<script id="template-download" type="text/x-tmpl">
        <text>
        {% for (var i=0, file; file=o.files[i]; i++) { %}
        <tr class="template-download fade" id="{%=file.id%}" data-displayOrder="{%=file.displayOrder%}">
            <td>
                <span class="preview">
                    {% if (file.thumbnailUrl) { %}
                    {% if (file.video) { %}
                    <video height="150" controls>
                        <source src="{%=file.url%}" type="{%=file.type%}" />
                        Your browser does not support the video tag.
                    </video>
                    {% } else { %}
                    <a href="{%=file.url%}" title="{%=file.name%}" download="{%=file.name%}" data-gallery>
                        <img src="{%=file.thumbnailUrl%}" class="img-thumbnail">
                    </a>
                    {% } %}
                    {% } %}
                </span>
            </td>
            <td>
                <div class="name">
                    {% if (file.url) { %}
                    <a href="{%=file.url%}" title="{%=file.name%}" download="{%=file.name%}" type="{%=file.type%}" test="{%=file.thumbnailUrl%}" poster='' {%=file.thumbnailUrl?'data-gallery':''%}>{%=file.name%}</a>
                    {% } else { %}
                    <span>{%=file.name%}</span>
                    {% } %}
                </div>
                {% if (file.error) { %}
                <div><span class="label label-danger">Error</span> {%=file.error%}</div>
                {% } %}
            </td>
            <td>
                <span class="size"></span>
            </td>
            <td>
                {% if (file.deleteUrl) { %}
                <button class="btn btn-danger delete" data-type="{%=file.deleteType%}" data-url="{%=file.deleteUrl%}" {% if (file.deleteWithCredentials) { %} data-xhr-fields='{"withCredentials":true}' {% } %}>
                    <i class="glyphicon glyphicon-trash"></i>
                    <span>@LocString["G_DELETE"]</span>
                </button>
                <input type="checkbox" name="delete" value="1" class="toggle">
                {% } else { %}
                <button class="btn btn-warning cancel">
                    <i class="glyphicon glyphicon-ban-circle"></i>
                    <span>@LocString["G_CANCEL"]</span>
                </button>
                {% } %}
            </td>
        </tr>
        {% } %}
        </text>
</script>

<environment names="Development">
    <!-- The Templates plugin is included to render the upload/download listings -->
    <script src="~/lib/blueimp-tmpl/js/tmpl.js"></script>
    <!-- The Load Image plugin is included for the preview images and image resizing functionality -->
    <script src="~/lib/blueimp-load-image/js/load-image.all.min.js"></script>
    <!-- The Canvas to Blob plugin is included for image resizing functionality -->
    <script src="~/lib/blueimp-canvas-to-blob/js/canvas-to-blob.min.js"></script>
    <!-- blueimp Gallery script -->
    <script src="~/lib/blueimp-gallery/js/jquery.blueimp-gallery.min.js"></script>
    <!-- The basic File Upload plugin -->
    <script src="~/lib/blueimp-file-upload/js/jquery.fileupload.js"></script>
    <!-- The File Upload processing plugin -->
    <script src="~/lib/blueimp-file-upload/js/jquery.fileupload-process.js"></script>
    <!-- The File Upload image preview & resize plugin -->
    <script src="~/lib/blueimp-file-upload/js/jquery.fileupload-image.js"></script>
    <!-- The File Upload video preview plugin -->
    <script src="~/lib/blueimp-file-upload/js/jquery.fileupload-video.js"></script>
    <!-- The File Upload validation plugin -->
    <script src="~/lib/blueimp-file-upload/js/jquery.fileupload-validate.js"></script>
    <!-- The File Upload user interface plugin -->
    <script src="~/lib/blueimp-file-upload/js/jquery.fileupload-ui.js"></script>
    <!-- Custom script to override events -->
    <script src="~/js/core/custom.jquery.upload.js"></script>
</environment>
<environment names="Staging,Production">
    <!-- The Templates plugin is included to render the upload/download listings -->
    <script src="~/lib/blueimp-tmpl/js/tmpl.min.js" asp-append-version="true"></script>
    <!-- The Load Image plugin is included for the preview images and image resizing functionality -->
    <script src="~/lib/blueimp-load-image/js/load-image.all.min.js" asp-append-version="true"></script>
    <!-- The Canvas to Blob plugin is included for image resizing functionality -->
    <script src="~/lib/blueimp-canvas-to-blob/js/canvas-to-blob.min.js" asp-append-version="true"></script>
    <!-- blueimp Gallery script -->
    <script src="~/lib/blueimp-gallery/js/jquery.blueimp-gallery.min.js" asp-append-version="true"></script>
    <!-- The basic File Upload plugin -->
    <script src="~/lib/blueimp-file-upload/js/jquery.fileupload.js" asp-append-version="true"></script>
    <!-- The File Upload processing plugin -->
    <script src="~/lib/blueimp-file-upload/js/jquery.fileupload-process.js" asp-append-version="true"></script>
    <!-- The File Upload image preview & resize plugin -->
    <script src="~/lib/blueimp-file-upload/js/jquery.fileupload-image.js" asp-append-version="true"></script>
    <!-- The File Upload video preview plugin -->
    <script src="~/lib/blueimp-file-upload/js/jquery.fileupload-video.js" asp-append-version="true"></script>
    <!-- The File Upload validation plugin -->
    <script src="~/lib/blueimp-file-upload/js/jquery.fileupload-validate.js" asp-append-version="true"></script>
    <!-- The File Upload user interface plugin -->
    <script src="~/lib/blueimp-file-upload/js/jquery.fileupload-ui.js" asp-append-version="true"></script>
    <!-- Custom script to override events -->
    <script src="~/js/core/custom.jquery.upload.min.js" asp-append-version="true"></script>
</environment>