﻿@using Kendo.Mvc.UI
@using Orbb.Data.Common
@using Microsoft.Extensions.Localization
@using Orbb.Admin.ViewModels
@using Orbb.Data.ViewModels.Models.Lenssets
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model ControlPointVM
@{

    @inject IStringLocalizer LocString;
    @inject ICurrent<LanguageModel> currentLanguageVM;
    var currentLanguage = currentLanguageVM?.GetCurrent()?.ShortCode;
    string gridName = $"{ViewBag.listType}ItemGridCP{ViewBag.CpNum}";
}

@(
    Html.Kendo().Grid(Model.CpList)
    .Name(gridName)
    .HtmlAttributes(new { @class = "overviewGrid has-add-button SaveWithPromise" })
    .Columns(columns =>
    {
        columns.Bound(p => p.SupplierSpecificName).Title(@LocString["G_SupplierSpecificName"]).Width(200);
        columns.Bound(p => p.CPValue).Title(@LocString["G_CP1VALUE"]).Width(200).ClientTemplate("#=parseFloat(CPValue)#");
        columns.Command(command => command.Custom("delete").Text(" ").IconClass("far fa-trash-alt")).Width(100).ClientHeaderTemplate("<div class=\"sagittaPlus\"><a onclick=\"openModal('" + gridName + "')\"><i class=\"fas fa-paste\"></i></a><a onclick=\"addNewRow(" + gridName + ")\"><i class=\"fas fa-plus\"></i></a></div>").HtmlAttributes(new { style = "text-align: right;" });
    })
    .Editable(editable => editable.DisplayDeleteConfirmation(false))
    .Pageable()
    .Sortable()
    .Editable(editable => editable.Mode(GridEditMode.InCell))
    .Scrollable(s => s.Height("96%"))
    .DataSource(dataSource => dataSource

    .Ajax()
    .PageSize(15)
    .Batch(true)
    .ServerOperation(false)

    .Events(events =>
    {
    })

    .Model(model =>
    {
    model.Id(m => m.Id);
    model.Field(m => m.CPValue);
    })
    /*.Read("ListItems_Overview", "Detail", new { Area = "Lenssets", lenssetId = Model.Id })*/
    .Create("ListItems_Create", "Detail", new { Area = "Lenssets", cpNum = ViewBag.CpNum })
    .Update("ListItems_Update", "Detail", new { Area = "Lenssets", cpNum = ViewBag.CpNum })
    .Destroy("ListItems_Destroy", "Detail", new { Area = "Lenssets", cpNum = ViewBag.CpNum })
    )
)

<script>
    $(function () {
        var grids = $('#@gridName')
        grids.each(function (index) {
            var grid = $(grids[index]).data('kendoGrid');
            grid.bind("edit", grid_edit);
            grid.bind("remove", grid_edit);
        })
    })

    function grid_edit() {
        processChanges();
    }
</script>
