﻿@using Kendo.Mvc.UI
@using Orbb.Data.Common
@using Microsoft.Extensions.Localization
@using Orbb.Admin.ViewModels
@using Orbb.Data.ViewModels.Models.Lenssets
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model ControlPointVM
@{

    @inject IStringLocalizer LocString;
    @inject ICurrent<LanguageModel> currentLanguageVM;
    var currentLanguage = currentLanguageVM?.GetCurrent()?.ShortCode;
    string gridName = $"{ViewBag.listType}ItemGridCP{ViewBag.CpNum}";
}

@if (ViewBag.CpNum == "1")
{
    <div id="NotUsingCP2ToCP1Div1">
        <label class="col-sm-12 control-label changeRequest">@LocString["G_MINVAL"]</label>
        <input class="form-control double valid" type="text" data-val="true" data-val-number="Het veld moet een getal zijn." id="CP@(ViewBag.CpNum)_MinValue" name="CP@(ViewBag.CpNum).MinValue" value="@Model.MinValue" onchange="processChanges()" aria-describedby="CP@ViewBag.CpNum_MinValue-error" aria-invalid="false">
        <span class="field-validation-valid" data-valmsg-for="CP@(ViewBag.CpNum).MinValue" data-valmsg-replace="true"></span>


        <label class="col-sm-12 control-label changeRequest">@LocString["G_MAXVAL"]</label>
        <input class="form-control double" type="text" data-val="true" data-val-number="Het veld moet een getal zijn." id="CP@(ViewBag.CpNum)_MaxValue" name="CP@(ViewBag.CpNum).MaxValue" value="@Model.MaxValue" onchange="processChanges()">
        <span class="field-validation-valid" data-valmsg-for="CP@(ViewBag.CpNum).MaxValue" data-valmsg-replace="true"></span>

        <label class="col-sm-12 control-label changeRequest">@LocString["G_STEPSIZE"]</label>
        <input class="form-control double" type="text" data-val="true" data-val-number="Het veld moet een getal zijn." id="CP@(ViewBag.CpNum)_StepSize" name="CP@(ViewBag.CpNum).StepSize" value="@Model.StepSize" onchange="processChanges()">
        <span class="field-validation-valid" data-valmsg-for="CP@(ViewBag.CpNum).StepSize" data-valmsg-replace="true"></span>
    </div>
}
else
{
    <label class="col-sm-12 control-label changeRequest">@LocString["G_MINVAL"]</label>
    <input class="form-control double valid" type="text" data-val="true" data-val-number="Het veld moet een getal zijn." id="CP@(ViewBag.CpNum)_MinValue" name="CP@(ViewBag.CpNum).MinValue" value="@Model.MinValue" onchange="processChanges()" aria-describedby="CP@ViewBag.CpNum_MinValue-error" aria-invalid="false">
    <span class="field-validation-valid" data-valmsg-for="CP@(ViewBag.CpNum).MinValue" data-valmsg-replace="true"></span>


    <label class="col-sm-12 control-label changeRequest">@LocString["G_MAXVAL"]</label>
    <input class="form-control double" type="text" data-val="true" data-val-number="Het veld moet een getal zijn." id="CP@(ViewBag.CpNum)_MaxValue" name="CP@(ViewBag.CpNum).MaxValue" value="@Model.MaxValue" onchange="processChanges()">
    <span class="field-validation-valid" data-valmsg-for="CP@(ViewBag.CpNum).MaxValue" data-valmsg-replace="true"></span>

    <label class="col-sm-12 control-label changeRequest">@LocString["G_STEPSIZE"]</label>
    <input class="form-control double" type="text" data-val="true" data-val-number="Het veld moet een getal zijn." id="CP@(ViewBag.CpNum)_StepSize" name="CP@(ViewBag.CpNum).StepSize" value="@Model.StepSize" onchange="processChanges()">
    <span class="field-validation-valid" data-valmsg-for="CP@(ViewBag.CpNum).StepSize" data-valmsg-replace="true"></span>
}


<script>
    $(function () {
        $("#NotUsingCP2ToCP1Div1").data("invisCounter", 0);
        $("#NotUsingCP2ToCP1Div1").on("changeData", function (e) { setComponentVisibility(e); });

        if ($("#UseCP2ToCP1List")[0].checked) {
            $("#NotUsingCP2ToCP1Div1").data("invisCounter", $("#NotUsingCP2ToCP1Div1").data("invisCounter") + 1).trigger("changeData");
            $("#NotUsingCP2ToCP1Div2").data("invisCounter", $("#NotUsingCP2ToCP1Div2").data("invisCounter") + 1).trigger("changeData");
        } else {
            $("#tabBarCP2ToCP1Items").data("invisCounter", $("#tabBarCP2ToCP1Items").data("invisCounter") + 1).trigger("changeData");
        }
    });

    $("#UseCP2ToCP1List").change(function () {
        if (this.checked) {
            $("#NotUsingCP2ToCP1Div1").data("invisCounter", $("#NotUsingCP2ToCP1Div1").data("invisCounter") + 1).trigger("changeData");
            $("#NotUsingCP2ToCP1Div2").data("invisCounter", $("#NotUsingCP2ToCP1Div2").data("invisCounter") + 1).trigger("changeData");
            $("#tabBarCP2ToCP1Items").data("invisCounter", $("#tabBarCP2ToCP1Items").data("invisCounter") - 1).trigger("changeData");
        } else {
            $("#NotUsingCP2ToCP1Div1").data("invisCounter", $("#NotUsingCP2ToCP1Div1").data("invisCounter") - 1).trigger("changeData");
            $("#NotUsingCP2ToCP1Div2").data("invisCounter", $("#NotUsingCP2ToCP1Div2").data("invisCounter") - 1).trigger("changeData");
            $("#tabBarCP2ToCP1Items").data("invisCounter", $("#tabBarCP2ToCP1Items").data("invisCounter") + 1).trigger("changeData");
        }

        const exists = document.getElementById("CP1_LastModifiedOn");
        if (!exists) {
            const form = document.getElementById("CP1HiddenForm");
            const input = document.createElement('input');
            form.appendChild(input);
            input.type = "datetime-local";
            input.id = "CP1_LastModifiedOn";
            input.name = "CP1.LastModifiedOn";
            const now = Date.now();
            input.value = new Date(now);
            input.valueAsNumber = now;
        }
    });
</script>
