﻿@using Kendo.Mvc.UI
@using Orbb.Data.Common
@using Microsoft.Extensions.Localization
@using Orbb.Admin.ViewModels
@using Orbb.Data.ViewModels.Models.Lenssets

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model ControlPointVM
@{

    @inject IStringLocalizer LocString;
    @inject ICurrent<LanguageModel> currentLanguageVM;
    var currentLanguage = currentLanguageVM?.GetCurrent()?.ShortCode;
    string gridName = $"{ViewBag.listType}ItemGridCP{ViewBag.CpNum}";
    string template = "<tr id ='#: uid #' data-uid='#: uid #'>" +
        "<td class='SupplierSpecificName'>" +
            "<input id = SupplierSpecificName_#: uid # class='name' value =' #: SupplierSpecificName#'   onchange=\"changeField(this, '"+ gridName+"')\">" +
        "</td>" +
        "<td class='Radii'>" +
                "<div id='RadiiContainer_#: uid #'>" +
                    "#=iterateListForColumn(Radii, uid, 'Radii', '" + @gridName + "')#" +
                "</div>" +
            "</td>" +
            "<td class='Excentricities'>" +
                "<div id='ExcentricitiesContainer_#: uid #'>" +
                    "#=iterateListForColumn(Excentricities, uid, 'Excentricities', '" + @gridName + "')#" +
                "</div>" +
            "</td>" +
            "<td class='Sagitta'>" +
                "#: Sagitta#" +
            "</td>" +
            "<td class='k-command-cell'>" +
                "<a style = 'text-align: right;' role='button' class='k-button k-button-icontext k-grid-delete far fa-trash-alt' href='\\#' onclick=\"deleteRow(this, '" + @gridName + "')\">" +
            "</td>" +
        "</tr>";

    Model.CurvatureSectionCount = Model.CurvatureSectionCount == 0 ? 3 : Model.CurvatureSectionCount; //default value for initialisation of grid, backward compatibility with old entries in db
}
<div class="row">
    <label class="col-sm-12 control-label changeRequest">@LocString["G_SECTIONCOUNT"]</label>
    <div class="col-sm-3">
        @(Html.Kendo().NumericTextBox<int>()
               .Name("CP" + @ViewBag.CpNum + ".CurvatureSectionCount")
               .Format("n0")
               .Value(Model.CurvatureSectionCount)
               .HtmlAttributes(new { style = "width: 20%", onchange = "changeNumberOfSections(this," + @ViewBag.CpNum + ")", onfocus = "this.oldValue = this.value" })
        )
    </div>

    <label class="col-sm-12 control-label changeRequest">@LocString["G_DIAMETERS"]</label>
    <div id=@("DiameterListContainer" + ViewBag.CpNum) class="col-sm-12">
        @for (int i = 0; i < Model.CurvatureDiameters.Count; i++)
        {
           @(Html.Kendo().NumericTextBox<double>()
                .Name("CP" + @ViewBag.CpNum + ".CurvatureDiameters[" + i + "]")
                .Min(0)
                .Value(Model.CurvatureDiameters[i])//don't enter this newline -> layout fix
                .HtmlAttributes(new { style = "width: 7%", onchange = "processChanges()", type = "text" }));}@for (int i = Model.CurvatureDiameters.Count; i < Model.CurvatureSectionCount+1; i++)
        {
            @(Html.Kendo().NumericTextBox<double>()
                .Name("CP" + @ViewBag.CpNum + ".CurvatureDiameters[" + i + "]")
                .Min(0)
                .Value(0)
                .HtmlAttributes(new { style = "width: 7%", onchange = "processChanges()", type = "text" }));}</div>
</div>
@(Html.Kendo().Grid(Model.CpCurvatureList)
    .Name(gridName)
    .HtmlAttributes(new { @class = "overviewGrid has-add-button SaveWithPromise" })
    .Columns(columns =>
    {
        columns.Bound(p => p.SupplierSpecificName).Title(@LocString["G_SupplierSpecificName"]).Width("30%");
        columns.Bound(p => p.Radii).Title(@LocString["G_RADII"]).Width("40%").ClientTemplate("");
        columns.Bound(p => p.Excentricities).Title(@LocString["G_EXENTRICITIES"]).Width("40%").ClientTemplate("");
        columns.Bound(p => p.Sagitta).Title(@LocString["G_SAGITTA"]).Width("20%").ClientTemplate("");
        columns.Command(command => command.Custom("delete").Text(" ").IconClass("far fa-trash-alt")).Width(100).ClientHeaderTemplate("<div class=\"sagittaPlus\"><a onclick=\"openModal('" + gridName + "')\"><i class=\"fas fa-paste\"></i></a><a onclick=\"addNewRowCurvatureDesign(" + gridName + ")\"><i class=\"fas fa-plus\"></i></a></div>").HtmlAttributes(new { style = "text-align: right;" });
    })
    .ClientRowTemplate(template)
    .Pageable()
    .Scrollable(s => s.Height("80%"))
    .Sortable(sortable => sortable
            .AllowUnsort(true)
            .SortMode(GridSortMode.MultipleColumn)
            .ShowIndexes(true))
    .DataSource(dataSource => dataSource

        .Ajax()
        .PageSize(12)
        .Batch(true)
        .ServerOperation(false)

        .Events(events =>
        {
        })

        .Model(model =>
        {
            model.Id(m => m.Id);
            model.Field(f => f.SupplierSpecificName).DefaultValue(" ").Editable(true);
            model.Field(f => f.Radii).DefaultValue(new List<double>() { 0, 0, 0 }).Editable(false);
            model.Field(f => f.Excentricities).DefaultValue(new List<double>() { 0, 0, 0 }).Editable(false);
            model.Field(f => f.Sagitta).DefaultValue(" ").Editable(false);
        })
    /*.Read("ListItems_Overview", "Detail", new { Area = "Lenssets", lenssetId = Model.Id })*/
    .Create("CurvatureItems_Create", "Detail", new { Area = "Lenssets", cpNum = ViewBag.CpNum })
    .Update("CurvatureItems_Update", "Detail", new { Area = "Lenssets", cpNum = ViewBag.CpNum })
    .Destroy("CurvatureItems_Destroy", "Detail", new { Area = "Lenssets", cpNum = ViewBag.CpNum })
    )
)



<script>
    $(function () {
        var grids = $('#@gridName')
        grids.each(function (index) {
            var grid = $(grids[index]).data('kendoGrid');
            grid.bind("edit", grid_edit);
            grid.bind("remove", grid_edit);
        })
    })

    function grid_edit() {
        processChanges();
    }
</script>
