﻿@using Kendo.Mvc.UI
@using Orbb.Data.Common
@using Microsoft.Extensions.Localization
@using Orbb.Admin.ViewModels
@using Orbb.Data.ViewModels.Models.Lenssets
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model ControlPointVM
@{

    @inject IStringLocalizer LocString;
    @inject ICurrent<LanguageModel> currentLanguageVM;
    var currentLanguage = currentLanguageVM?.GetCurrent()?.ShortCode;
    string gridName = $"{ViewBag.listType}ItemGridCP{ViewBag.CpNum}";
}

    <div class="row">
        <div class="form-group">
            <label class="control-label">@LocString["G_TANGENTPOSITION"]</label>
            <div class="row">
                @foreach (var value in Enum.GetValues(typeof(Orbb.Common.Enumerations.TangentListPositioning)))
                {
                    @(Html.Kendo().RadioButton()
                        .Name($"CP{ViewBag.CpNum}.TangentPosition")
                        .HtmlAttributes(new { @class = "CalculationMethod", data_cp = 1 })
                        .Label(@LocString[value.ToString()])
                        .Value(Convert.ToInt32(value))
                        .Checked((Model?.TangentPosition).Equals(value)))<br />
                }
            </div>
        </div>
    </div>
@(
    Html.Kendo().Grid(Model.CpTangentList)
    .Name(gridName)
    .HtmlAttributes(new { @class = "overviewGrid has-add-button SaveWithPromise" })
    .Columns(columns =>
    {
        columns.Bound(p => p.SupplierSpecificName).Title(@LocString["G_SupplierSpecificName"]).Width(200);
        columns.Bound(p => p.CPTangentValue).Title(@LocString["G_VALUETAN"]).Width(200).ClientTemplate("#=parseFloat(CPTangentValue)#");
        columns.Command(command => command.Custom("delete").Text(" ").IconClass("far fa-trash-alt")).Width(100).ClientHeaderTemplate("<div class=\"sagittaPlus\"><a onclick=\"openModal('" + gridName + "')\"><i class=\"fas fa-paste\"></i></a><a onclick=\"addNewRow(" + gridName + ")\"><i class=\"fas fa-plus\"></i></a></div>").HtmlAttributes(new { style = "text-align: right;" });
    })
    .Editable(editable => editable.DisplayDeleteConfirmation(false))
    .Pageable()
    .Sortable()
    .Editable(editable => editable.Mode(GridEditMode.InCell))
    .Scrollable(s => s.Height("82%"))
    .DataSource(dataSource => dataSource

    .Ajax()
    .PageSize(15)
    .Batch(true)
    .ServerOperation(false)

    .Events(events =>
    {
    })

    .Model(model =>
    {
    model.Id(m => m.Id);
    model.Field(m => m.CPTangentValue);
    })
    /*.Read("ListItems_Overview", "Detail", new { Area = "Lenssets", lenssetId = Model.Id })*/
    .Create("TangentItems_Create", "Detail", new { Area = "Lenssets", cpNum = ViewBag.CpNum })
    .Update("TangentItems_Update", "Detail", new { Area = "Lenssets", cpNum = ViewBag.CpNum })
    .Destroy("TangentItems_Destroy", "Detail", new { Area = "Lenssets", cpNum = ViewBag.CpNum })
    )
)
<script>
    $(function () {
        var grids = $('#@gridName')
        grids.each(function (index) {
            var grid = $(grids[index]).data('kendoGrid');
            grid.bind("edit", grid_edit);
            grid.bind("remove", grid_edit);
        })
        bindFormElements();
    })

    function grid_edit() {
        processChanges();
    }
</script>
