﻿@media (min-width: 768px ) {

    .row {
        position: relative;
        margin-bottom:5px;
    }

    .checkboxes
    {
        padding-top:10%;
    }

    .addLine, .editLine {
        position: absolute;
        bottom: 0px;
        right: 5px;
        margin-bottom: 13px;
    }
}

.detailHeader {
    border-bottom: 1px solid #3dae4a;
    margin-bottom:4px;
    padding: 6px;
}

.detailHeader h3{
    vertical-align: bottom;
    font-size:24px;
    font-weight:bold;color:#3dae4a;display:inline-block;margin:0 10px 0 0;
}

.detailHeader span{
    display:inline-block;color:#fff;padding:5px;margin:0 10px 0 0;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.detailSub {
    float: right;
}

.cf:before,
.cf:after {
    content: " ";
    display: table;
}
.cf:after {
    clear: both;
}
/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
    padding-top:15px;
}

/*Kendo fixes*/
.k-dropdown
{
    height:100%;
}

#printButton {
    margin-top: -7px;
    margin-right: 8px;
    font-size: 28px;
}

.form-group > .k-numerictextbox
{
    display:block;
    width:100%;
    border: 1px solid #ccc;
}

.preLoader
{
    margin-bottom:10px;
    margin-right:10px;
}

.form-group > .k-dropdown input[type=text]
{
    border-bottom:1px #dbdbdb dashed;
    color:red;
}

table .form-group
{
    margin:0!important;
    margin-bottom:5px!important;
}

table .form-group .k-dropdown
{
    height:30px;
}

table .form-group .k-dropdown-wrap, table .form-group .k-dropdown-wrap .k-input
{
    height:100%;
    line-height:1.5em;
}


table td
{
    border:none !important;
}

div.mytablecell {
    display:table-cell;
    float:none;
}

.height200 {
    /*height:200px!important;*/
}

.showBtn.showProduct {
    margin-left:4px;
    width: 36px;
    height:33px;
}