﻿@using Kendo.Mvc.UI
@using Microsoft.Extensions.Localization
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    @inject IStringLocalizer LocString
    Layout = "/Views/Shared/_Layout.cshtml";
    ViewBag.Title = LocString["G_LENSFITTING_ALGORITHM"];
    ViewBag.Title2 = LocString["M_LENSFITTING"];
    ViewBag.Title3 = LocString["M_ALGORITHM"];
}

@section css {
    @{ await Html.RenderPartialAsync("_UploadPluginCss", false); }
}


<div id="detailHeader">
    <div id="detailHeaderTitle">
        <ul class="detailHeaderBreadcrumbs">
            <li id="detailHeaderIconBreadcrumb-Home"><a href="/"><i class="fas fa-th-large"></i>&nbsp;/</a></li>
            <li id="detailHeaderIconBreadcrumb-Lensfitting"><a href="/Lensfitting/menu/"> @ViewBag.Title2 /</a></li>
            <li><a href="#">@ViewBag.Title3</a></li>
        </ul>
    </div>
</div>
<div id="detailContainer">
    <div class="detailContainerContentDetails scrollableContent">
        <div class="row">
            <div class="form-group">
                <div class="col-md-12 marginTop15">
                    <div class="fileupload">
                        <form id="fileupload" action="/lensfitting/overview/UploadFileAsync" method="POST" enctype="multipart/form-data">
                           
                            <div class="row fileupload-buttonbar">
                                <label class="col-sm-12 control-label changeRequest">@LocString["M_LENS"]</label>
                                <div class="col-sm-9">
                                    @(Html.Kendo().MultiSelect()
                                                        .Name("LensIds")
                                                        .DataTextField("Text")
                                                        .DataValueField("Id")
                                                        .Filter("contains")
                                                        .AutoClose(false)
                                                        .DataSource(source =>
                                                        {
                                                            source.Read(read =>
                                                            {
                                                                read.Action("GetLensesComboboxItems", "Data", new { Area = "" });
                                                            });
                                                        })
                                                        .Deferred()
                                    )
                                </div>
                                <div class="col-sm-9 marginTop15">
                                    @(Html.Kendo().CheckBox().Name("unbound").Checked(false).Label(@LocString["G_UNBOUND"]))
                                </div>
                                <div class="col-sm-9 marginTop15">
                                    @(Html.Kendo().CheckBox().Name("unlistedCP2").Checked(false).Label(@LocString["G_UNLISTEDCP2"]))
                                </div>
                                <label class="col-sm-12 control-label changeRequest"></label>
                                <div class="col-sm-9">
                                     <span class="btn btn-success fileinput-button">
                                         <i class="glyphicon glyphicon-plus"></i>
                                         <span>@LocString["G_EYEDATA"]</span>
                                         <input type="file" id="fileInput" name="files[]" multiple class="nochangetracking">
                                     </span>
                                    <!--<button type="submit" class="btn btn-primary start">
                                         <i class="glyphicon glyphicon-upload"></i>
                                         <span>@LocString["G_PROCESS"]</span>
                                     </button>
                                     <span class="fileupload-process"></span> -->
                                </div>
                                <div class="col-lg-5 fileupload-progress fade">
                                    <div class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100">
                                        <div class="progress-bar progress-bar-success" style="width:0;"></div>
                                    </div>
                                    <div class="progress-extended">&nbsp;</div>
                                </div>
                            </div>
                            <!-- The table listing the files available for upload/download -->
                            <table role="presentation" class="table table-striped"><tbody class="files"></tbody></table>
                            <div class="results">

                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_UploadPluginScripts", false); }
    <environment names="Development">
        <script src="~/js/kendoGridSizing.js"></script>
        <script src="~/js/LensFitting/lensfitting.overview.js"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="~/js/kendoGridSizing.js" asp-append-version="true"></script>
        <script src="~/js/LensFitting/lensfitting.overview.min.js" asp-append-version="true"></script>
    </environment>
    <script>
        var noHint = $.noop;

        function placeholder(element) {
            return element.clone().addClass("k-state-hover").css("opacity", 0.65);
        }

        function onChange(e) {
            const grid = $("#grid").data("kendoGrid");
            const skip = grid.dataSource.skip();
            const newIndex = e.newIndex + skip;
            const data = grid.dataSource.data();
            const dataItem = grid.dataSource.getByUid(e.item.data("uid"));

            grid.dataSource.remove(dataItem);
            grid.dataSource.insert(newIndex, dataItem);


            const jsonBuilder = [];
            for (let i = 0; i < data.length; i++) {
                jsonBuilder.push({ Id: data[i].id, DisplayOrder: i + 1 });
            }
            const toReturn = JSON.stringify(jsonBuilder);

            $.ajax({
                type: 'POST',
                url: '/LensDataSets/Overview/UpdateDisplayOrder/',
                contentType: "application/json; charset=utf-8",
                data: toReturn,
                dataType: 'json',
                success: function (msg) {
                    alert(msg);
                }
            });

        }

    </script>


}