﻿@model Orbb.Data.ViewModels.Models.Security.UserDetailVm
@using Microsoft.Extensions.Localization

@*@addTagHelper "*, Microsoft.AspNet.Mvc.TagHelpers"*@
@*@inject IStringLocalizer LocString*@
@{ 
    @inject IStringLocalizer LocString;

    Layout = null;
    ViewBag.Title = LocString["M_USERS"];
}
   
<div id="detailView">
    @*<div id="detailHeader">
        <div id="detailHeaderTitle">
            <h1 id="detailHeaderIcon-@ViewBag.Title">@ViewBag.Title</h1>
        </div>
        
    </div>*@
    <div id="detailContainer">
        <div class="detailContainerContent">
            @*<form asp-controller="UserDetail" asp-route-area="Security" asp-action="Update" method="post" class="form-horizontal" role="form">*@
            <form class="form-horizontal" role="form">
                <div class="row">
                    <div class="col-sm-10">
                        <div class="form-group">
                            <label class="col-sm-12 control-label">@LocString["LN_USERNAME"]</label>
                            <div class="col-sm-9">
                                <input asp-for="@Model.UserName" value="@Model.UserName" class="form-control" id="UserNamePopUp"/>
                                <span asp-validation-for="@Model.UserName" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-12 control-label">@LocString["LN_PASSWORD"]</label>
                            <div class="col-sm-9">
                                <input asp-for="@Model.Password" value="@Model.Password" type="password" class="form-control" id="PasswordPopUp"/>
                                <span asp-validation-for="@Model.Password" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-12 control-label">@LocString["LN_CONFIRM_PASSWORD"]</label>
                            <div class="col-sm-9">
                                <input asp-for="@Model.Password" value="@Model.Password" type="password" class="form-control" id="ConfirmPasswordPopUp" />
                                <span asp-validation-for="@Model.Password" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<script src="~/js/core/custom.form.change.js"></script>