﻿@using Kendo.Mvc.UI
@using Microsoft.Extensions.Localization
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    @inject IStringLocalizer LocString

    Layout = "/Views/Shared/_Layout.cshtml";
    ViewBag.Title = LocString["M_CONTROLPOINTCATEGORIES"];
    ViewBag.Title2 = LocString["M_LENSSETTINGS"];
    ViewBag.Title3 = LocString["M_CONTROLPOINTCATEGORIES"];
}

<div id="detailHeader">
    <div id="detailHeaderTitle">
        <ul class="detailHeaderBreadcrumbs">
            <li id="detailHeaderIconBreadcrumb-Rates"><a href="/"><i class="fas fa-th-large"></i>&nbsp;/</a></li>
            <li id="detailHeaderIconBreadcrumb-Settings"><a href="/settings/menu/"> @ViewBag.Title2 /</a></li>
            <li><a href="#">@ViewBag.Title3</a></li>
        </ul>
    </div>
</div>
<div id="detailContainer">
    <div class="detailContainerContent">
        @(Html.Kendo().Grid<Orbb.Data.Models.Models.Views.ControlpointCategoryView>()
            .Name("grid")
            .Columns(columns =>
            {
                columns.Bound(c => c.Name).Title(LocString["G_CATEGORY"]).Filterable(ftb => ftb.Cell(cell => cell.Operator("contains")));
                columns.Bound(c => c.NumberOfAxes).Title(LocString["G_NUMBEROFAXES"]).Filterable(ftb => ftb.Cell(cell => cell.Operator("eq")));
            })
            .Editable(edit => edit.DisplayDeleteConfirmation(false))
            .Pageable()
            .Sortable()
            .Selectable()
            .Scrollable(s => s.Height("100%"))
            .Filterable(ftb => ftb.Mode(GridFilterMode.Row))
            .DataSource(dataSource => dataSource
                .Ajax()
                .PageSize(15)
                .Read(read => read.Action("ControlpointCategory_Overview", "Overview"))
                .Events(events => events.Error("error_handler"))
                .Model(model => model.Id(m => m.Id))
            )
            .Deferred()
        )
</div>
</div>

@section Scripts {
    <environment names="Development">
        <script src="~/js/kendoGridSizing.js"></script>
        <script src="~/js/ControlpointCategories/ControlpointCategories.overview.js"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="~/js/kendoGridSizing.js" asp-append-version="true"></script>
        <script src="~/js/ControlpointCategories/ControlpointCategories.overview.min.js" asp-append-version="true"></script>
    </environment>
    <script>
        var noHint = $.noop;

        function placeholder(element) {
            return element.clone().addClass("k-state-hover").css("opacity", 0.65);
        }

        function onChange(e) {
            const grid = $("#grid").data("kendoGrid");
            const skip = grid.dataSource.skip();
            const newIndex = e.newIndex + skip;
            const data = grid.dataSource.data();
            const dataItem = grid.dataSource.getByUid(e.item.data("uid"));

            grid.dataSource.remove(dataItem);
            grid.dataSource.insert(newIndex, dataItem);


            const jsonBuilder = [];
            for (let i = 0; i < data.length; i++) {
                jsonBuilder.push({ Id: data[i].id, DisplayOrder: i + 1 });
            }
            const toReturn = JSON.stringify(jsonBuilder);

            $.ajax({
                type: 'POST',
                url: '/ControlpointCategories/Overview/UpdateDisplayOrder/',
                contentType: "application/json; charset=utf-8",
                data: toReturn,
                dataType: 'json',
                success: function (msg) {
                    alert(msg);
                }
            });

        }
    </script>
}