﻿@using Kendo.Mvc.UI
@using Orbb.Data.Common
@using Microsoft.Extensions.Localization
@using Orbb.Admin.ViewModels
@using Orbb.Data.ViewModels.Models.Globalization
@using System.Net
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model Orbb.Data.ViewModels.Models.Orders.OrderVM
@{

    @inject IStringLocalizer LocString;
    @inject ICurrent<LanguageModel> currentLanguageVM;
    ViewBag.Title = @LocString["G_DETAIL_ORDER"];
    ViewBag.Title2 = LocString["M_ORDERS"];
    var currentLanguage = currentLanguageVM?.GetCurrent()?.ShortCode;
    Layout = "/Views/Shared/_Layout.cshtml";
}

@section css {
    @{ await Html.RenderPartialAsync("_UploadPluginCss", false); }
}

<div id="detailHeader">
    <div id="detailHeaderTitle">
        <ul class="detailHeaderBreadcrumbs">
            <li id="detailHeaderIconBreadcrumb-Home"><a href="/"><i class="fas fa-th-large"></i>&nbsp;/</a></li>
            <li id="detailHeaderIconBreadcrumb-Overview"><a href="@Url.Action("Index", "Overview")">@ViewBag.Title2 /</a></li>
            <li><a href="#">@LocString["G_DETAIL"]</a></li>
        </ul>
    </div>
</div>

<div id="detailContainer">
    <div id="commandButtons"></div>

    <form asp-controller="detail" asp-route-area="Orders" asp-action="update" method="post" class="form-horizontal" role="form">
        <div class="detailContainerContentTabBar">

            <ul class="TabBarStyle tabstrip-main">
                <li class="k-state-active" id="tabBarGeneral">
                    @LocString["G_GENERAL"]
                </li>
            </ul>

            @* Order details *@
            <div class="detailContainerContent scrollableContent">
                @if (ViewBag.Readonly != "true")
                {
                    <div class="form-group hidden">
                        <input asp-for="@Model.Id" />
                    </div>
                }
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="col-sm-12 control-label changeRequest">@LocString["G_ORDER_DATE"]</label>
                            @if(Model.Date == new DateTime())
                            {
                                var n = DateTime.Now;
                                Model.Date = new DateTime(n.Year,n.Month,n.Day,n.Hour,n.Minute,0);
                            }
                            <div class="col-sm-9">
                                <input asp-for="@Model.Date" class="form-control" />
                                <span asp-validation-for="@Model.Date"></span>
                            </div>





                            <label class="col-sm-12 control-label changeRequest">@LocString["G_CUSTOMER"]</label>
                            <div class="col-sm-9">
                                @(Html.Kendo().DropDownList()
                                                        .Name("CustomerId")
                                                        .DataTextField("Text")
                                                        .DataValueField("Id")
                                                        .Value(Model.CustomerId.ToString())
                                                        .DataSource(source =>
                                                        {
                                                            source.Read(read =>
                                                            {
                                                                read.Action("GetCustomerComboboxItems", "Data", new { Area = "" });
                                                            });
                                                        })
                                                        .Deferred()
                                )
                            </div>

                            <label class="col-sm-12 control-label changeRequest">@LocString["G_SUPPLIERNAME"]</label>
                            <div class="col-sm-9">
                                @(Html.Kendo().DropDownList()
                                                        .Name("SupplierId")
                                                        .DataTextField("Text")
                                                        .DataValueField("Id")
                                                        .Value(Model.SupplierId.ToString())
                                                        .Filter(FilterType.Contains)
                                                        .DataSource(source =>
                                                        {
                                                            source.Read(read =>
                                                            {
                                                                read.Action("GetSupplierComboboxItems", "Data", new { Area = "" });
                                                            });
                                                        })
                                                        .Deferred()
                                )
                            </div>

                            <label class="col-sm-12 control-label changeRequest">@LocString["G_FITTEDLENS"]</label>
                            <div class="col-sm-9">
                                <input asp-for="@Model.FittedLens" class="form-control integer" />
                                <span asp-validation-for="@Model.FittedLens"></span>
                            </div>

                            <label class="col-sm-12 control-label changeRequest">@LocString["G_ORDER_STATUS"]</label>
                            <div class="col-sm-9">
                                @(Html.Kendo().DropDownList()
                                    .Name("Status")
                                    .DataTextField("Text")
                                    .DataValueField("Id")
                                    .Value(Model.Status.ToString())
                                    .Filter(FilterType.Contains)
                                    .DataSource(source =>
                                    {
                                        source.Read(read =>
                                        {
                                            read.Action("GetOrderStatusComboboxItems", "Data", new { Area = "" });
                                        });
                                    })
                                    .Deferred()
                                )
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_UploadPluginScripts", false); }

    <environment names="Development">
        <script src="~/js/Orders/orders.detail.js"></script>
        @if (ViewBag.Readonly != "true")
        {
            <script src="~/js/core/custom.form.change.js"></script>
        }
    </environment>
    <environment names="Staging,Production">
        <script src="~/js/Orders/orders.detail.min.js" asp-append-version="true"></script>
        @if (ViewBag.Readonly != "true")
        {
            <script src="~/js/core/custom.form.change.min.js" asp-append-version="true"></script>
        }
    </environment>
}