﻿@using Orbb.Admin.ViewModels
@using Orbb.Admin.ViewModels.Security
@using System.Threading
@using System.Globalization
@using Orbb.Data.Common
@using Microsoft.Extensions.Localization
@using Kendo.Mvc.UI
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@model LogIn

@{
    @inject IStringLocalizer LocString;
    @inject ICurrent<LanguageModel> currentLanguageVM;

    Layout = "/Views/Shared/_LayoutLogin.cshtml";
    ViewBag.Title = "Login";

    var currentLanguage = currentLanguageVM?.GetCurrent()?.ShortCode;

    if (currentLanguage == null)
    { currentLanguage = "en-US"; }

    Thread.CurrentThread.CurrentCulture = Thread.CurrentThread.CurrentUICulture =
        new CultureInfo(currentLanguage);

    var loginError = LocString["LN_LOGINERROR"];
}
<script>

    var returnUrl = '@Model.ReturnUrl';

    function login(e) {

        $("#DutchIcon").removeClass('activeLanguage');
        $("#FrenchIcon").removeClass('activeLanguage');
        $("#EnglishIcon").addClass('activeLanguage');

        var data = this.element.data();

        $.ajax({
            type: "POST",
            dataType: "json",
            url: "/Security/Login/ChangeLanguage",
            data: { 'returnUrl': returnUrl, 'languageCode': data.languagecode },
            success: function (data) {
                document.location.href = "/Security/Login/";
            },
            error: function (e) {
                console.log(e);
            }
        }).done(function (d) {
            console.log("done");
        });;

    }

</script>
<header>

    <div class="btn-group" role="group" id="shortlinksLanguage">

        @{

            foreach (var partialLanguage in ViewBag.LoginLanguages)
            {
                var description = currentLanguage;
                if (partialLanguage.Code == description)
                {

                    @(Html.Kendo().Button().Events(ev => ev.Click("login"))
                            .Name(partialLanguage.EnglishDescription + "Icon")
                            .HtmlAttributes(new { type = "button", @class = "miniMenuStyle activeLanguage", @data_languagecode = partialLanguage.Code })
                            .Content(partialLanguage.ShortCode)
                            .Deferred()
                    )

                }
                else
                {

                    @(Html.Kendo().Button().Events(ev => ev.Click("login"))
                            .Name(partialLanguage.EnglishDescription + "Icon")
                            .HtmlAttributes(new { type = "button", @class = "miniMenuStyle", @data_languagecode = partialLanguage.Code })
                            .Content(partialLanguage.ShortCode)
                            .Deferred()
                    )

                }
            }

        }

    </div>

</header>

<div class="loginScreenLoginBox">
    <h2 class="loginScreenErp">Lenseditor</h2>
    <hr class="loginScreenHr" />
    <h3 class="loginScreenWelkom">@LocString["LN_WELCOME"]</h3>
    <form asp-controller="Login" asp-route-area="Security" asp-action="LogIn" method="post" class="form-horizontal" role="form" id="loginScreenLoginForm">

        <input type="hidden" name="ReturnUrl" value="@Model.ReturnUrl" />

        @*<div asp-validation-summary="All" class="text-danger" style="display:none;"></div>*@

        <div class="form-group" id="loginScreenUsername">
            <!input name="Username" id="Username" asp-for="Username" class="form-control" placeholder="@LocString["LN_USERNAME"]" />
            @*<span asp-validation-for="Username" class="text-danger"></span>*@
            <!input type="hidden" id="UsernameValidation" value="@LocString["LN_USERNAMEREQUIRED"]" />
        </div>

        <div class="form-group" id="loginScreenPassword">
            <!input type="password" name="Password" id="Password" asp-for="Password" class="form-control" placeholder="@LocString["LN_PASSWORD"]" />
            @*<span asp-validation-for="Password" class="text-danger"></span>*@
            <!input type="hidden" id="PasswordValidation" value="@LocString["LN_PASSWORDREQUIRED"]" />
        </div>

        <div class="form-group">

            <div class="col-md-offset-2 col-md-10 loginScreenButton">

                <input type="submit" value="" class="btn btn-default" id="loginScreenButton" />

            </div>

        </div>

    </form>
</div>

@section Scripts {
    @Html.Kendo().DeferredScripts()
}